.rtLoading.RadToolTip_tooltip2
{
    background: url('Common/loading.gif') no-repeat center;
}
.RadToolTip_tooltip2 .rtWrapper .rtWrapperTopLeft
{
    background-image: url('ToolTip2/ToolTipSprites.png');
}
.RadToolTip_tooltip2 .rtWrapper .rtWrapperTopRight {
	background-image: url('ToolTip2/ToolTipSprites.png');
}
.RadToolTip_tooltip2 .rtWrapper .rtWrapperBottomLeft {
	background-image: url('ToolTip2/ToolTipSprites.png');
}
.RadToolTip_tooltip2 .rtWrapper .rtWrapperBottomRight {
	background-image: url('ToolTip2/ToolTipSprites.png');
}
.RadToolTip_tooltip2 .rtWrapper .rtWrapperTopCenter {
	background-image: url('ToolTip2/ToolTipSprites.png');
}
.RadToolTip_tooltip2 .rtWrapper .rtWrapperBottomCenter {
	background-image: url('ToolTip2/ToolTipSprites.png');
}
.RadToolTip_tooltip2 table.rtShadow .rtWrapperTopLeft {
	background-image: url('ToolTip2/ToolTipSprites.png');
}
.RadToolTip_tooltip2 table.rtShadow .rtWrapperTopRight {
	background-image: url('ToolTip2/ToolTipSprites.png');
}
.RadToolTip_tooltip2 table.rtShadow .rtWrapperBottomLeft {
	background-image: url('ToolTip2/ToolTipSprites.png');
}
.RadToolTip_tooltip2 table.rtShadow .rtWrapperBottomRight {
	background-image: url('ToolTip2/ToolTipSprites.png');
}
.RadToolTip_tooltip2 table.rtShadow .rtWrapperTopCenter {
	background-image: url('ToolTip2/ToolTipSprites.png');
}
.RadToolTip_tooltip2 table.rtShadow .rtWrapperBottomCenter {
	background-image: url('ToolTip2/ToolTipSprites.png');
}
.RadToolTip_tooltip2 .rtCloseButton
{
    background-image: url('../Imagenes/botones/btn_cerrar2.png');
}
.RadToolTip_tooltip2 .rtCloseButton:hover
{
    background-image: url('../Imagenes/botones/btn_cerrar2.png');
}



.RadToolTip_tooltip2 .rtWrapper .rtWrapperLeftMiddle
{
    background-image: url('ToolTip2/ToolTipVerticalSprites.png');
}
.RadToolTip_tooltip2 .rtWrapper .rtWrapperRightMiddle {
	background-image: url('ToolTip2/ToolTipVerticalSprites.png');
}
.RadToolTip_tooltip2 table.rtShadow .rtWrapperLeftMiddle {
	background-image: url('ToolTip2/ToolTipVerticalSprites.png');
}
.RadToolTip_tooltip2 table.rtShadow .rtWrapperRightMiddle {
	background-image: url('ToolTip2/ToolTipVerticalSprites.png');
}
.RadToolTip_tooltip2 .rtWrapper .rtWrapperContent {
	color: rgb(51, 51, 51); background-color: white;  
}
.RadToolTip_tooltip2 .rtTitlebar{
    color: #b814c2;
}
.RadToolTip_tooltip2 .rtCallout {
	background-image: url('ToolTip/Callouts.gif');
}

div.RadToolTip a.rtCloseButton
{
    width:20px !important;
    height:20px !important;
    padding:0 !important;
    right:1px;
    line-height:1px;
    text-indent:-999px;
    font-size:1px;
    margin-top:3px;
    margin-right:3px;
    float:right;
    display:block;
    position:absolute;
    outline-width:medium;
    outline-style:none;
    outline-color:invert;
    background-repeat:no-repeat;
    background-position-x:0px;
    background-position-y:0px;
    }
div.RadToolTip_tooltip2 table.rtShadow a.rtCloseButton
{
    margin-top:-5px !important;
    margin-right:-5px !important;
    }
    
    
.TelerikModalOverlay
{
    background-color:#000 !important;
    filter:progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=80) !important;
    }
