﻿
@model ChileCompraExpress.Entities.Categoria
@using ChileCompraExpress.Entities
@using ChileCompraExpress.Business


@{
    CategoriaBsn categoriaBsn = new CategoriaBsn();
    List<Categoria> categorias = categoriaBsn.getCategorias(Model);
    for (int i = 0; i < categorias.Count; i++ )
    {
        <ul class="categoria-1">
            <li class="categoria-1">
                <a  href="#" id="@categorias.ElementAt(i).Id.ToString()" onclick="searchSubcategorias(@categorias.ElementAt(i).Id.ToString(),'@categorias.ElementAt(i).Nombre.ToString()');return false;">@categorias.ElementAt(i).Nombre.ToString()</a>
                <div id="categorias-container-@categorias.ElementAt(i).Id.ToString()" style="display: none">
                    <table id="categorias_@categorias.ElementAt(i).Id.ToString()" style="border: 0px; float: left; width: 100%">
                
                    </table>
                    <br />
                    <hr />
                </div>
            </li>
        </ul>
     
    }
}