﻿
<div class="slider" id="carrusel_superior" style="visibility:visible;">
        <span id="tabOfertas" class="slider-heading green-heading" style="font-family:verdana;color:#555555;font-size:15px;font-weight:600;">Ofertas especiales</span>
        <div class="slider-body green-body" >
            <ul id="carruselSuperior" class="slider-content" data-bind="foreach:carruseles.superior.paquetes">
                <li data-bind="foreach:paquete" style="min-width:700px;">
                    <div class="product">
                        <div class="product-image">
                            <img class="snapshot" style="width:100px;height:100px;border: 0px;cursor:pointer" alt="" data-bind="attr:{src:UrlImagen},click: function () { verFicha($data.Id,$data.IdConvenio); }" onerror="this.src='Content/images/nodisponible1.png'" src="" />                           
                            <img class="tag-image" src="~/Content/images/products/etiqueta.png" alt="etiqueta" />
                            <span class="tag"><span data-bind="text:Descuento"></span>%</span>
                        </div>
                        <div class="product-info" style="text-decoration:none">
                            <a class="negrita gris_2" style="text-decoration:none" data-bind="text:Nombre,click: function () { verFicha($data.Id,$data.IdConvenio); }" href="#"></a><br />
                            <label class="gris_1" >ID: </label><label class="gris_1" data-bind="text:Id" ></label>                            
                            <label class="gris_1" data-bind="text:Proveedor" ></label>
                        </div>
                        <div class="product-price">
                            <div class="strike text-right small muted">
                                 <span data-bind="text:PrecioAnterior" style="font-size:11px;"></span>
                            </div>
                            <div class="huge text-right special-price">
                                 <span data-bind="text:Precio" style="font-size:14px;"></span>
                            </div>
                            <div class="excel-ref">
                                <a href="#" data-bind="click: function () { exportExcel($data); }" class="pull-left" style="color:#666666;">
                                    <img src="~/Content/images/products/excel.png" alt="Excel" class="pull-left" />Ofertas
                                    especiales del convenio</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="margin: 2em 0">
    </div>
<div id="slider" style="width:660px">

    	<div class="css-clear">

<ul class="nav nav-tabs" id="myTab">
  <li class="active" id="recien_visitado"><a href="#" id="recien_visitado_a" onclick="activarRecienVisitados();" style="text-decoration: none;"  class="negrita azul">Recién visitados</a></li>
  <li class="" id="mas_visitados"><a href="#" id="mas_visitados_a" onclick="activarMasVisitados();" style="text-decoration: none;"class="negrita azul">Mis más visitados</a></li>  
  <li class="" id="los_mas_visitados"><a href="#" id="los_mas_visitados_a" onclick="activarLosMasVisitados();" style="text-decoration: none;"  class="negrita azul">Los más visitados <label class="negrita azul" style="cursor:pointer" onclick="javascript:MasVistos('false');">(+)</label></a></li> 
</ul>

<div class="tab-content">
  <div class="tab-pane bordes-bajo active" id="recienvistos">
     <ul id="carruselInferiorRecienVistos" class="slider-content" data-bind="foreach:carruseles.inferiorRecienVistos.paquetes">
            <li data-bind="foreach:paquete">
                <div class="product no-discount">
                    <div class="product-image">
                        <img class="snapshot" style="width:100px;height:100px" alt="" style="width:100px;height:100px;border: 0px;cursor:pointer" onerror="this.src='Content/images/nodisponible1.png'" data-bind="attr:{src:UrlImagen},click: function () { verFicha($data.Id,$data.IdConvenio); }" src="" />
                        
                    </div>
                    <div class="product-info" style="text-decoration:none">
                        <a style="text-decoration:none" class="negrita gris_2" data-bind="text:Nombre,click: function () { verFicha($data.Id,$data.IdConvenio); }" href="#" ></a><br />
                        <label class="gris_1">ID: </label><label class="gris_1" data-bind="text:Id" ></label>
                           
                        <label class="gris_1" data-bind="text:Proveedor" ></label>
                    </div>
                    <div class="product-price">
                        <div class="huge text-right">
                            <span data-bind="text:Precio" style="font-size:14px;"></span>
                        </div>
                        <div class="excel-ref">
                            <a href="#" data-bind="click: function () { exportExcel($data); }" class="pull-left" style="color:#666666;">
                                <img src="~/Content/images/products/excel.png" alt="Excel" class="pull-left" />Ofertas
                                especiales del convenio</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
  </div>
  <div class="tab-pane bordes-bajo" id="masvistos">
      <ul id="carruselInferiorMasVistos" class="slider-content" data-bind="foreach:carruseles.inferiorMasVistos.paquetes">
            <li data-bind="foreach:paquete">
                <div class="product no-discount">
                    <div class="product-image">
                        <img class="snapshot" alt="" style="width:100px;height:100px;border: 0px;cursor:pointer" data-bind="attr:{src:UrlImagen},click: function () { verFicha($data.Id,$data.IdConvenio); }" onerror="this.src='Content/images/nodisponible1.png'" src="" />
                        
                    </div>
                    <div class="product-info" style="text-decoration:none">
                        <a style="text-decoration:none" class="negrita gris_2" data-bind="text:Nombre, click: function () { verFicha($data.Id,$data.IdConvenio); }" href="#" ></a><br />
                        <label class="gris_1">ID: </label><label class="gris_1" data-bind="text:Id" ></label>
                           
                        <label class="gris_1" data-bind="text:Proveedor" ></label>
                    </div>
                    <div class="product-price">
                        <div class="huge text-right">
                            <span data-bind="text:Precio" style="font-size:14px;"></span>
                        </div>
                        <div class="excel-ref">
                            <a href="#" data-bind="click: function () { exportExcel($data); }" class="pull-left" style="color:#666666;">
                                <img src="~/Content/images/products/excel.png" alt="Excel" class="pull-left" />Ofertas
                                especiales del convenio</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
  </div>
  <div class="tab-pane bordes-bajo" id="losmasvistos">
      <ul id="carruselInferiorLosMasVistos" class="slider-content" data-bind="foreach:carruseles.inferiorLosMasVistos.paquetes">
            <li data-bind="foreach:paquete">
                <div class="product no-discount">
                    <div class="product-image">
                        <img class="snapshot" alt="" style="width:100px;height:100px;border: 0px;cursor:pointer" data-bind="attr:{src:UrlImagen},click: function () { verFicha($data.Id,$data.IdConvenio); }"  onerror="this.src='Content/images/nodisponible1.png'" src="" />
                        
                    </div>
                    <div class="product-info" style="text-decoration:none">
                        <a style="text-decoration:none" class="negrita gris_2" data-bind="text:Nombre,click: function () { verFicha($data.Id,$data.IdConvenio); }" href="#" ></a>
                        
                        <br />
                        <label class="gris_1">ID: </label><label class="gris_1" data-bind="text:Id" ></label>
                           
                        <label class="gris_1" data-bind="text:Proveedor" ></label>
                    </div>
                    <div class="product-price">
                        <div class="huge text-right">
                            <span data-bind="text:Precio" style="font-size:14px;"></span>
                        </div>
                        <div class="excel-ref">
                            <a href="#" data-bind="click: function () { exportExcel($data); }" class="pull-left" style="color:#666666;">
                                <img src="~/Content/images/products/excel.png" alt="Excel" class="pull-left" />Ofertas
                                especiales del convenio</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
  </div>
</div>
</div>
</div>
    <div id="modal_minificha">
    </div>
    <script type="text/javascript">
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

    </script>
