﻿#categorias-container {
    height: 100%;
    background: url(images/botones/bg-categories.png) repeat-y 156px 0;
}

#categorias-container .column-1 {
    float: left;
    width: 117px;
    margin: 0 0 0 40px;
}

/*#region Tipos */
#tipos-categoria {
    width: 100px;
}


/*#endregion*/

#categorias {
    float: left;
    width: 780px;
    min-height: 120px;
    padding: 14px 42px;
    border: 1px solid #969696;
    border-left: none;
}

/*#region Categorías 1er nivel */
.categoria-1 {
    display: block;
    font-size: 14px;
}

.categoria-1 + .categoria-1 {
    margin: 14px 0 0 0;
}

.categoria-1 > a {
    padding: 0 0 0 20px;
    background: url(images/botones/icon-plus.png) no-repeat left 3px;
    color: #113e81;
    text-decoration: underline;
}

.categoria-1 > a:hover {
    background-image: url(images/botones/icon-plus-hover.png);
}

.categoria-1 a.clicked {
    background-image: url(images/botones/icon-minus.png);
}

.categoria-1 a.clicked:hover {
    background-image: url(images/botones/icon-minus-hover.png);
}
/*#endregion*/

/*#region Subcategorías */
.categorias-2-container {
    width: 762px;
    margin: 10px 0 20px 20px;
    padding: 0 0 20px 0;
    border-bottom: 1px dotted #333;
}

.categorias-2 {
    float: left;
    width: 240px;
    font-size: 12px;
    word-wrap: break-word;
    background: url(images/botones/bullet.png) no-repeat 4px 3px;
}

.categorias-2 + .categorias-2 {
    margin-left: 20px;
}

.categoria-2 span {
    padding: 0 0 0 20px;
    color: #333;
    font-weight: bold;
}

li.categoria-3 {
    margin: 8px 0 0 0;
    padding: 0 0 0 20px;
    background: url(images/botones/icon-prod.png) no-repeat left 2px;
}

.categoria-3 a {
    color: #113e81;
    text-decoration: underline;
}
/*#endregion*/

.links-externos {
    margin: 20px 0 0 0;
}

.links-externos li {
    display: block;
}

.links-externos li + li {
    margin: 10px 0 0 0;
}

.links-externos a {
    color: #0063ac;
}
