﻿#content
{
    width: 65%;
    float: left;
}

.bx-viewport {
    max-height: 300px;
    /*min-width:700px;*/
}

.icoLista
{
    background-image: url('Estilos/Imagenes/Iconos/ic_listachica1.png');
    background-repeat: no-repeat;
}   

#left-bar
{
    width: 11%;
    float: left;
    margin-right: 6px;
}

#right-bar
{
    width: 19%;
    float: right;
}

.slider
{
    padding-left: 35px;
    padding-top: 3px;
}

/* Categorias */



.category-btn
{
    display: block;
    border: 1px solid #999999 !important;
    background-color: #CCCCCC !important;
    background-image: linear-gradient(#FFFFFF, #CCCCCC) !important;
    width: 120px;
    height: 30px;
    text-align: left;
    font-size: 1.1em;
    position: relative;
    margin-bottom: -1px;
}

.category-btn:after
{
    border: 5px solid transparent;
    border-left-color: rgb(64, 125, 200);
    content: "";
    position: absolute;
    right: 5px;
    top: 10px;
}

.category-btn:hover
{
    background: #FFFFFF !important;
    border-right: none !important;
}

.category-btn:hover:after
{
    border: none;
}

.menu_tiendas_listas
{
    font-size:8.5px;
}

/* Enlaces izquierda */

#left-links a
{
    display: block;
    font-size: 10px;
    margin: 1em 0;
}

.blue
{
    color: #135799 !important;
}
.blue:hover
{
    color: #2B8AE7 !important;
}

/* Carruseles */
.slider-heading
{
    padding: 4px 10px;
    font-size: 13px;
    background:#fff;
    font-weight:bold;
}

.slider-heading a
{
    text-decoration: none !important;
    color: #545454 !important;
    font-weight:bold;
}

.slider-body
{
    padding: 0px;
    padding-bottom: 0;
    margin-top: 3px;
    width: 615px;
    border-top:1px solid #dedede;
}

.green-heading
{
    /*background-color: #92D152;
    background-image: linear-gradient(#68B817, #92D152);
    border: 1px solid #389B03;
    border-bottom: 1px solid #92D152;*/
}

.green-body
{
    /*background: #92D152;
    border: 1px solid #389B03;*/
}

.blue-heading
{
    background-color: #ffffff;
    /*background-image: linear-gradient(#79A6F6, #A2C0DF);*/
    border-left: 1px solid #DEDEDE;
    border-top: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    margin-right: -1px;
}

.blue-heading.inactive
{
    background-color: #F0F0F0 !important;
    /*background-image: linear-gradient(#ffffff, #B1C5CF) !important;*/
    border: 1px solid #DEDEDE !important;
}
.blue-heading.inactive a{color:#0054BA!important;}
.blue-body
{
    /*background: #A2C0DF;*/
    border: 1px solid #DEDEDE !important;
}

.product
{
    /*border: 1px solid #999;*/
    width: 138px!important;
    height: 300px;
    margin: 3px;
    background: white;
    padding: 5px;
    _padding: 5px 3px 5px 4px;
    float: left;
    position: relative;
}

.no-discount
{
    height: 280px !important;
}

.product-image
{
    position: relative;
}

.snapshot
{
    width: 102px;
    /*border: 1px solid #ccc;*/
}


.quick-view
{
    cursor: pointer;
}

.tag-image
{
    position: absolute;
    right: 18px;
    top: 2px;
    height: 26px;
}
.product .product-info{width:116px;text-decoration:underline;}
.tag
{
    color: White;
    position: absolute;
    right: 21px;
    top: 5px;
    font-weight: bold;
    font-size: 0.8em;
}

.product-price
{
    position: absolute;
    width: 116px;
    bottom: 30px;
}

.excel-ref
{
    width:130px;
    margin-top: 1em;
    font-size: 0.8em !important;
}

.excel-ref img
{
    margin: 5px 3px 5px 0;
}

.invisible
{
    visibility: hidden;
}

.huge
{
    font-size: 1.3em;
}
.large
{
    font-size: 1.1em;
}
.small
{
    font-size: 0.9em !important;
}
.smaller
{
    font-size: 0.8em !important;
}
.tiny
{
    font-size: 0.7em !important;
}
.underline
{
    text-decoration: underline;
}
.strike
{
    text-decoration: line-through;
}
.special-price
{
    color: #389B03;
}

.slider-body ul
{
    margin: 0;
    padding: 0;
}

/* Informaciones */

#info-header span
{
    font-family:Verdana;
    font-size: 15px;
    color: #555555;
    vertical-align: middle;
    font-weight:600;
}

#info-header img
{
    vertical-align: middle;
}

#info-body
{
    /*border: 1px solid #57A6D0;*/
    padding: 10px 5px;
    margin-top: 10px;
    font-size: 0.8em;
}

.information a
{
    float: right;
    margin: 10px 0;
}
