﻿
input,
textarea 
{
    font-family: inherit;
    font-size: inherit;
}

/* Selectores */

.selected-item
{
    background: rgb(213, 225, 240);
    margin-bottom: 2px;
    padding: 5px;
    position: relative;
    font-size: 0.8em;
}

.selected-item a
{
    position: absolute;
    right: 0;
    top: 0;
}