﻿
.clearfix
{
    *zoom: 1;
}

.clearfix:before, .clearfix:after
{
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after
{
    clear: both;
}

.pull-left
{
    float: left;
}

.pull-right
{
    float: right;
}

.text-left
{
    text-align: left !important;
}

.text-right
{
    text-align: right !important;
}

.text-center
{
    text-align: center !important;
}

.muted
{
    color: #777777;
}

.hide
{
    display: none;
}
