﻿

body
{
	margin: 0;
	padding: 0;
	text-align: center;
	min-width: 1000px;
	font-family: Verdana;
	padding: 0 20px;
	font-size:11px;

}

div.container
{
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	padding-top:10px;

}

.bordes { border:#ccc 1px solid; }
.bordes-bajo { border:#ccc 1px solid;  border-top:0px; margin-top:0px; padding:10px; }
.borde-redondos { border-radius: 4px; }


/* Links */

/*a,
a:link,
a:visited,
a:active
{
    color: #555555;
    text-decoration: underline;
    line-height: normal;
}

a:hover 
{
    color: #777777;
}*/

a img 
{
    border: none;
}

/* Botones */

button.btn-green 
{
    background-color: #468805;
    /*background-image: linear-gradient(#AEDD22, #468805);*/
    background-image : url('Estilos/Imagenes/fondos/fondo1.png')!important;
    border-top-color: #aedd82;
    border-right-color: #88b307;
    border-bottom-color: #477b0b;
    border-left-color: #aedd82;
    background-repeat: repeat-x;
    background-position: left;
    text-shadow: 1px 1px 1px #1E6A0C;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 1.1em;
    padding: 3px 7px;
    border-radius: 5px;
}

button.btn-green:hover 
{
    border-top-color: #9bd283;
    border-right-color: #5d990d;
    border-bottom-color: #1f5c10;
    border-left-color: #9bd283;
    /*background-image: linear-gradient(#AEDD22, #1E6A0C);*/
    background-image : url('Estilos/Imagenes/fondos/fondo1a.png')!important;
    background-repeat: repeat-x;
    background-position: left;
}

/*span.tooltipster-item {
        
        margin-left: 4px;
        background: #0078c9;
        border: 3px solid #0078c9;
        width: 2.3em;
        height: 2.3em;
        padding:1px 5px 1px 4px;
        margin: 2em 0 0 -1em;
        _margin: 0em 0 0 0em;
        border-radius: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-border-radius:100%;
        color:White;
        font-weight:bold;
}*/
span.tooltipster-item {
        
    -moz-box-sizing: border-box;
    background:#0078C9;
    border: 3px solid #0078C9;
    border-radius: 300px 300px 300px 300px;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0 2px -1px -10px;
    padding: 1px 5px 1px 4px;
    width: auto;
    position:absolute;
   
}

hr 
{
    border: 1px solid gray;
}

/* Header */

#header
{
    margin-bottom: 2em;
    padding: 15px 0px 10px 0px;
    height:70px;
    border-bottom:1px solid #dddddd;
    /*overflow:hidden;*/
    margin-top:10px;
}
.cce-logo{margin:-5px 32px 0px 0px; float:left;}

#busquedaAvanzada
{
    height:auto;
    width: auto;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    background:none;
    margin: 12px 0px 0px 0px;

}



#botonesNavegacion
{
    float: right;
    width:auto;
}

.btn-header
{
    height: 83px;
    width: 90px;
    text-align: center;
    font-size: 11px;
    font-weight:bold;
    font-family:Verdana;
    vertical-align: top;
    padding: 20px 0px 0px 0px;
    border: none;
    color: #555555;
    /*float:right;*/
    margin:0px;
    overflow:hidden;
    /*
    height: 73px !important;
    width: 90px !important;
    text-align: center !important;
    font-size: 0.8em !important;
    vertical-align: top !important;
    padding-top: 40px !important;
    border: none !important;
    color: #606060 !important;*/

}
 #busquedaAvanzada label{
     margin:3px 0 3px 0;
     line-height:20px;
     display:inline-block;
     } 
  #busquedaAvanzada #q{border:1px solid #cccccc;}
 #busquedaAvanzada INPUT[type='text'] {
     padding:2px;
     width:248px;
     margin-right:15px;
     }   
#busquedaAvanzada select {
     padding:2px;
     width:257px;
     margin-right:15px;
     }   

#botonCarrito  { background: url("images/buttons/btn_carrito.png") no-repeat center top; }
#botonCarrito:hover  {  } 

#botonListas  { background: url("images/buttons/btn_listas.png") no-repeat center top; }
#botonListas:hover  {  } 

#botonListas2  { background: none no-repeat; }
#botonCarrito2  { background: none no-repeat; }

#botonOrdenes  { background: url("images/buttons/btn_ordenes.png")  no-repeat center top; }
#botonOrdenes:hover .dropdown-menu  { display:block!important; } 

#botonCompras { background: url("images/buttons/btn_compras.png") no-repeat center top; }
#botonCompras:hover  {  }

/* Content body */

#content-body 
{
    z-index: 0;
    display:block;
    overflow:hidden;
    width:auto;
    height:auto;

}

.external-link:after 
{
    /*content: url("images/icons/enlace_externo.png");*/
    margin-left: 1em;
    position: absolute;
}


/* Footer */

footer
{
    /*margin: 20px 0;*/
    padding-top: 5px;
    clear: both;
    border-top: 1px dotted gray;
    font-size: 0.8em;
}

#footer-links
{
    margin-bottom: 1em;
}

#footer-links a 
{
    text-decoration: none !important;
}

#footer-logo,
#footer-contact
{
    float: left;
}

#footer-contact
{
    margin-left: 10px;
}

.ui-autocomplete {
  z-index: 10000000;
  display: block;
  background: white;
  border: 1px solid #777;
  width: 200px;
  padding: 3px;
}

.ui-menu-item a{
    width: 200px;
    display: block;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
}

.ui-menu-item a.ui-state-focus
{
    background: Highlight;
    color: HighlightText;
}

.ui-helper-hidden-accessible { display:none; }
