﻿
/* Modales */

#detalleInformacion
{
    width: 627px !important;
    margin-left: -352px !important;
}

.info-text
{
    width: 85%;
    margin-left: 1em;
}

.info-text p
{
    font-size: 0.9em;
}

.info-download
{
    font-size: 0.9em;
    background: url("images/btn_descargar1.png") no-repeat 0px -6px;
    height:32px;
    padding:0px 0px 0px 30px;
}

.info-download:before
{
    /*content: url("images/btn_descargar1.png");*/
}

/* Mis listas */

#misListas
{
    width: 400px !important;
    margin-left: -200px !important;
}

#misListas .modal-header,
#misListas .modal-body,
#misListas .modal-footer
{
    padding: 0;
}

#misListas .modal-header h3 
{
    margin: 5px 10px;
}

.mylist 
{
    /*border-top: 1px solid #999999;*/
    border-bottom: 1px solid #999999;
    position: relative;
    padding: 7px 10px;
    text-align: left !important;
    font-size: 0.9em;
}

.mylist + .mylist 
{
    border-top: none;
}

.mylist:hover 
{
    background: rgb(213, 225, 240);
}

.mylist .actions 
{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 30;
}

#nuevaLista 
{
    text-align: left;
    padding: 7px 10px;
}

#nuevaLista input,
#nuevaLista textarea 
{
    width: 80%;
}

#nuevaListaLink 
{
    position: relative;
    padding: 7px 10px;
    text-align: left
}

#nuevaListaLink a
{
    position: absolute;
    right: 0;
    vertical-align: middle;
}

.CloseBtnA {
background: url("images/buttons/btn-closeS.png") no-repeat!important;
margin-left: -17px;
height: 17px;
}
/* Botones */

button.add,
button.save,
button.close,
button.delete,
button.cart
{
    border: none;
    cursor: pointer;
}

button.add 
{
    width: 26px;
    height: 25px;
    background: url("images/buttons/btn_agregar.png") no-repeat;
    background-position: top;
    position: absolute;
    right: 5px;
    top: 0;
}

button.save 
{
    width: 19px;
    height: 19px;
    background: url("images/buttons/btn_guardar.png") no-repeat;
    background-position: top;
}

button.close1
{
    width: 22px;
    height: 22px;
    background: url("images/buttons/btn_cerrar.png") no-repeat!important;
    background-position: top;
    position: absolute;
    right: 5px;
    top: 0;
    opacity:1;
}

button.close2
{
    width: 20px;
    height: 21px;
    background: url("images/buttons/btn_cerrar2.png") no-repeat;
    background-position: top;
    position: absolute;
    right: -12px;
    top: -14px;
}

button.delete 
{
    width: 26px;
    height: 26px;
    background: url("images/buttons/btn_eliminar.png") no-repeat;
    background-position: top;
}

button.cart 
{
    width: 20px;
    height: 21px;
    background: url("images/buttons/btn_minicarrito.png") no-repeat;
    background-position: top;
}

button.add:hover,
button.add:focus,
button.save:hover,
button.save:focus,
button.close1:hover,
button.close1:focus,
button.delete:hover,
button.delete:focus,
button.cart:hover,
button.cart:focus
{
    background-position: bottom;
}


