﻿
.icoLista
{
    background-image: url('Estilos/Imagenes/Iconos/ic_listachica1.png');
    background-repeat: no-repeat;
}


.agregar_lista_contenedor
{
    width:122px!important;
    float:right;
}

#crear_descrip { resize: none; }

.panel
{
    padding:50px;
    display:none;    
    padding:5px;
    text-align:center;    
    border:solid 1px #c3c3c3;
    text-align:left;    
    
}

.flip
{
    background-position: 4px center;
    background-color: #cccccc;
    padding: 5px 4px 5px 22px;
    background-image: url('Estilos/Imagenes/Iconos/ic_listachica1.png');
    background-repeat: no-repeat;
    cursor:pointer;
    
}



.crear_nueva
{
    cursor:pointer;
   
    
}

.mislistas:hover 
{
    background: rgb(213, 225, 240);
    cursor:pointer;
}

.denuncia-formulario-precio
{
    float: right;
    display: block;
    width: 140px;
    height: 30px;
    margin: 3px 0 0 0;
    background: url('images/botones/btn-reportar.png') no-repeat 22px 0;
}
        
a.denuncia-formulario-precio:hover
{
    background-position: 0 -30px;
    background: url('images/botones/btn-reportar-hover.png') no-repeat 22px 0;
}
        
a.denuncia-formulario-precio span
{
    display: none;
}
        
/*#endregion*/
        
/*#region Popup denuncia precio caro */
        
#btn-tooltip_navegadores
{
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
}
        
.denuncia-tooltip
{
    width: 391px !important;
    height: 298px !important;
    /*background: url('images/botones/bg-tooltip-denuncia der.png') !important;*/
}
        
.denuncia-tooltip .title
{
    margin-left: 0;
    margin-bottom: 40px;
}
        
.denuncia-btn-close
{
    position: absolute;
    top: 34px;
    right: 40px;
    width: 18px;
    height: 20px;
    background: url('images/botones/btn-close.png') no-repeat;
}
        
.denuncia-btn-close span
{
    display: none;
}
        
.denuncia-text-container
{
    margin: 0px 0 0 32px;
    padding: 0 10px;
    width: 309px;
    height: 449px;
    overflow: hidden;
    color: #0063ac;    
}

.denuncia-text-container .title
{
    margin-top:  40px !important;
}
        
.denuncia-aviso
{
    margin-bottom: 10px;
    padding: 10px 10px 10px 26px;
    background: #FFF8CD url('images/botones/exclamacion.png') no-repeat 10px center;
    color: #333;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
        
.denuncia-aviso-titulo
{
    margin-bottom: 5px;
    color: #F29935;
    font-weight: bold;
    text-transform: uppercase;
}
        
.denuncia-text
{
    height: 200px;
    color: rgb(51, 51, 51);
    overflow: auto;
}
        
.denuncia-descipcion
{
    margin-bottom: 10px;
    width: 299px;
    height: 10px;
}
        
.denuncia-files-info
{
    margin-top: 5px;
    font-size: 10px;
    font-style: italic;
}
        
.btn-delete
{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    background: url('images/botones/icon-eliminar.png') no-repeat 0 -6px;
    float: left;
    margin: 0px 10px 5px 10px;
}
        
.btn-delete:hover
{
    background-image: url('images/botones/icon-eliminar-hover.png') no-repeat 0 -6px;
}
        
#denuncia-enviar
{
    position: relative;
    left: 110px;
    width: 95px;
    height: 30px;
    margin: 10px 0px 0px 0px;
    background: url('images/botones/btn-enviar.png') no-repeat;
    cursor: pointer;
}
        
#denuncia-enviar:hover
{
    background-image: url('images/botones/btn-enviar-hover.png');
}
        
#denuncia-enviar span
{
    display: none;
}
        
.MultiFile-label
{
    height: 30px;
}
        
.denuncia-separacion
{
    border-bottom: 1px dotted #333;
    width: 100%;
    margin-bottom: 10px;
}
        
#file-list-title
{
    display: none;
}
        
.file-list
{
    /*position: static;*/
}
        
.progress
{
    position: relative;
    width: 400px;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
}
.bar
{
    background-color: #B4F5B4;
    width: 0%;
    height: 20px;
    border-radius: 3px;
}
.percent
{
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%;
}
        
/*#region Tooltips */
.btn-tooltip
{
    display: block;
    width: 29px;
    height: 28px;
    background: url('images/botones/icon-help.png') no-repeat;
}
        
.btn-tooltip:hover
{
    background-image: url('images/botones/icon-help-hover.png');
}
        
.btn-tooltip span
{
    display: none;
}
        
/*.tooltip 
{
    position: absolute;
    display: none;
    z-index: 2;
}

.tooltip .tooltip-text-container {
    position: absolute;
}

.tooltip .title {
    margin: 10px;
    font-size: 12px;
    font-weight: bold;
}

.tooltip .btn-close {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 18px;
    height: 20px;
    background: url(../botones/btn-close.png) no-repeat;
}

.tooltip .btn-close:hover {
    background-position: -18px 0;
}

.tooltip .btn-close span {
    display: none;
}

.tooltip .tooltip-text {
    margin: 0 10px 0 10px;
}

.tooltip .tooltip-text p + p {
    margin: 10px 0 0 0;
}

.tooltip .tooltip-text ul {
    margin: 10px 0 0 30px;
    list-style-type: disc;
}
*/
.modaldenuncia
{
    left:100px;   
}

.tooltipster-shadow {
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
	color: #2c2c2c;
}
.tooltipster-shadow .tooltipster-content {
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
	/*max-width:276px;*/
}

.contenedor_sello {width:auto}
.izq_sello {float:left;width:100px}
.der_sello 
{
    float:right;width: auto;    
    text-align: left;
}