﻿@*
@{
    ViewBag.Title = "Filtros";
}

<div class="borde1 fondo2" id="bloq_iz">
    @{ 
        string searchText = "";
        var q_paramV = (ViewBag.SearchParams as List<ChileCompraExpress.XmlParserLibrary.Models.SearchParamModel>);
        if (q_paramV != null && q_paramV.Count > 0)
        {
            var q_param = (ViewBag.SearchParams as List<ChileCompraExpress.XmlParserLibrary.Models.SearchParamModel>).Where(x => x.name == "q").SingleOrDefault();
            searchText = "";
            if (q_param != null)
            {
                searchText = q_param.value;
            }
        }
         
    }
    <input type="hidden" name="searchText" id="searchText" value="@searchText"/>
    <div id="menu_filtros_busqueda">
        <div class="pregunta_navegador">
            <button id="Image4" class="btnayuda" ></button>
        </div>
   
        
        <div id="menu_filtros_resultados">
            <span class="grande negrita gobcl azul col2">Convenio</span>
            <ul>
                @{
                    Html.RenderPartial("Filtros/PartialFiltrosIzq", "CM");
                }
            </ul>
            <div style="padding: 10px 0 0 5px; width: 186px; height: 30px;">
                <span class="grande negrita gobcl azul izq">Precio</span>
                <select name="moneda" id="moneda" class="moneda" style="float:right">
                    <option>-</option>
                    @{
                        Html.RenderPartial("Filtros/PartialFiltrosIzq", "MO");
                    }
               
                </select>
            </div>
            
            <div style="width: 178px; margin-bottom: 28px;">
                @{
                    bool slider = (ViewBag.slider == null) ? false : (ViewBag.slider as bool?).Value;
                }
                @if (slider)
                {
            
                    <div style="padding-left: 10px; padding-right: 10px; height: 50px;">
                        <div id="slider">
                        </div>
                    </div>
                    <script type="text/javascript" language="javascript">
             
            @{
                    string min = ViewBag.minPrice as string;
                    string max = ViewBag.maxPrice as string;
                    bool continuar = false;

                    string min_value = ViewBag.min_value as string;
                    string max_value = ViewBag.max_value as string;

                    //if ((ViewBag.qParams as List<KeyValuePair<string, string>>).Where(x => x.Key == "PM").Count() > 0)
                    //{
                    //    string range = (ViewBag.qParams as List<KeyValuePair<string, string>>).Where(x => x.Key == "PM").First().Value;

                   //     min_value = range.Split('.')[0];
                   //     max_value = range.Split('.')[2];
                   //     continuar = true;

                   // }                 
                 
            }

            
            
            $("#slider").rangeSlider(
                { 
                    bounds: { min: @min, max: @max }, 
                    defaultValues: { min: @min_value, max: @max_value},
                    formatter: function(val){ 
                        if(isNaN(val)){
                            val = 0;
                        }
                       
                        return '$'+Math.round(val) 
                    }
                });
            
                $("#slider").on("userValuesChanged", function(e, data){
                    if(!esMasVisitado)
                    {
                        buscar('true');
                    }
                    else{
                        MasVistos('true');
                    }
                });
            
                
                    </script>
                 
                }
                <br /><span class="grande negrita gobcl col2 azul">Marca</span>
                <ul>
                    @{
                        Html.RenderPartial("Filtros/PartialFiltrosIzq", "M");
                    }
                </ul>
                <br /><span class="grande negrita gobcl col2 azul">Sello</span>
                <ul>
                    @{
                        Html.RenderPartial("Filtros/PartialFiltrosIzq", "SNOMPROV");
                    }
                </ul>
                <br /><span class="grande negrita gobcl col2 azul">Regiones de despacho</span>
                <ul>
                    @{
                        Html.RenderPartial("Filtros/PartialFiltrosIzq", "RR");
                    }
                </ul>
                <br /><span id="Label81" class="grande negrita gobcl col2 azul">Proveedor</span>
                <ul>
                    @{
                        Html.RenderPartial("Filtros/PartialFiltrosIzq", "NOMPROV");
                    }
                </ul>
            </div>
            <br />
        </div>
    </div>
</div>
*@