﻿@{
    ViewBag.Title = "FiltrosPaginacion";
}

@{
    int numVal = (ViewBag.itemsTotalCount == null) ? 0 : (ViewBag.itemsTotalCount as int?).Value;
    if (numVal > 0)
    {
                <div class="resultados_filtros_1_2">
    <a class="btnexcel1 gris_2 subr" style="text-decoration: underline;" id="descargar_excel" onclick="descargarExcel();">Descargar</a> <a class="btnimprimir1 gris_2" style="text-decoration: underline;" onclick="window.print(); return false;">
        Imprimir</a>
</div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <div class="resultados_filtros_1_3 borde1">
    <div class="bloque_filtros_busqueda1">
        <div class="resultados_opciones_1">
            <div class="resultados_opciones_1_1">
                <label class="negrita">
                    Ordenar por:</label>
            </div>
            @{
                string sortBy = (ViewBag.sortBy as string); 
            }
            <div class="resultados_opciones_1_2">
                <select class="gris_3 listilla resultFilter">
                    <option value="">Relevancia</option>
                    <option value="NP" @{if (sortBy == "NP")
                                         { @Html.Raw("selected") } }>Nombre</option><!--name-->
                    <option value="M" @{if (sortBy == "M")
                                        { @Html.Raw("selected")} }>Marca</option><!--brand-->
                    <option value="IDP" @{if (sortBy == "IDP")
                                          { @Html.Raw("selected") } }>Codigo</option><!--code-->
                    <option value="CM" @{if (sortBy == "CM")
                                         { @Html.Raw("selected") } }>Convenio</option><!--type-->
                    <option value="PM" @{if (sortBy == "PM")
                                         { @Html.Raw("selected") } }>Precio</option><!--price-->
                </select>
                <input type="button" value="" class="btninvertirfiltro"/>
                <label>Mostrar:</label>
                @{                    
                    int num = (ViewBag.Num == null) ? 1 : (ViewBag.Num as int?).Value;
                    List<int> perPage = new List<int>();

                    if (numVal <= 10)
                    {
                        perPage.Add(10);
                        
                    }
                    else if (numVal > 10 && numVal <= 20)
                    {
                        perPage.Add(10);
                        perPage.Add(20);                       
                        
                    }
                    else if(numVal > 20 )
                    {
                        perPage.Add(10);
                        perPage.Add(20);
                        perPage.Add(50);                                                
                        
                    }
                    
                    if (!perPage.Contains(num))
                    {
                        perPage.Add(num);
                    }
                    perPage.Sort();
                }
                @foreach (var item in perPage)
                {
                    if (num == item)
                    {
                        <label>@item</label>
                    }
                    else
                    {
                        <a class="azulink subr paginator" data-num="@item" style="cursor: pointer">@item</a>
                    }
                }

               
                <label>resultados</label>
            </div>
        </div>
        <div class="resultados_opciones_2">
            <div class="resultados_opciones_paginador">
             
                <div class="alineacion_paginas_2">
                   <img alt="" style="cursor: pointer" class="alineacion_paginas_less" src="/ChileCompraExpress.Web/Content/stylesprd/Imagenes/botones/btn_paginador2.png" />

                    <label class="negrita">Página</label>
                    @{
                        int totalcount = (ViewBag.itemsTotalCount == null) ? 1 : (ViewBag.itemsTotalCount as int?).Value;
                        int itemsStarts = (ViewBag.itemsStarts == null) ? 1 : (ViewBag.itemsStarts as int?).Value;
                        int itemClicked = (ViewBag.ClickedItem == null) ? 1 : (ViewBag.ClickedItem as int?).Value;
                        int pages = (totalcount / num);
                        if ((totalcount % num) != 0)
                        {
                            pages = pages + 1;
                        }

                        int starts = itemsStarts / num;
                        int pages_start = starts;
                        int pages_end = starts + 3;
                        if (starts == 0)
                        {
                             <script type="text/javascript">
                                 $(document).ready(function () {
                                     // add a Unclick handler for the img element
                                     //$('img.alineacion_paginas_less').css({ opacity: '0.5', cursor: 'default' }).unbind('click');
                                     $('img.alineacion_paginas_less').css({ opacity: '0.5', cursor: 'default' });
                                     $("img.alineacion_paginas_less").click(function () {
                                         debugger;
                                         return false; // prevents default action
                                     });
                                     //alert('Unclick Less');
                                 });

                            </script>
                        }
                        else
                        {
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    // add a click handler for the img element
                                    //$('img.alineacion_paginas_less').css({ opacity: '1', cursor: 'pointer' }).bind('click');
                                    $('img.alineacion_paginas_less').css({ opacity: '1', cursor: 'pointer' });
                                    $("img.alineacion_paginas_less").click(function () {
                                        debugger;
                                        return true; // prevents default action
                                    });
                                    //alert('Click Less');
                                });
                            </script>
                        }


                        if ((pages_end + 1) >= pages)
                        {
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    // add a Unclick handler for the img element
                                    //$('img.alineacion_paginas_more').css({ opacity: '0.5', cursor: 'default' }).unbind('click');
                                    $('img.alineacion_paginas_more').css({ opacity: '0.5', cursor: 'default' });
                                    $("img.alineacion_paginas_more").click(function () {
                                        debugger;
                                        return false; // prevents default action
                                    });
                                    //alert('Unclick More');
                                });
                             </script>
                        }
                        else
                        {
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    // add a click handler for the img element
                                    //$('img.alineacion_paginas_more').css({ opacity: '1', cursor: 'pointer' }).bind('click');
                                    $('img.alineacion_paginas_more').css({ opacity: '1', cursor: 'pointer' });
                                    $("img.alineacion_paginas_more").click(function () {
                                        debugger;
                                        return true; // prevents default action
                                    });
                                    //alert('Click More');
                                });
                            </script>

                        }
                             
                   }
                   @{ 
                      
                     @* if (pages_start > 4) 
                        {
                            <a class="azulink subr negrita paginator" data-starts="@(1 * num)" style="cursor: pointer">1</a>
                            <span class="pagnMore">...</span>
                        }*@
                       <label class="StartPage" data-starts="@(pages_start * num)"></label>
                       for (int i = 0; i < pages; i++)
                       {

                           if (i >= pages_start && i <= pages_end)
                           {

                               if (i == (itemClicked / num))
                               {
                                   <label >@(i + 1)</label>
                               }
                               else
                               {
                                <a class="azulink subr negrita paginator" data-starts="@(i * num)" style="cursor: pointer">@(i + 1)</a>
                              }
                          }
                      }
                    }
                   
                <img style="cursor: pointer" class="alineacion_paginas_more" alt="" src="/ChileCompraExpress.Web/Content/stylesprd/Imagenes/botones/btn_paginador3.png" />

                </div>
 
               
            </div>
            <div class="bloque_filtros_busqueda2">
                <div class="ir_a" style="float: right">
                    <label>
                        Ir a</label>
                    <input type="text" />
                    <button value="" class="btnira" ></button>
                </div>
            </div>
        </div>
    </div>
</div>
    }
}