﻿@model string

@{ int max_items = 5;
   int i = 0; 
}

@if ((ViewBag.PARM as ChileCompraExpress.XmlParserLibrary.Models.ParmModel) != null && (ViewBag.PARM as ChileCompraExpress.XmlParserLibrary.Models.ParmModel).PMTObjects.Count > 0)
{

    foreach (ChileCompraExpress.XmlParserLibrary.Models.PMTModel PMT in (ViewBag.PARM as ChileCompraExpress.XmlParserLibrary.Models.ParmModel).PMTObjects)
    { //selected first
        if (@PMT.NM != Model)
        {
            continue;
        }
        else
        {
            foreach (ChileCompraExpress.XmlParserLibrary.Models.PVModel PV in @PMT.PVObjects)
            {
                string value = PV.V.Replace("%2520", "%20").Replace("%20", "").Replace(" ", "").Replace("%252E", ".").Replace("%252D", "-").Replace("%C3%A1", "á").Replace("%C3%A9", "é").Replace("%C3%AD", "í").Replace("%C3%B3", "ó").Replace("%C3%BA", "ú")
                    .Replace("%C3%81", "Á").Replace("%C3%89", "É").Replace("%C3%8D", "Í").Replace("%C3%93", "Ó").Replace("%C3%9A", "Ú")
                    .Replace("%2F", "/") ;
                if ((ViewBag.qParams as List<KeyValuePair<string, string>>).Where(x => x.Key == PMT.NM).Where(x => x.Value.Replace("%2520", "%20").Replace("%20", "").Replace(" ", "").Replace("%252E", ".").Replace("%252D", "-")
                    .Replace("%C3%A1", "á").Replace("%C3%A9", "é").Replace("%C3%AD", "í").Replace("%C3%B3", "ó").Replace("%C3%BA", "ú")
                    .Replace("%C3%81", "Á").Replace("%C3%89", "É").Replace("%C3%8D", "Í").Replace("%C3%93", "Ó").Replace("%C3%9A", "Ú")
                    .Replace("%2F", "/") 
                    == value).Count() > 0)
                {
                    if (@PMT.NM == "MO")
                    {
                        <option data-nm="@PMT.NM" data-value="@PV.V">@PV.V</option>
                    }
                    else
                    {
                        <li class="buscarSelected" data-nm="@PMT.NM" data-value="@PV.V"><span class="azul izq">@PV.V</span><label class="buscar closeButton" data-nm="@PMT.NM" data-value="@PV.V" style="font-weight: bold; color: #CC0000; float: right; padding-left: 20px; cursor:pointer">X</label></li>
                    }
                    { i++; }
                }


            }
        }
    }
}

@{
    var hidden = new List<ChileCompraExpress.XmlParserLibrary.Models.PVModel>();    
}

@if ((ViewBag.PARM as ChileCompraExpress.XmlParserLibrary.Models.ParmModel) != null && (ViewBag.PARM as ChileCompraExpress.XmlParserLibrary.Models.ParmModel).PMTObjects.Count > 0)
{

    foreach (ChileCompraExpress.XmlParserLibrary.Models.PMTModel PMT in (ViewBag.PARM as ChileCompraExpress.XmlParserLibrary.Models.ParmModel).PMTObjects)
    {
        if (@PMT.NM != Model)
        {
            continue;
        }
        else
        {

            foreach (ChileCompraExpress.XmlParserLibrary.Models.PVModel PV in @PMT.PVObjects)
            {
                string value = PV.V.Replace("%2520", "%20").Replace("%20", "").Replace(" ", "").Replace("%252E", ".").Replace("%252D", "-").Replace("%C3%A1", "á").Replace("%C3%A9", "é").Replace("%C3%AD", "í").Replace("%C3%B3", "ó").Replace("%C3%BA", "ú")
                    .Replace("%C3%81", "Á").Replace("%C3%89", "É").Replace("%C3%8D", "Í").Replace("%C3%93", "Ó").Replace("%C3%9A", "Ú")
                    .Replace("%2F", "/");
                if ((ViewBag.qParams as List<KeyValuePair<string, string>>).Where(x => x.Key == PMT.NM).Where(x => x.Value.Replace("%2520", "%20").Replace("%20", "").Replace(" ", "").Replace("%252E", ".").Replace("%252D", "-").Replace("%C3%A1", "á").Replace("%C3%A9", "é").Replace("%C3%AD", "í").Replace("%C3%B3", "ó").Replace("%C3%BA", "ú")
                    .Replace("%C3%81", "Á").Replace("%C3%89", "É").Replace("%C3%8D", "Í").Replace("%C3%93", "Ó").Replace("%C3%9A", "Ú").Replace("%2F", "/") == value).Count() == 0)
                {
                    if (i < max_items)
                    {
                        if (@PMT.NM == "MO")
                        {
                            <option data-nm="@PMT.NM" data-value="@PV.V">@PV.V</option>
                        }
                        else
                        {
                        
                            <li class="buscar" data-nm="@PMT.NM" data-value="@PV.V"><span class="azul izq">@PV.V</span><a class="subr der">(@PV.C)</a></li>
                        }
                        {
                            i++;
                        }
                    }
                    else
                    {
                        hidden.Add(PV);
                        i++;
                    }
                }
            }
        }
    }
}

@{ Guid guid = Guid.NewGuid(); string hide = ""; if (i < max_items) { hide = "display:none"; }}

<div id="accordion_@guid" style="width:227px; @hide">
    <h3><span id="Ver_@guid" class="azul subr">Ver más</span></h3>
    <div>
    <ul>
    @foreach (ChileCompraExpress.XmlParserLibrary.Models.PVModel PV in hidden)
    {
            <li class="buscar"  data-nm="@Model" data-value="@PV.V"><span class="azul izq">@PV.V</span><a class="subr der">(@PV.C)</a></li>
    }
    </ul>
    </div>
</div>

<script type="text/javascript" language="javascript">
    $(function () {
        $("#accordion_@guid").accordion({
            active: false,
            animate: false,
            collapsible: true
        });
    });

    $(function () {
        $("#accordion_@guid").click(function () {

            $("#accordion_@guid span#Ver_@guid").text(function (i, text) {
                return text === "Ver más" ? "Ver menos" : "Ver más";
            })

        });
    })
    
</script>