﻿@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

@model  ChileCompraExpress.Web.ViewModels.Producto

@{
    ViewBag.Title = "Productos";
}
@section scripts {

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   
}
<div id="contenido" class="centro">
    @{
        Html.RenderPartial("Filtros/FiltrosIzq");
    }
    <div id="bloq_centro_2">
            @{
        //FILTROS DE RESULTADOS DE BUSQUEDA
            }
            <div id="resultados_filtros">
                <a class="azulink subr" href="@Url.Action("Index", "Escritorio")">Página Principal</a> <label> >> Página de resultados </label><br /><br />
                <label id="Label1" class="chico">
                @if(!String.IsNullOrEmpty(ViewBag.suggestionHtml))
                {
                    @:Quizás quiso decir</label> 
                }               
                <a href="#" class="subr azul" onclick="quizoDecir('@(ViewBag.suggestionHtml as string)');">
                    @(ViewBag.suggestionHtml as string)
                </a>
            </div>
            <div class="resultados_filtros_1">
                <label id="Label3" class="grande negrita gris_3">
                    Los resultados para</label>
                <label id="lbl_resultado_para" class="grande negrita gris_3">                
                </label><br /><br />
                <div class="resultados_filtros_1_1">
                    <label id="Label16" class="mediano gris_2">
                    @{
                        int itemStarts = (ViewBag.itemsStarts == null) ? 0 : (ViewBag.itemsStarts as int?).Value;
                        int itemClicked = (ViewBag.ClickedItem == null) ? 0 : (ViewBag.ClickedItem as int?).Value;
                        int itemsCount = (ViewBag.itemsCount == null) ? 0 : (ViewBag.itemsCount as int?).Value;
                        int itemsTotalCount = (ViewBag.itemsTotalCount == null) ? 0 : (ViewBag.itemsTotalCount as int?).Value;
                    }
                    @if (itemsCount > 0)
                    {
                       <span>@(itemClicked + 1) al @(itemClicked + itemsCount) de</span> 
                    } 
                    @itemsTotalCount encontrados</label>
                        <input type="hidden" id="elementsTotalCount" name="elementsTotalCount" value="@(ViewBag.itemsTotalCount as int?)" />
                        <input type="hidden" id="elementsStarts" name="elementsStarts" value="@(ViewBag.itemsStarts as int?)" />
                        <input type="hidden" id="elementsClicked" name="elementsClicked" value="@(ViewBag.ClickedItem as int?)" />
                        <input type="hidden" id="elementsCount" name="elementsCount" value="@(ViewBag.itemsCount as int?)" />
                        <input type="hidden" id="sortBy" name="sortBy" value="@(ViewBag.sortBy as string)" />
                        <input type="hidden" id="sortReverse" name="sortReverse" value="@(ViewBag.sortReverse as string)" />
                        <input type="hidden" id="num" name="num" value="@(ViewBag.Num as int?)" />
                        <input type="hidden" id="esMasVisitado" value="false" />
                </div>
                     
                 @{ Html.RenderPartial("Filtros/FiltrosPaginacion"); }
                
            </div>
                        
            <div id="bloq_resultados" > 
                 @{ Html.RenderPartial("Buscar/ResponseProductos"); }
            </div>
            <br />
            <div class="resultados_filtros_1">
                @{ Html.RenderPartial("Filtros/FiltrosPaginacion"); }
           </div>
           <br /><br /><br />
     </div>

    <script type="text/javascript">

        $(document).ready(function () {
            $('.btn_masproveedores_1').click(function () {
                $(this).toggleClass('opened');

                var moreBlock = $(this).parent().find('.div_mas_proveedores')

                if ($(this).hasClass('opened')) {
                    $(moreBlock).show();
                    $(this).find('.btn_mas_proveedores_2.moreClosed').hide();
                    $(this).find('.btn_mas_proveedores_2.moreOpen').show();
                }
                else {
                    $(moreBlock).hide();
                    $(this).find('.btn_mas_proveedores_2.moreClosed').show();
                    $(this).find('.btn_mas_proveedores_2.moreOpen').hide();
                }
            });

            if (esMasVisitado) {

                $("#lbl_resultado_para").text("los más visitados");
            }
            else {

                $("#lbl_resultado_para").text($("#q").val());

            }
        });

    </script>
 </div>
 

            