﻿@section scripts {
<!-- Add jQuery library -->
<script type="text/javascript" src="../../Scripts/fancy-box/lib/jquery-1.10.1.min.js"></script>

<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="../../Scripts/fancy-box/lib/jquery.mousewheel-3.0.6.pack.js"></script>

<!-- Add fancyBox main JS and CSS files -->
<script type="text/javascript" src="../../Scripts/fancy-box/source/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="../../Scripts/fancy-box/source/jquery.fancybox.css?v=2.1.5" media="screen" />

<!-- Add Button helper (this is optional) -->
<link rel="stylesheet" type="text/css" href="../../Scripts/fancy-box/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
<script type="text/javascript" src="../../Scripts/fancy-box/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>

<!-- Add Thumbnail helper (this is optional) -->
<link rel="stylesheet" type="text/css" href="../../Scripts/fancy-box/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
<script type="text/javascript" src="../../Scripts/fancy-box/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

<!-- Add Media helper (this is optional) -->
<script type="text/javascript" src="../../Scripts/fancy-box/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>



}
<div id="header">
            <img src="~/Content/images/logos/chilecompra_express.png" alt="ChileCompraExpress"
                style="margin-top: 0.5em; " />
            <div id="botonesNavegacion">
                <button id="botonCarrito" class="btn-header"  onclick="window.location ='/CMII/Tienda/frmListadoProductosEnCarrito.aspx'">
                    Mi carro</button>
                <button id="botonListas" class="btn-header" data-toggle="modal" data-target="#misListas">
                    Mis listas</button>
                <button id="botonOrdenes" class="btn-header">
                    Mis órdenes de compra</button>
                <button onclick="window.location ='/CMII/Tienda/frm_GCV2_BuscadorSolicitud.aspx'"  id="botonCompras" class="btn-header">
                    Grandes<br />
                    compras</button>
            </div>
             @{
                Html.RenderPartial("../Productos/Buscar/RequestProductos");
            }
            
        </div>
