﻿@model  ChileCompraExpress.Web.ViewModels.Producto
@using ChileCompraExpress.Web.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/stylesprd/Css/Base.css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/Scripts/jQuery/jquery-1.9.0.min.js")
    @Scripts.Render("~/Scripts/jQueryUI/js/jquery-ui-1.10.2.custom.js")
    @*@Scripts.Render("~/Scripts/Slider/jQRangeSlider-min.js")    
    @Styles.Render("~/Content/stylesprd/Css/acordiontienda.css")
    @Styles.Render("~/Content/stylesprd/Css/iThing-min.css")
    *@@Styles.Render("~/Scripts/jpreloader/css/jpreloader.css")
    @Scripts.Render("~/Scripts/jpreloader/js/jpreloader.js")
    @Scripts.Render("~/Scripts/mustache.js-master/mustache.js")
    <link rel="stylesheet" href="/ChileCompraExpress.Web/Content/Resultado.css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('body').jpreLoader();

        });
        var esMasVisitado = false;
    </script>
    <script type="text/javascript">

        function quizoDecir(valor) {

            $("#q").val(valor);
            buscar('false');

        }

    </script>
    <script type="text/javascript">

        function goToproducto(subcategoria) {

            var q = subcategoria.toString();

            $.ajax({
                async: false,
                url: productos_location,
                type: 'POST',
                cache: false,
                data: { q: q, startsFrom: 0, itemsPerPage: 10 },
                success: function (data) {

                    $("#content-body").html(data);
                }
            });

        }
    </script>
    <script type="text/javascript">
        var searchresult = [];
        var cantidad = 4;
        var counterFilterLeft = 0;

        var existe_recienVisto = false;
        var existe_masVisto = false;
        var existe_losMasVisto = false;
        var existe_ofertas = false;

        var productos_location = '/ChileCompraExpress.Web/Productos/Index';

         

function iframe(data) {


            $("#content-body").html("<a class=\"azulink subr\" href='@Url.Action("Index", "Escritorio")'>Página Principal</a> <label> >> </label><a class=\"azulink subr\" href='@Url.Action("Index", "Productos")'>Página de resultados</a><br /><br /><iframe id=\"icontenedor\" onload=\"resize()\" frameborder=\"0\" height=\"100%\" width=\"100%\" scrolling=\"no\" src=" + data + "></iframe>");



}

function resize() {

            height = $("#icontenedor").contents().find("body").outerHeight();

            $("#icontenedor").attr("height", height + "px");

        }

        function descargarExcel() {
        
            if ($("#q").val() == "") {
                return false;
            }                               

            var buscar_string = "q=" + $("#q").val();
            
            var find = '%20';
            var re = new RegExp(find, 'g');

            buscar_string = buscar_string.replace(re, '%2520');
            buscar_string = replaceAll(buscar_string, '.', '%252E');
            buscar_string = replaceAll(buscar_string, '-', '%252D');

            buscar_string += "&";              
            var regionesTemp = bindings.top_regiones.propuestas();
                
            if(regionesTemp.length > 0 )
            {
                    
                for (i = 0; i < regionesTemp.length; i++)
                {
                    if((regionesTemp.length -1) == i)
                    {
                        buscar_string += "(RR:" + regionesTemp[i].val + ")";
                    }
                    else
                    {
                        buscar_string += "(RR:" + regionesTemp[i].val + ").";
                    }
                }
            }

            

            var data = buscar_string;
            debugger;
            $.download('/ChileCompraExpress.Web/Productos/ExportExcel', data, "post");

        }

        function MasVistos(esSliderPrecio) {
                    
            esMasVisitado = true;
            $('#q').val("");

                        
            var buscar_string = ".";            
            
            var regionesTemp = bindings.top_regiones.propuestas();
                
                if(regionesTemp.length > 0 )
                {
                    
                    for (i = 0; i < regionesTemp.length; i++)
                    {
                        if((regionesTemp.length -1) == i)
                        {
                            buscar_string += "(RR:" + regionesTemp[i].val + ")";
                        }
                        else
                        {
                            buscar_string += "(RR:" + regionesTemp[i].val + ").";
                        }
                    }
                }

            buscar_string += "&q=";
           
            $.ajax({
                async: false,
                url: '/ChileCompraExpress.Web/Productos/Index',
                type: 'POST',
                cache: false,
                data: { q: buscar_string, startsFrom: $('input[name=elementsStarts]').val(), itemsPerPage: $('input[name=num]').val(), sortBy: $('input[name=sortBy]').val(), sortReverse: $('input[name=sortReverse]').val() , esMasVisto : "true", ClickedItem: $('input[name=elementsClicked]').val(),input:$("#q").val()},
                success: function (data) {
                    $("#content-body").html(data);
                   

                }
            });

        }

        function replaceAll(text, busca, reemplaza) {
            
            while (text.toString().indexOf(busca) != -1)
            
            text = text.toString().replace(busca, reemplaza);
            
            return text;
            
        }


        function buscar(esSliderPrecio) {

            var location = window.location.pathname;
            var valor = $("#q").val();
            
            //$("#esMasVisitado").val("false");
            esMasVisitado = false;
            

            if ($("#q").val() == "") {
                return false;
            }

//            if (location != productos_location)
//            {
//                debugger;
//               $('#submitButton').click();
//            }
//            else {
                var buscar_string = $("#q").val();
                                             

                var find = '%20';
                var re = new RegExp(find, 'g');

                buscar_string = buscar_string.replace(re, '%2520');
                buscar_string = replaceAll(buscar_string, '.', '%252E');
                buscar_string = replaceAll(buscar_string, '-', '%252D');
                
                
                
                var regionesTemp = bindings.top_regiones.propuestas();
                
                if(regionesTemp.length > 0 )
                {
                    buscar_string += "&requiredfields=";
                    for (i = 0; i < regionesTemp.length; i++)
                    {
                        if((regionesTemp.length -1) == i)
                        {
                            buscar_string += "(RR:" + regionesTemp[i].val + ")";
                        }
                        else
                        {
                            buscar_string += "(RR:" + regionesTemp[i].val + ").";
                        }
                    }
                }
                debugger;
                $.ajax({
                    async: false,
                    url: productos_location,
                    type: 'POST',
                    cache: false,
                    data: { q: buscar_string, startsFrom: $('input[name=elementsStarts]').val(), itemsPerPage: $('input[name=num]').val(), sortBy: $('input[name=sortBy]').val(), sortReverse: $('input[name=sortReverse]').val(), esMasVisto: "false", ClickedItem: $('input[name=elementsClicked]').val(),input:$("#q").val()},
                    success: function (data) {
                        $("#q").val(valor);
                        $("#content-body").html(data);

                       

                    }
                });
           // }
        }

        $(document).ready(function () {

            $(".dropdown_menu_ordenes").hide();

            $("#botonOrdenes").mouseover(function () {
               $(".dropdown_menu_ordenes").slideDown( "slow" );
            });

            $(".dropdown").mouseleave(function () {
               $(".dropdown_menu_ordenes").slideUp('slow');
            });
           
            var clickedCategoriesProductos = false;
            var clickedCategoriesSalud = false;
            var clickedCategoriesServicios = false;
            var overContent = false;

            $("#productos_link").click(function () {
                debugger;
                if (clickedCategoriesProductos) {
                    $("#tabs-0").slideUp(300).delay(800).fadeIn(400);
                    $("#servicios").slideUp(300).delay(800).fadeOut(400);
                    $("#salud").slideUp(300).delay(800).fadeOut(400);
                    $("#productos").slideUp(300).delay(800).fadeOut(400);
                    clickedCategoriesProductos = false;
                    overContent = false;

                    
                }
                else {
                    $(".menu_tienda_despliegue").attr("style", "height:auto");
                    $("#tabs-0").slideUp(300).delay(800).fadeOut(400);
                    $("#servicios").slideUp(300).delay(800).fadeOut(400);
                    $("#salud").slideUp(300).delay(800).fadeOut(400);
                    $("#productos").slideUp(300).delay(800).fadeIn(400);
                    clickedCategoriesProductos = true;
                    clickedCategoriesServicios = false;
                    clickedCategoriesSalud = false;

                    var categoria = { "Id" : "1" , "Nombre" : "Productos"  };

                    $.ajax({
                    async: false,
                    url: "/ChileCompraExpress.Web/Categorias/Index",
                    type: 'POST',
                    data : categoria,
                    dataType : "json",
                    cache: false,                    
                    success: function (data) {
                           
                            //Se carga el template de Categoria Nivel 1
                            $.get(
		                        '/ChileCompraExpress.Web/Templates/Categorias/tmplCategoriasN1.html',
		                        function (tmpl) {
		                            
		                            var output = Mustache.render(tmpl, data);
		                            $("#productos").html(output);
		                        }
                            );

                        }
                    });
                }

            });


            $("#servicios_link").click(function () {


                if (clickedCategoriesServicios) {
                    $("#tabs-0").slideUp(300).delay(800).fadeIn(400);
                    $("#servicios").slideUp(300).delay(800).fadeOut(400);
                    $("#salud").slideUp(300).delay(800).fadeOut(400);
                    $("#productos").slideUp(300).delay(800).fadeOut(400);
                    clickedCategoriesServicios = false;
                    overContent = false;
                }
                else {
                    $(".menu_tienda_despliegue").attr("style", "height:auto");
                    $("#tabs-0").slideUp(300).delay(800).fadeOut(400);
                    $("#productos").slideUp(300).delay(800).fadeOut(400);
                    $("#salud").slideUp(300).delay(800).fadeOut(400);
                    $("#servicios").slideUp(300).delay(800).fadeIn(400);
                    clickedCategoriesServicios = true;
                    clickedCategoriesProductos = false;
                    clickedCategoriesSalud = false;
                }

            });


            $("#salud_link").click(function () {


                if (clickedCategoriesSalud) {
                    $("#tabs-0").slideUp(300).delay(800).fadeIn(400);
                    $("#servicios").slideUp(300).delay(800).fadeOut(400);
                    $("#salud").slideUp(300).delay(800).fadeOut(400);
                    $("#productos").slideUp(300).delay(800).fadeOut(400);
                    clickedCategoriesSalud = false;
                    overContent = false;
                }
                else {
                    $(".menu_tienda_despliegue").attr("style", "height:auto");
                    $("#tabs-0").slideUp(300).delay(800).fadeOut(400);
                    $("#productos").slideUp(300).delay(800).fadeOut(400);
                    $("#servicios").slideUp(300).delay(800).fadeOut(400);
                    $("#salud").slideUp(300).delay(800).fadeIn(400);
                    clickedCategoriesSalud = true;
                    clickedCategoriesProductos = false;
                    clickedCategoriesServicios = false;
                }

            });



            $('#q').val($('#searchText').val());

            $('body').on('click', '.buscar', function () {
                if ($(this).is('li'))
                    $(this).addClass('buscarSelected');

                if ($(this).hasClass('closeButton'))
                    $(this).parent('li').removeClass('buscarSelected');

                var esMasvisto = esMasVisitado;

                if ($('#q').val() != "" ) {
                    esMasvisto = false;
                }

                
                if (!esMasvisto) {
                    buscar('false');
                }
                else {
                    MasVistos('false');
                }
            });

            $('body').on('change', '.resultFilter', function () {
                var sortby = $(this).val();
                $('input[name=sortBy]').val(sortby);
                $('input[name=sortReverse]').val('false');

                
                var esMasvisto = esMasVisitado; //Boolean($("#esMasVisitado").val());
                
                if (!esMasvisto) {
                    buscar('false');
                }
                else {
                    MasVistos('false');
                }
            });

            $('body').on('change', '.moneda', function () {
                var sortby = $(this).val();
                $('input[name=sortBy]').val(sortby);
                $('input[name=sortReverse]').val('false');

                
                var esMasvisto = esMasVisitado; //Boolean($("#esMasVisitado").val());
                
                 var valueOption = $("#moneda option:selected").val();
                 if(valueOption == "-")
                 {
                    return false;
                 }

                if (!esMasvisto) {
                    buscar('false');
                }
                else {
                    MasVistos('false');
                }
            });

            $('body').on('click', '.btninvertirfiltro', function () {
                if ($('input[name=sortReverse]').val() == 'true')
                    $('input[name=sortReverse]').val('false');
                else
                    $('input[name=sortReverse]').val('true');

                var esMasvisto = esMasVisitado; //Boolean($("#esMasVisitado").val());
                
                if (!esMasvisto) {
                    buscar('false');
                }
                else {
                    MasVistos('false');
                }
            });

            $('body').on('click', '.paginator', function () {
                debugger;
                var changed = false;
                if ($(this).data('num') !== undefined) {
                    $('input[name=num]').val($(this).data('num'));
                    changed = true;
                }

                if ($(this).data('starts') !== undefined) {
                    $('input[name=elementsClicked]').val($(this).data('starts'));
                    $('input[name=elementsStarts]').val($('.StartPage').data('starts'));
                    changed = true;
                }

                var esMasvisto = esMasVisitado; //Boolean($("#esMasVisitado").val());
                
                if (!esMasvisto) {
                    buscar('false');
                }
                else {
                    MasVistos('false');
                }
                ////alert('Start :'+ $('.StartPage').data('starts') + 'Clicked :'+ ($('input[name=elementsClicked]').val()));
            });

            $('body').on('click', '.alineacion_paginas_less', function () {
            debugger;
                var starts = parseInt($('input[name=elementsStarts]').val());
                var num = parseInt($('input[name=num]').val());
                var clickeditem = parseInt($('input[name=elementsClicked]').val());
                if (starts > 0)
                    starts = starts - num;
                $('input[name=elementsStarts]').val(starts);
                //$('input[name=elementsClicked]').val(starts);

                if ((starts+3)<clickeditem)
                {
                    $('input[name=elementsClicked]').val((starts+3));
                }

                var esMasvisto = esMasVisitado; //Boolean($("#esMasVisitado").val());
                
                if (!esMasvisto) {
                    buscar('false');
                }
                else {
                    MasVistos('false');
                }
                //alert('alineacion_paginas_less fire');
                //alert('Start :'+ $('.StartPage').data('starts') + 'Clicked :'+ ($('input[name=elementsClicked]').val()));
            });

            $('body').on('click', '.alineacion_paginas_more', function () {
                debugger;
                var starts = parseInt($('input[name=elementsStarts]').val());
                var num = parseInt($('input[name=num]').val());
                var total = parseInt($('input[name=elementsTotalCount]').val());
                var clickeditem = parseInt($('input[name=elementsClicked]').val());
                if (starts + num < total)
                    starts = starts + num;
                $('input[name=elementsStarts]').val(starts);

                if (starts>clickeditem)
                {
                    $('input[name=elementsClicked]').val(starts);
                }
                var esMasvisto = esMasVisitado; //Boolean($("#esMasVisitado").val());
                
                if (!esMasvisto) {
                    buscar('false');
                }
                else {
                    MasVistos('false');
                }

                //alert('alineacion_paginas_more fire');
                //alert('Start :'+ $('.StartPage').data('starts') + 'Clicked :'+ ($('input[name=elementsClicked]').val()));
            });

            $('body').on('click', '.ir_a button', function () {

                var page = parseInt($('.ir_a input').val());
                var num = parseInt($('input[name=num]').val());

                if (page > 0) {
                    $('input[name=elementsStarts]').val((page - 1) * num);
                    var esMasvisto = esMasVisitado; //Boolean($("#esMasVisitado").val());
                    
                    if (!esMasvisto) {
                        buscar('false');
                    }
                    else {
                        MasVistos('false');
                    }
                }

                //alert('.ir_a button click');
                
            });

            $('#btn').click(function () {



                if ($("#q").val() == "") {
                    return false;
                }


                var q = $('#q').val();

                $('#top_regionesSeleccionadas div').each(function () {
                    q = q + "+inmeta:" + "RR" + "%3D" + encodeURIComponent($(this).attr('value'));
                });

                $('#top_priceSeleccionadas div').each(function () {
                    q = q + "+inmeta:" + "PM" + ":" + encodeURIComponent($(this).attr('value'));
                });

                $('#providorSeleccionadas div').each(function () {
                    q = q + "+inmeta:" + "II" + "%3D" + encodeURIComponent($(this).attr('value'));
                });

                if ($('#marca').val() != '')
                    q = q + "+inmeta:" + "M" + "%3D" + encodeURIComponent($('#marca').val());

                if ($('#convenio').val() != '')
                    q = q + "+inmeta:" + "CM" + "%3D" + encodeURIComponent($('#convenio').val());

                $.ajax({
                    async: false,
                    url: productos_location,
                    type: 'POST',
                    cache: false,
                    data: { q: q, startsFrom: 0, itemsPerPage: 10 },
                    success: function (data) {
                        $("#btn_busqueda_av").click();
                        $("#content-body").html(data);
                    }
                });
            });

            jQuery.download = function (url, data, method) {

                if (url && data) {
                    var inputs = '';
                    jQuery.each(data.split('#'), function () {
                        var pair = this.split('=');
                        debugger;
                        inputs += '<input type="hidden" name="' + pair[0] + '" value="' + pair[1] + '" />';
                    });
                    //send request
                    jQuery('<form action="' + url + '" method="' + (method || 'post') + '">' + inputs + '</form>')
		            .appendTo('body').submit().remove();
                };
            };



        });
        
    </script>
    @*<script type="text/javascript" src="/ChileCompraExpress.Web/Scripts/bootstrap/js/modal.js"></script>   *@
    <script type="text/javascript" src="/ChileCompraExpress.Web/Scripts/bootstrap/js/dropdown.js"></script>
    <script type="text/javascript" src="/ChileCompraExpress.Web/Scripts/bootstrap/js/bootstrap-tab.js"></script>
    <style type="text/css">
        .dropdown_menu_ordenes
        {
            position: absolute;
            top: 70px;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 160px; /*padding: 5px 0;*/
            margin: 2px 0 0;
            list-style: none;
            background-color: #ffffff;
            border: 1px solid #ccc; /*border: 1px solid rgba(0, 0, 0, 0.2);*/ /*margin-top: -1px;*/
            line-height: 15px;
        }
    </style>
</head>
<body>
    <div class="container" id="contenedor">
        <div id="header">
            <a style="cursor:pointer" href="@Url.Action("Index", "Escritorio")">
                <img src="~/Content/images/logos/chilecompra_express.png" alt="ChileCompraExpress"
                    class="cce-logo" />
            </a>
            <div id="botonesNavegacion">
                @if (SessionHelper.getEsComprador())
                {                
                    <div class="dropdown">
                        <button id="botonCarrito" onclick="iframe('/CMII/Tienda/frmListadoProductosEnCarrito.aspx')"
                            class="btn-header" style="cursor: pointer">
                            Mi carro
                            <br />
                            (<span id="items" class="">@ChileCompraExpress.Web.Helpers.SessionHelper.getCountItems()</span>)</button>
                        <button id="botonListas" style="cursor: pointer" class="btn-header" data-toggle="modal"
                            data-target="#misListas">
                            Mis listas
                        </button>
                        <button id="botonOrdenes" class="btn-header" style="cursor: pointer" data-toggle="dropdown"
                            data-target="#" title="">
                            Mis órdenes de compra</button>
                        <ul class="dropdown_menu_ordenes" style="left: 190px; cursor: pointer; border: 1px solid #cccccc;"
                            role="menu" aria-labelledby="dLabel">
                            <li style="cursor: pointer; font-family: verdana; color: #555555; font-size: 11px;
                                border-bottom: 1px solid #ccc; list-style-position: inside;" onmouseover="this.style.cssText='background-color:#D5E1F0;border-bottom:1px solid #ccc;'"
                                onmouseout="this.style.cssText='background-color: white;border-bottom:1px solid #ccc;list-style-position: inside;'"
                                onclick="iframe('/cmii/tienda/frmOrdenesCompraEnviadas.aspx');">Órdenes enviadas
                            </li>
                            <li style="cursor: pointer; font-family: verdana; color: #555555; font-size: 11px;"
                                onmouseover="this.style.cssText='background-color:#D5E1F0;'" onmouseout="this.style.cssText='background-color: white'"
                                onclick="iframe('/cmii/tienda/frmGenerarOrdenCompra1.aspx');">Órdenes pendientes
                                de envío </li>
                        </ul>
                        <button onclick="iframe('/CMII/Tienda/frm_GCV2_BuscadorSolicitud.aspx');" id="botonCompras"
                            class="btn-header" style="cursor: pointer">
                            Grandes<br />
                            compras</button>
                    </div>
                }
            </div>
            @{
                Html.RenderPartial("../Productos/Buscar/RequestProductos");
            }
        </div>
        <div id="content-body">
            @RenderBody()
        </div>
        <div style="clear: both;">
        </div>
    </div>
    @Html.Partial("MisListas")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/scripts")
    <script type="text/javascript">

        var urls = {
            listas: "/ChileCompraExpress.Web/api/listas"
        };

        var bindings = {

            // Controladores de listas
            listas: {
                todas: ko.observableArray(),
                nueva: {
                    Nombre: ko.observable(),
                    Descripcion: ko.observable()
                }
            }
        };

        $(function () {

            // Solicitando listas
            $.getJSON(urls.listas, {}, function (respuesta) {

                bindings.listas.todas(respuesta);
            });

            // Enlazando la variable 'bindings' al knockoutjs
            ko.applyBindings(bindings);
        });

        $.extend(bindings, {
            // Controladores de regiones de despacho
            top_regiones: {
                confirmadas: [],
                propuestas: ko.observableArray()
            },
            top_rango: {
                confirmadas: [],
                propuestas: ko.observableArray()
            },
            providors: {
                confirmadas: [],
                propuestas: ko.observableArray()
            }
        });
    </script>
    <script type="text/javascript">
    var mostrarPopUp = true;
// Solicitando ofertas especiales
    $.getJSON("@Url.Action("RegionesDespacho", "Api")", {}, function (respuesta) {  

         
        if(respuesta != null)
        {        
            

            for(var i = 0; i < respuesta.length ; i++)
            {  
                
                if(respuesta[i].Existe == 1)
                {
                    
                    mostrarPopUp = false; 
                    var regionesTemp = bindings.top_regiones.propuestas();
                    regionesTemp.push({ id: respuesta[i].idRegion, text: respuesta[i].Nombre, val: respuesta[i].Abreviacion });
                    bindings.top_regiones.propuestas(regionesTemp); 
                     $("#btn_aceptar_regiones").attr("data-dismiss", "modal");
                }
                var option = "<option value=" + respuesta[i].Abreviacion + ">" + respuesta[i].Nombre + "</option>";
                var optionEditarRegiones = "<option value=" + respuesta[i].idRegion + ">" + respuesta[i].Nombre + "</option>";
                
                $("#region").append(optionEditarRegiones);

            }  
        }

        

        if(mostrarPopUp)
            {
                $('#selectorRegionesDespacho').modal({
                show: true,
                backdrop: 'static',
                keyboard: false
                });

//                bindings.carruseles.inferiorRecienVistos.objeto = $("#carruselInferiorRecienVistos").bxSlider({ infiniteLoop: true, hideControlOnEnd: true });
//                bindings.carruseles.inferiorMasVistos.objeto = $("#carruselInferiorMasVistos").bxSlider({ infiniteLoop: true, hideControlOnEnd: true });
//                bindings.carruseles.inferiorLosMasVistos.objeto = $("#carruselInferiorLosMasVistos").bxSlider({ infiniteLoop: true, hideControlOnEnd: true });

            }
            else
            {
                $(".slider").slideUp(300).fadeIn(700);
                
                if (($("#carruselSuperior").length) || ($("#carruselInferiorRecienVistos").length)
                || ($("#carruselInferiorMasVistos").length) || ($("#carruselInferiorLosMasVistos").length)) {
                bindings.carruseles.superior.objeto = $("#carruselSuperior").bxSlider({ infiniteLoop: true, hideControlOnEnd: true });
//               bindings.carruseles.inferiorRecienVistos.objeto = $("#carruselInferiorRecienVistos").bxSlider({ infiniteLoop: true, hideControlOnEnd: true });
//                bindings.carruseles.inferiorMasVistos.objeto = $("#carruselInferiorMasVistos").bxSlider({ infiniteLoop: true, hideControlOnEnd: true });
//                bindings.carruseles.inferiorLosMasVistos.objeto = $("#carruselInferiorLosMasVistos").bxSlider({ infiniteLoop: true, hideControlOnEnd: true });

                $(".slider").removeAttr("visibility");
                $(".slider").attr("style", "visibility: visible");
                $(".slider").slideDown(300).fadeIn(700);
                }
            }
    });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
