﻿
@using ChileCompraExpress.Web.Helpers
@model ChileCompraExpress.Entities.Producto

@{
    ViewBag.Title = "MisListasPopOver";
}

<script type="text/javascript">
    $(document).ready(function () {

        getListas("@Model.Id", "@Model.IdConvenio", "@Model.IdProveedor");
    });

</script>
<div class="arrow-pu">

<label ID="Label15" runat="server" class="grande gobcl gris_3 negrita col2">Mis listas</label>
<div class="agregar_lista_items" style="_width:150px; width:200px; width:140px; height:120px;overflow:auto;">
<br />
    <ul class="lista1" id="lista_li">        
    </ul>
</div>
<label id="Label125">Crear nueva</label>
<div class="agregar_lista_items2">
    <ul>
        <li>
        <div class="der"></div></li>
        <li>
        <input type="text" id="crear_nombre" name="nombre" data-bind="value:listas.nueva.Nombre" placeholder="Escriba un nombre" /><br/>            
        </li>
        <li><textarea name="desc" id="crear_descrip" data-bind="value:listas.nueva.Descripcion" placeholder="Escriba una descripción para la lista" rows="4" cols="auto"></textarea>
        <input type="button" id="Button1" onclick="nuevaListaMinificha();" value="" class="btn_guardar_lista der"  /></li>
    </ul>
</div>
</div>
