﻿
<div id="misListas" class="modal hide" tabindex="-1">
    <div id="cerrar_modal" class="modal-header text-left">
       @* <button type="button" class="close close2" data-dismiss="modal" onclick="ocultarNuevaLista()"></button>*@
       <a id="cerrar_modal1" href="#" onclick="ocultarNuevaLista();return false;" data-dismiss="modal" style="float:right;" >
          <img src="~/Content/images/botones/btn_cerrar2.png" alt="info" /></a>
        <h3 style="text-align:left;font-family:Verdana;color:#555555;font-size:15px;font-weight:600;">Mis listas</h3>
    </div>
    <div class="modal-body" data-bind="foreach:listas.todas"  style="overflow-x:hidden; overflow-y:scroll;height:250px">
        <div class="mylist">
            
            <div data-bind="attr:{onclick:'verLista('+Id+',\''+ Nombre +'\')'}"><span style="cursor:pointer" data-bind="text:Nombre"></span></div>
            <div class="actions">
                <button class="cart"  data-bind="attr:{onclick:'agregarListasDeCompras('+ Id +',\''+ Nombre +'\')'}"></button>
                <button class="delete" data-bind="attr:{onclick:'eliminarLista('+$index()+')'}"></button>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="background-color:#F0F0F0">
        <div id="nuevaListaLink">
            <span>Crear nueva</span>
            <button class="add" onclick="$('#nuevaLista').show()"></button>
        </div>
        <form id="nuevaLista" class="hide" action="javascript:nuevaLista()">
            <input type="text" name="nombre" id="nombre" style="font-style:italic;" data-bind="value:listas.nueva.Nombre" placeholder="Escriba un nombre" /><br/>
            <textarea name="desc" id="desc" style="font-style:italic;overflow-y: auto;" data-bind="value:listas.nueva.Descripcion" placeholder="Escriba una descripción para la lista" rows="4" cols="auto"></textarea>
            <button type="button" class="save" onclick="nuevaLista()"></button>
        </form>
    </div>
</div>