/*Telerik RadCalendar Default skin*/

table.RadCalendar_radgrid
{
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
}

/*titlebar*/

.RadCalendar_radgrid .rcTitlebar
{
	border-color:#868686 #868686 #c4c4c4;
	background:#eaeaea 0 -1000px repeat-x url('Calendar/sprite.gif');
	color:#000;
}

.RadCalendar_radgrid .rcTitlebar table
{
	font:12px/23px "segoe ui",arial,sans-serif;
}

.RadCalendar_radgrid .rcTitlebar td
{
	padding:0 0 1px;
}

.RadCalendar_radgrid .rcTitlebar .rcPrev,
.RadCalendar_radgrid .rcTitlebar .rcNext,
.RadCalendar_radgrid .rcTitlebar .rcFastPrev,
.RadCalendar_radgrid .rcTitlebar .rcFastNext
{
	background-image:url('Calendar/sprite.gif');
	color:#ccc;
}

.RadCalendar_radgrid .rcTitlebar .rcFastPrev
{
	margin-left:6px;
	background-position:1px -197px;
}

.RadCalendar_radgrid .rcTitlebar a.rcFastPrev:hover
{
	background-position:1px -247px;
}

.RadCalendar_radgrid .rcTitlebar .rcPrev
{
	background-position:4px -297px;
}

.RadCalendar_radgrid .rcTitlebar a.rcPrev:hover
{
	background-position:4px -347px;
}

.RadCalendar_radgrid .rcTitlebar .rcNext
{
	background-position:3px -397px;
}

.RadCalendar_radgrid .rcTitlebar a.rcNext:hover
{
	background-position:3px -447px;
}

.RadCalendar_radgrid .rcTitlebar .rcFastNext
{
	margin-right:6px;
	background-position:1px -497px;
}

.RadCalendar_radgrid .rcTitlebar a.rcFastNext:hover
{
	background-position:1px -547px;
}

.RadCalendar_radgrid .rcMain
{
	border-color:#868686;
}

.RadCalendar_radgrid .rcMainTable
{
	font:12px/17px "segoe ui",arial,sans-serif;
}

/*header, footer*/

.RadCalendar_radgrid .rcHeader,
.RadCalendar_radgrid .rcFooter
{
	border-color:#868686;
}

/*week numbers and days*/

.RadCalendar_radgrid .rcWeek th
{
	border-bottom:1px solid #c5c5c5;
	padding:4px 6px 3px 0;
	color:#333;
}

.RadCalendar_radgrid .rcWeek .rcViewSel,
.RadCalendar_radgrid .rcRow th
{
	width:13px;
	padding:0 7px 0 9px;
	background:#eee;
}

.RadCalendar_radgrid .rcRow th
{
	color:#777;
}

/*date cells*/

.RadCalendar_radgrid .rcRow td
{
	border-color:#fff;
}

.RadCalendar_radgrid .rcMain .rcRow a,
.RadCalendar_radgrid .rcMain .rcRow span
{
	color:#333;
}

.RadCalendar_radgrid .rcMain .rcWeekend a
{
	color:#666;
}

.RadCalendar_radgrid .rcRow .rcToday
{
	border-color:#898989;
}

.RadCalendar_radgrid .rcMain .rcOtherMonth a
{
	color:#898989;
}

.RadCalendar_radgrid .rcMain .rcOutOfRange span
{
	color:#898989;
}

.RadCalendar_radgrid .rcRow .rcSelected
{
	border-color:#8d8d8d #7d7d7d #6c6c6c;
	background:#828282 0 -1700px repeat-x url('Calendar/sprite.gif');
}

.RadCalendar_radgrid .rcMain .rcRow .rcSelected a
{
	color:#fff;
}

.RadCalendar_radgrid .rcRow .rcHover
{
	border-color:#c4c4c4 #b2b2b2 #9e9e9e;
	background:#c5c5c5 0 -1600px repeat-x url('Calendar/sprite.gif');
}

.RadCalendar_radgrid .rcMain .rcRow .rcHover a
{
	color:#333;
}

/*multimonth view*/

.RadCalendarMultiView_radgrid .rcTitlebar
{
	border-color:#9a9a9a #9c9c9c #9c9c9c;
	background:#c5c5c5 0 -1199px repeat-x url('Calendar/sprite.gif');
}

.RadCalendarMultiView_radgrid .rcTitlebar table
{
	border:1px solid;
	border-color:#fdfdfd #f3f3f3 #e7e7e7;
	line-height:27px;
}

.RadCalendarMultiView_radgrid .rcTitlebar a.rcFastPrev:hover
{
	background-position:1px -647px;
}

.RadCalendarMultiView_radgrid .rcTitlebar a.rcPrev:hover
{
	background-position:4px -747px;
}

.RadCalendarMultiView_radgrid .rcTitlebar a.rcNext:hover
{
	background-position:3px -847px;
}

.RadCalendarMultiView_radgrid .rcTitlebar a.rcFastNext:hover
{
	background-position:1px -947px;
}

.RadCalendarMultiView_radgrid .rcMain
{
	border-color:#9b9b9b;
}

.RadCalendarMultiView_radgrid .rcCalendar
{
	border-color:#868686;
}

.RadCalendarMultiView_radgrid .rcCalendar .rcMainTable
{
	height:176px;
}

.RadCalendarMultiView_radgrid .rcMainTable .rcTitle
{
	border-color:#c4c4c4;
	padding:0 0 2px;
	background:#eaeaea 0 -1000px repeat-x url('Calendar/sprite.gif');
	line-height:22px;
}

/*month view*/

table.RadCalendarMonthView_radgrid
{
	border-color:#979797;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
	color:#333;
}

.RadCalendarMonthView_radgrid #rcMView_Feb,
.RadCalendarMonthView_radgrid #rcMView_Apr,
.RadCalendarMonthView_radgrid #rcMView_Jun,
.RadCalendarMonthView_radgrid #rcMView_Aug,
.RadCalendarMonthView_radgrid #rcMView_Oct,
.RadCalendarMonthView_radgrid #rcMView_Dec
{
	border-right:1px solid #e0e0e0;
}

.RadCalendarMonthView_radgrid a
{
	color:#333;
}

.RadCalendarMonthView_radgrid .rcSelected a
{
	border-color:#8d8d8d #7d7d7d #6c6c6c;
	background:#828282 0 -1700px repeat-x url('Calendar/sprite.gif');
	color:#fff;
}

.RadCalendarMonthView_radgrid #rcMView_PrevY a,
.RadCalendarMonthView_radgrid #rcMView_NextY a
{
	width:17px;
	height:14px;
	background-image:url('Calendar/sprite.gif');
	color:#ccc;
}

.RadCalendarMonthView_radgrid #rcMView_PrevY a
{
	background-position:7px -196px;
}

.RadCalendarMonthView_radgrid #rcMView_NextY a
{
	background-position:7px -496px;
}

.RadCalendarMonthView_radgrid .rcButtons
{
	padding:6px 7px 5px;
}

.RadCalendarMonthView_radgrid input
{
	border-color:#a7a7a7 #7b7b7b #7b7b7b #a7a7a7;
	background:#e9e9e9 0 -2300px repeat-x url('Calendar/sprite.gif');
	color:#000;
	font:12px "segoe ui",arial,sans-serif;
}

/*time view*/

table.RadCalendarTimeView_radgrid
{
	border-color:#868686;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
}

.RadCalendarTimeView_radgrid th
{
	border-bottom:1px solid #c4c4c4;
	padding:0 0 1px;
	background:#eaeaea 0 -1000px repeat-x url('Calendar/sprite.gif');
	color:#000;
	line-height:23px;
}

table.RadCalendarTimeView_radgrid td
{
	border-color:#c5c5c5;
}

.RadCalendarTimeView_radgrid a
{
	color:#333;
}

.RadCalendarTimeView_radgrid td.rcSelected a
{
	border-color:#8d8d8d #7d7d7d #6c6c6c;
	background:#828282 0 -1700px repeat-x url('Calendar/sprite.gif');
	color:#fff;
}

.RadCalendarTimeView_radgrid td.rcHover a
{
	border-color:#c4c4c4 #b2b2b2 #9e9e9e;
	background:#c5c5c5 0 -1600px repeat-x url('Calendar/sprite.gif');
	color:#000;
}

.RadCalendarTimeView_radgrid .rcFooter
{
	border-color:#c5c5c5;
}

/*pickers*/

.RadPicker_radgrid .rcCalPopup,
.RadPicker_radgrid .rcTimePopup
{
	background-image:url('Calendar/sprite.gif');
}

.RadPicker_radgrid .rcCalPopup,
.RadPicker_radgrid a.rcDisabled.rcCalPopup:hover
{
	background-position:0 0;
}

.RadPicker_radgrid a.rcCalPopup:hover,
.RadPicker_radgrid a.rcCalPopup:focus,
.RadPicker_radgrid a.rcCalPopup:active
{
	background-position:0 -50px;
}

.RadPicker_radgrid .rcTimePopup,
.RadPicker_radgrid a.rcDisabled.rcTimePopup:hover
{
	background-position:0 -100px;
}

.RadPicker_radgrid a.rcTimePopup:hover,
.RadPicker_radgrid a.rcTimePopup:focus,
.RadPicker_radgrid a.rcTimePopup:active
{
	background-position:0 -150px;
}

/*rtl*/

.RadCalendarRTL_radgrid .rcTitlebar .rcFastPrev
{
	background-position:1px -497px;
}

.RadCalendarRTL_radgrid .rcTitlebar a.rcFastPrev:hover
{
	background-position:1px -547px;
}

.RadCalendarRTL_radgrid .rcTitlebar .rcPrev
{
	background-position:3px -397px;
}

.RadCalendarRTL_radgrid .rcTitlebar a.rcPrev:hover
{
	background-position:3px -447px;
}

.RadCalendarRTL_radgrid .rcTitlebar .rcNext
{
	background-position:4px -297px;
}

.RadCalendarRTL_radgrid .rcTitlebar a.rcNext:hover
{
	background-position:4px -347px;
}

.RadCalendarRTL_radgrid .rcTitlebar .rcFastNext
{
	background-position:1px -197px;
}

.RadCalendarRTL_radgrid .rcTitlebar a.rcFastNext:hover
{
	background-position:1px -247px;
}

.RadCalendarMultiViewRTL_radgrid .rcTitlebar a.rcFastPrev:hover
{
	background-position:1px -947px;
}

.RadCalendarMultiViewRTL_radgrid .rcTitlebar a.rcPrev:hover
{
	background-position:3px -847px;
}

.RadCalendarMultiViewRTL_radgrid .rcTitlebar a.rcNext:hover
{
	background-position:4px -747px;
}

.RadCalendarMultiViewRTL_radgrid .rcTitlebar a.rcFastNext:hover
{
	background-position:1px -647px;
}