/* RadSlider for ASP.NET AJAX Default Skin */
.RadSlider_radgrid .rslTrack
{
	border-color:#b9b9b9 #939393 #939393 #b9b9b9;
}

.RadSlider_radgrid .rslHorizontal a.rslHandle
{
	background-image:url('Slider/Handles.gif');
}

.RadSlider_radgrid .rslHorizontal a.rslDraghandle
{
	background-image:url('Slider/DragHandle.gif');
}

.RadSlider_radgrid .rslTop a.rslDraghandle
{
	background-image:url('Slider/DragHandleDown.gif');
}

.RadSlider_radgrid .rslHorizontal .rslTrack
{
	background:url('Slider/TrackBgr.gif') repeat-x;
}

.RadSlider_radgrid .rslHorizontal .rslSelectedregion
{
	background:url('Slider/SelectedRegionHorizontalBgr.gif') right top no-repeat;
}

/* vertical slider */
.RadSlider_radgrid .rslVertical a.rslHandle
{
	background-image:url('Slider/HandlesVertical.gif');
}

.RadSlider_radgrid .rslVertical .rslTrack
{
	background:url('Slider/TrackVerticalBgr.gif') repeat-y;
}

.RadSlider_radgrid .rslVertical .rslSelectedregion
{
	background:url('Slider/SelectedRegionVerticalBgr.gif') left bottom no-repeat;
}

.RadSlider_radgrid .rslVertical a.rslDraghandle
{
	background:url('Slider/DragVerticalHandle.gif') no-repeat;
}

.RadSlider_radgrid .rslLeft a.rslDraghandle
{
	background:url('Slider/DragVerticalHandleRight.gif') no-repeat;
}

.RadSlider_radgrid .rslItem,
.RadSlider_radgrid .rslLargeTick span
{
	color:#333;
}

.RadSlider_radgrid .rslItemsWrapper .rslItemSelected
{
	color:#000;
}

/* horizontal slider items */
.RadSlider_radgrid .rslHorizontal .rslItem
{
	background-image:url('Slider/ItemHorizontalBgr.gif');
}

/* vertical slider items */
.RadSlider_radgrid .rslVertical .rslItem
{
	background-image:url('Slider/ItemVerticalBgr.gif');
}

/* horizontal slider - TrackPosition=Top/Bottom */
.RadSlider_radgrid .rslTop .rslSmallTick,
.RadSlider_radgrid .rslBottom .rslSmallTick
{
	background-image:url('Slider/SmallChangeHorizontal.gif');
}

.RadSlider_radgrid .rslTop .rslLargeTick,
.RadSlider_radgrid .rslBottom .rslLargeTick
{
	background-image:url('Slider/LargeChangeHorizontal.gif');
}

/* vertical slider - TrackPosition=Left/Right */
.RadSlider_radgrid .rslLeft .rslSmallTick,
.RadSlider_radgrid .rslRight .rslSmallTick
{
	background-image:url('Slider/SmallChangeVertical.gif');
}

.RadSlider_radgrid .rslLeft .rslLargeTick,
.RadSlider_radgrid .rslRight .rslLargeTick 
{
	background-image:url('Slider/LargelChangeVertical.gif');
}

/* horizontal slider - TrackPosition=Center */
.RadSlider_radgrid .rslMiddle .rslSmallTick
{
	background-image:url('Slider/SmallChangeMiddleHorizontal.gif');
}

.RadSlider_radgrid .rslMiddle .rslLargeTick  
{
	background-image:url('Slider/LargeChangeMiddleHorizontal.gif');
}

/* vertical slider - TrackPosition=Center */
.RadSlider_radgrid .rslCenter .rslSmallTick
{
	background-image:url('Slider/SmallChangeCenterVertical.gif');
}

.RadSlider_radgrid .rslCenter .rslLargeTick
{
	background-image:url('Slider/LargelChangeCenterVertical.gif');
}