﻿@{
    ViewBag.Title = "Mercado Público | La nueva plataforma de licitaciones de ChileCompra";
}
@model ChileCompraExpress.Entities.Categoria
@using ChileCompraExpress.Entities
@using ChileCompraExpress.Business
@using ChileCompraExpress.Utilities
@section scripts {
    <link rel="stylesheet" href="~/Content/categoria.css" type="text/css" />
    <script type="text/javascript" src="~/Scripts/jqueryUI/development-bundle/ui/jquery.ui.core.js"></script>
    <script type="text/javascript" src="~/Scripts/jqueryUI/development-bundle/ui/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="~/Scripts/jqueryUI/development-bundle/ui/jquery.ui.tabs.js"></script>
    <script type="text/javascript" src="~/Scripts/Listas.js"></script>
    <script type="text/javascript" src="~/Scripts/Informaciones.js"></script>
    <script type="text/javascript" src="~/Scripts/Escritorio.js"></script>
    <link rel="stylesheet" href="~/Content/Estilos/Css/Controles.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Estilos/Css/Tienda.css" type="text/css" />
    <style type="text/css">
        hr
        {
            border-top: 0px solid #DEDEDE;
            height: 0px;
            width: 100%;
        }
    </style>
    <style type="text/css">
        .nav
        {
            margin-bottom: 0px;
            margin-left: 0;
            list-style: none;
        }
        
        ul, ol
        {
            padding: 0;
            margin: 0 0 0px 25px;
        }
        
        .nav-tabs > li > a
        {
            border: 1px solid #ddd;
        }
        
        .nav > li > a:hover, .nav > li > a:focus
        {
            text-decoration: none;
            background-color: #eeeeee;
            color: #2b8ae7;
        }
        .tab-content
        {
            overflow: initial;
        }
        .nav-tabs > li > a
        {
            margin-right: 2px;
            line-height: 1.428571429;
            border: #ccc 1px solid;
            border-radius: 4px 4px 0 0;
            background-color: #f0f0f0;
        }
    </style>
    <script type="text/javascript">
        $('#busquedaAvanzada').submit(function () {
            debugger;
            var x = $('input[name=elementsStarts]').val();
            if ($('input[name=elementsStarts]').val() > 1) {
                $('input[name=num]').val("10");
                $('input[name=elementsStarts]').val("1");
            }
            $("#btnbuscartop").click();
            return false;
        });
    </script>
    <script type="text/javascript">
   $(function () {

   var carrusel_superior = false;
   var carrusel_inferior = false;
   
   
    // Solicitando ofertas especiales
    $.ajax({
      url: "@Url.Action("OfertasEspeciales", "Api")",
      dataType: 'json',
      async: false,
      success: function(respuesta) {
            if(respuesta != null)
            {        
                 
                asignarRespuesta(respuesta, ofertasEspeciales);
                actualizarCarrusel(ofertasEspeciales, bindings.carruseles.superior);                
                carrusel_superior = true;
                existe_ofertas = true;
            }
      }
    });

    // Solicitando Productos Recien Vistos
    $.ajax({
      url: "@Url.Action("ProductosRecienVisitados", "Api")",
      dataType: 'json',
      async: false,
      success: function(respuesta) {

            
            if(respuesta != null)
            {   


                asignarRespuesta(respuesta, recienVisitados);
                actualizarCarrusel(recienVisitados, bindings.carruseles.inferiorRecienVistos);

                carrusel_inferior = true;
                existe_recienVisto = true;
                existe_masVisto = true;
                $("footer").attr("style", "margin:0px 0px");

            }
            
      }
    });


//    // Solicitando Mas visitados por el usuario
//    $.ajax({
//      url: "@Url.Action("ProductosMasVisitados", "Api")",
//      dataType: 'json',
//      async: false,
//      success: function(respuesta) {
//            if(respuesta != null)
//            {
//                
//                asignarRespuesta(respuesta, masVisitados);                
//            
//                actualizarCarrusel(masVisitados, bindings.carruseles.inferiorMasVistos);

//                $("footer").attr("style", "margin:0px 0px");

//                carrusel_inferior = true;
//                existe_masVisto = true;
//            }

//      }
//    });
//      

//     // Solicitando Los mas visitados
//    $.ajax({
//      url: "@Url.Action("ProductosLosMasVisitados", "Api")",
//      dataType: 'json',
//      async: false,
//      success: function(respuesta) {
//            if(respuesta != null)
//            {
//                asignarRespuesta(respuesta, losMasVisitados);
//                if(!carrusel_inferior)
//                {             
//                    actualizarCarrusel(losMasVisitados, bindings.carruseles.inferiorLosMasVisitados);

//                }
//                 $("footer").attr("style", "margin:0px 0px");

//                carrusel_inferior = true;
//                existe_losMasVisto = true;
//            }

//      }
//    });

    // Solicitando informaciones
    $.getJSON(urls.informaciones, {}, function (respuesta) {
        bindings.informaciones.todas = respuesta;
        mostrarGrupoInformaciones(0,5);
    
    });    
      
          

//    if (!existe_recienVisto) {
//        
//        //tab
//        $("#recien_visitado").attr("style", "display:none");
//        //div contenedor de productos
//        $("#recienvistos").attr("style", "display:none");
//        //Se quita la clase para dejarlo como inactivo
//        $("#recien_visitado").removeClass("active");

//        if (existe_masVisto) {

//            $("#mas_visitados").addClass("active");
//            $("#mas_visitados_a").click();
//        }
//    }
//    if (!existe_masVisto) {
//        
//        //tab
//        $("#mas_visitados").attr("style", "display:none");
//        //div contenedor de productos
//        $("#masvistos").attr("style", "display:none");
//        //se quita la clase para dejarlo como inactivo
//        $("#mas_visitados").removeClass("active");

//        if (existe_losMasVisto) {

//            $("#los_mas_visitados").addClass("active");
//            $("#los_mas_visitados_a").click();
//        }

//    }
//    if (!existe_losMasVisto) {
//        
//        //tab
//        $("#los_mas_visitados").attr("style", "display:none");
//        //div contenedor de productos
//        $("#masvistos").attr("style", "display:none");
//        //se quita la clase para dejarlo como inactivo
//        $("#losmasvistos").removeClass("active");

//    }
    if(!existe_ofertas)
    {
        $("#carrusel_superior").attr("style", "display:none");
    }

});



    </script>
}
<div id="left-bar">
    <div id="navegacionCategorias">
        <div id="tabs">
            <div id="bloq_iz_2">
                <div>
                    <div id="menu_tienda">
                        <div  id="productos_link" class="gris_3 grande gobcl btn_menu_escritorio izquierda"
                            style="font-family: verdana; color: #555555; font-size: 15px; font-weight: 600;
                            cursor: pointer">
                            Productos</div>
                        <div id="servicios_link" class="gris_3 grande gobcl btn_menu_escritorio izquierda"
                            style="font-family: verdana; color: #555555; font-size: 15px; font-weight: 600;
                            cursor: pointer">
                            Servicios</div>
                        <div id="salud_link" class="gris_3 grande gobcl btn_menu_escritorio izquierda"
                            style="font-family: verdana; color: #555555; font-size: 15px; font-weight: 600;
                            cursor: pointer">
                            Salud</div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" language="javascript">
            

        </script>
    </div>
    <div id="left-links" style="margin-top: 100px;">
        <a id="editar_regiones" href="javascript:void(0)" data-toggle="modal" class="blue"
            data-target="#selectorRegionesDespacho">Editar regiones<br />
            de despacho</a> <a onclick="window.open('http://www.chilecompra.cl','window', 'location=no,status=1,scrollbars=1,width=500,height=650'); return false;"
                href="#" class="blue">Convenios<br />
                vigentes</a> <a onclick="window.open('http://www.chilecompra.cl','window', 'location=no,status=1,scrollbars=1,width=500,height=650'); return false;"
                    href="#" class="blue">Licitaciones<br />
                    convenio marco</a> <a onclick="window.open('http://www.chilecompra.cl','window', 'location=no,status=1,scrollbars=1,width=500,height=650'); return false;"
                        href="#" class="blue external-link">Consultas Chilecompra</a> <a onclick="window.open('http://www.chilecompra.cl','window', 'location=no,status=1,scrollbars=1,width=500,height=650'); return false;"
                            href="#" class="blue external-link">Preguntas<br />
                            frecuentes</a>
    </div>
</div>
<div id="content" >
    <div id="bloq_centro">
        <div class="contenedor2 borde3 menu_tienda_despliegue" id="div_contenedor_cat">
            
            
            <div id="tabs-0">
            @{
                   
                Html.RenderPartial("../Tabs/Ofertas");
            }
            </div>
                
                <div id="productos" style="display: none; border: 1px solid #CCCCCC;"></div>
                @*
                @{
                    CategoriaBsn categoriaBsn = new CategoriaBsn();
                    ChileCompraExpress.Entities.Categoria cat = new ChileCompraExpress.Entities.Categoria();
                    cat.tipoCategoria.Id = 1;
                    cat.tipoCategoria.Nombre = "Productos";
                    List<Categoria> categorias = categoriaBsn.getCategorias(cat);
                    if (categorias != null && categorias.Count > 0)
                    {
                        for (int i = 0; i < categorias.Count; i++)
                        {
                        
                    <div class="azul contenedor2 mediano negrita menu_tienda_listas_desp" onclick="despliegeCategorias('productos',@categorias.ElementAt(i).Id.ToString())">
                        <div style="width: 16px; float: left;">
                            <img style="cursor:pointer" alt="" src="Content/Estilos/Imagenes/botones/btn_mas.png" class="btn_lista_desp_@categorias.ElementAt(i).Id.ToString()" />
                        </div>
                        <div style="margin-left: 15px;">
                            <label style="cursor:pointer" id="@categorias.ElementAt(i).Id.ToString()">@categorias.ElementAt(i).Nombre.ToString()</label>
                        </div>
                    </div>
                    <div style="font-size: 8.5px;">
                        <div class="menu_tiendas_listas_@categorias.ElementAt(i).Id.ToString()" style="display: none;">
                            <div class="menu_tienda_listas_1">
                                @{                                
                                    
                                    List<Categoria> categ = categoriaBsn.getSubCategoriasN2(categorias.ElementAt(i).Id);
                                    
                                    <table style="width:100%">   
                                           
                                        @{
                                        
                                        int contador = 0;
                                        for (int n = 0; n < categ.Count; n++)
                                        {  
                                            <tr>
                                                @for (int h = 0; h < 3; h++ )
                                                {
                                                    if (contador == categ.Count)
                                                    {
                                                        break;
                                                    }
                                                    <td valign="top" style="padding-bottom:55px;width:30%"> 
                                                        <ul  class="izq mediano negrita size"  id='@categ.ElementAt(contador).subCategoriasN2.ElementAt(contador).Id' >
                                                        <li class="subr" style="cursor:pointer" onclick="despliegeCategoriasN3('productos',@categ.ElementAt(contador).subCategoriasN2.ElementAt(contador).Id);">@categ.ElementAt(contador).subCategoriasN2.ElementAt(contador).Nombre</li>

                                                        @for (int n3 = 0; n3 < categ.ElementAt(contador).subCategoriasN3.Count; n3++)
                                                        {
                                                            <li onclick="irAresultados('@categ.ElementAt(contador).subCategoriasN3.ElementAt(n3).Nombre');" class="menu_nivel_3_@categ.ElementAt(contador).subCategoriasN2.ElementAt(contador).Id" style="display: none;">@categ.ElementAt(contador).subCategoriasN3.ElementAt(n3).Nombre</li>
                                                        
                                                        }

                                                    
                                                        </ul>
                                                    </td>                                           
                                                    contador++;
                                                    
                                                }
                                            </tr>
                                            
                                            
                                        }
                                            }
                                        
                                        
                                        <tr>
                                            <td colspan="3" style="height: 55px;">
                                                &nbsp;
                                            </td>
                                        </tr>  
                                    </table>
                                }
                               
                            </div>
                        </div>
                    </div>
                        
                        }
                    }
            
            
                
                }
            </div>
            
                <div id="servicios" style="display: none; border: 1px solid #CCCCCC;">
                @{                            
                    cat = new ChileCompraExpress.Entities.Categoria();
                    cat.tipoCategoria.Id = 2;
                    cat.tipoCategoria.Nombre = "Servicios";
                    List<Categoria> categoriasServ = new List<Categoria>();
                    categoriasServ = categoriaBsn.getCategorias(cat);
                    if (categoriasServ != null && categoriasServ.Count > 0)
                    {
                        for (int i = 0; i < categoriasServ.Count; i++)
                        {
                        
                    <div class="azul contenedor2 mediano negrita menu_tienda_listas_desp" onclick="despliegeCategorias('servicios',@categoriasServ.ElementAt(i).Id.ToString())">
                        <div style="width: 16px; float: left;">
                            <img style="cursor:pointer" alt="" src="Content/Estilos/Imagenes/botones/btn_mas.png" class="btn_lista_desp_@categoriasServ.ElementAt(i).Id.ToString()" />
                        </div>
                        <div style="margin-left: 15px;">
                            <label style="cursor:pointer" id="@categoriasServ.ElementAt(i).Id.ToString()">@categoriasServ.ElementAt(i).Nombre.ToString()</label>
                        </div>
                    </div>
                    <div style="font-size: 8.5px;">
                        <div class="menu_tiendas_listas_@categoriasServ.ElementAt(i).Id.ToString()" style="display: none;">
                            <div class="menu_tienda_listas_1">
                                @{                                
                                    
                            List<Categoria> categ = categoriaBsn.getSubCategoriasN2(categoriasServ.ElementAt(i).Id);
                                    
                                    <table style="width:100%">   
                                           
                                        @{
                                        
                                        int contador = 0;
                                        for (int n = 0; n < categ.Count; n++)
                                        {  
                                            <tr>
                                                @for (int h = 0; h < 3; h++ )
                                                {
                                                    if (contador == categ.Count)
                                                    {
                                                        break;
                                                    }
                                                    <td valign="top" style="padding-bottom:55px;width:30%"> 
                                                        <ul  class="izq mediano negrita size"  id='@categ.ElementAt(contador).subCategoriasN2.ElementAt(contador).Id' >
                                                        <li class="subr" style="cursor:pointer" onclick="despliegeCategoriasN3('productos',@categ.ElementAt(contador).subCategoriasN2.ElementAt(contador).Id);">@categ.ElementAt(contador).subCategoriasN2.ElementAt(contador).Nombre</li>

                                                        @for (int n3 = 0; n3 < categ.ElementAt(contador).subCategoriasN3.Count; n3++)
                                                        {
                                                            <li onclick="irAresultados('@categ.ElementAt(contador).subCategoriasN3.ElementAt(n3).Nombre');" class="menu_nivel_3_@categ.ElementAt(contador).subCategoriasN2.ElementAt(contador).Id" style="display: none;">@categ.ElementAt(contador).subCategoriasN3.ElementAt(n3).Nombre</li>
                                                        
                                                        }

                                                    
                                                        </ul>
                                                    </td>                                           
                                                    contador++;
                                                    
                                                }
                                            </tr>
                                            
                                            
                                        }
                                            }
                                        
                                        
                                        <tr>
                                            <td colspan="3" style="height: 55px;">
                                                &nbsp;
                                            </td>
                                        </tr>  
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                        
                        }
                    }
            
                
                }
            </div>
        
                <div id="salud" style="display: none; border: 1px solid #CCCCCC;">
                @{                            
                    cat = new ChileCompraExpress.Entities.Categoria();
                    cat.tipoCategoria.Id = 4;
                    cat.tipoCategoria.Nombre = "Salud";
                    List<Categoria> categoriasSalud = new List<Categoria>();
                    categoriasSalud = categoriaBsn.getCategorias(cat);
                    if (categoriasSalud != null && categoriasSalud.Count > 0)
                    {
                        for (int i = 0; i < categoriasSalud.Count; i++)
                        {
                        
                    <div class="azul contenedor2 mediano negrita menu_tienda_listas_desp"   onclick="despliegeCategorias('salud',@categoriasSalud.ElementAt(i).Id.ToString())">
                        <div style="width: 16px; float: left;">
                            <img style="cursor:pointer" alt="" src="Content/Estilos/Imagenes/botones/btn_mas.png" class="btn_lista_desp_@categoriasSalud.ElementAt(i).Id.ToString()" />
                        </div>
                        <div style="margin-left: 15px;">
                            <label style="cursor:pointer" id="@categoriasSalud.ElementAt(i).Id.ToString()">@categoriasSalud.ElementAt(i).Nombre.ToString()</label>
                        </div>
                    </div>
                    <div style="font-size: 8.5px;">
                        <div class="menu_tiendas_listas_@categoriasSalud.ElementAt(i).Id.ToString()" style="display:none;">
                            <div class="menu_tienda_listas_1">
                                 @{                                
                                    
                            List<Categoria> categ = categoriaBsn.getSubCategoriasN2(categoriasSalud.ElementAt(i).Id);
                                    
                                    <table style="width:100%">   
                                           
                                        @{
                                        
                                        int contador = 0;
                                        for (int n = 0; n < categ.Count; n++)
                                        {  
                                            <tr>
                                                @for (int h = 0; h < 3; h++ )
                                                {
                                                    if (contador == categ.Count)
                                                    {
                                                        break;
                                                    }
                                                    <td valign="top" style="padding-bottom:55px;width:30%"> 
                                                        <ul  class="izq mediano negrita size"  id='@categ.ElementAt(contador).subCategoriasN2.ElementAt(contador).Id' >
                                                        <li class="subr" style="cursor:pointer" onclick="despliegeCategoriasN3('productos',@categ.ElementAt(contador).subCategoriasN2.ElementAt(contador).Id);">@categ.ElementAt(contador).subCategoriasN2.ElementAt(contador).Nombre</li>

                                                        @for (int n3 = 0; n3 < categ.ElementAt(contador).subCategoriasN3.Count; n3++)
                                                        {
                                                            <li onclick="irAresultados('@categ.ElementAt(contador).subCategoriasN3.ElementAt(n3).Nombre');" class="menu_nivel_3_@categ.ElementAt(contador).subCategoriasN2.ElementAt(contador).Id" style="display: none;">@categ.ElementAt(contador).subCategoriasN3.ElementAt(n3).Nombre</li>
                                                        
                                                        }

                                                    
                                                        </ul>
                                                    </td>                                           
                                                    contador++;
                                                    
                                                }
                                            </tr>
                                            
                                            
                                        }
                                            }
                                        
                                        
                                        <tr>
                                            <td colspan="3" style="height: 55px;">
                                                &nbsp;
                                            </td>
                                        </tr>  
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                        
                        }

                    }
                
                }
            </div>*@
        </div>
    </div>
</div>
<div id="right-bar">
    <div id="info-header">
        @*<img src="~/Content/images/icons/angulares.png" alt="info" />*@ <span style="font-family: verdana;
            color: #555555; font-size: 15px; font-weight: 600;">Informaciones</span>
    </div>
    <div id="info-body">
        <div data-bind="foreach:informaciones.mostradas">
            <div class="information clearfix">
                <div data-bind="text:trimInformationText(Texto)">
                </div>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#detalleInformacion"
                    data-bind="attr:{onclick:'seleccionarInformacion('+Id+')'}">Ver más</a>
            </div>
        </div>
        <span style="border-bottom: 1px solid #cccccc; height: 1px; display: block; margin-bottom: 10px;">
        </span><a href="#" onclick="mostrarGrupoInformaciones(0, 3);return false;">Informaciones
            anteriores</a>
    </div>
    <div style="width: 70%; margin-top: 1em; padding: 0px 5px;">
        <a href="http:\\www.chilecompra.cl" class="external-link smaller">
            <span style="color: #135799">Noticias Chilecompra Express</span> </a>
    </div>
</div>

@Html.Partial("RegionesDespacho")
@Html.Partial("Informacion")
