﻿<div id="detalleInformacion" class="modal hide" tabindex="-1">
    <div class="modal-header text-left" style="text-align:left!important; border-bottom:none;">
        <a id="cerrar_modal" href="#" onclick="ocultarNuevaLista();return false;" data-dismiss="modal" style="float:right;" >
        <img src="~/Content/images/botones/btn-closeS.png" alt="info" style="margin-right: -13px;margin-top: -5px;" /></a>
        <div id="info-header">            
            <span style="text-align:left;font-family:Verdana;color:#555555;font-size:15px;font-weight:600;">Informaciones</span>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="span1" style="width:150px;">
            <img src="" style="height:150px;width:150px;" data-bind="attr:{src:informaciones.detallada.UrlImagen}" alt="No disponible" class="pull-left" />
            </div>
            <div class="span4" style="padding-left: 165px;">

                @*<div class="info-text pull-left">*@
                    <b id="titulo" data-bind="text:informaciones.detallada.Titulo"></b><br /><br />
                    <p id="texto" data-bind="text:informaciones.detallada.Texto"></p>            
                @*</div>*@
            </div>
        </div>
    </div>
    <div class="modal-footer" style="background:none; border-top:none;">
        <a class="info-download pull-right" style="margin-right:15px;" onclick="descargarPdf();"  href="#"  >Descargar archivo</a><br /><br />
        <button type="button" class="btn-green" style="margin-left: 150px;" data-dismiss="modal">
            Cerrar</button>
        
    </div>
</div>