﻿@{
    ViewBag.Title = "Loader";
}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="language" content="en" />
<meta name="description" content="" />
<meta name="keywords" content="" />
	
<!-- Include the heartcode canvasloader js file -->
<script src="http://heartcode-canvasloader.googlecode.com/files/heartcode-canvasloader-min-0.9.1.js"></script>
	
	
<style type="text/css">
	body, html {
		margin:0;
		padding:0;
		overflow:hidden;
		background-color:#ffffff;
	}
	.wrapper {
		position:absolute;
		top:50%;
		left:50%;
	}
</style>

<!-- Create a div which will be the canvasloader wrapper -->	
<div id="canvasloader-container" class="wrapper"></div>
		
<script type="text/javascript">
    var cl = new CanvasLoader('canvasloader-container');
    cl.setColor('#071c36'); // default is '#000000'
    cl.setDiameter(61); // default is 40
    cl.setDensity(77); // default is 40
    cl.setRange(0.8); // default is 1.3
    cl.show(); // Hidden by default

    // This bit is only for positioning - not necessary
    var loaderObj = document.getElementById("canvasLoader");
    loaderObj.style.position = "absolute";
    loaderObj.style["top"] = cl.getDiameter() * -0.5 + "px";
    loaderObj.style["left"] = cl.getDiameter() * -0.5 + "px";
</script>
