﻿@model ChileCompraExpress.Entities.Producto
@using ChileCompraExpress.Web.Helpers

<link rel="stylesheet" href="/ChileCompraExpress.Web/Scripts/bootstrap/css/bootstrap.css" type="text/css"/>
<script type="text/javascript" src="/ChileCompraExpress.Web/Scripts/bootstrap/js/tooltip.js"></script>
<script type="text/javascript" src="/ChileCompraExpress.Web/Scripts/bootstrap/js/popover.js"></script>  

<link rel="stylesheet" href="/ChileCompraExpress.Web/Content/Resultado.css" />
<div id="productInformacion" class="modal hide" tabindex="-1">
    <div class="">

        <div style="height: 20px">
            <a href="#" onclick="return false;" style="float: right;" data-dismiss="modal">
                <img src="~/Content/stylesprd/Imagenes/botones/btn_cerrar2.png" alt="info" /></a>
            <div id="info-header">
            </div>
        </div>
        <div class="bloq_resultados_2 modal-body">
            <div>
                <div class="imagen_producto">
                    <div class="imagen_producto_1 borde1">
                        <img alt="" width="90px" height="90px" title="Imagen producto" src="@Model.UrlImagen" />
                    </div>
                    <span class="negrita subr" id="Label70">ID:</span> <a class="subr" id="HyperLink26">@Model.Id</a>
                    <div class="imagen_producto_2">
                        @if (Model.getSellos() != null && Model.getSellos().Count > 0)
                        {
                            <br />
                            <br />
                            for (int s = 0; s < Model.getSellos().Count; s++)
                            {
                                
                            <a href="#" id="tooltip_sello_@Model.getSellos().ElementAt(s).IdSello.ToString()_@Model.Id.ToString()_@Model.IdProveedor.ToString()" style="cursor:pointer;"
                                title="<b><span style='float:left'>@Model.getSellos().ElementAt(s).NombreSello :</span></b><br /><br /><div class='contenedor_sello'><div class='izq_sello'><img src='@Paths.PathImagenes()@Model.getSellos().ElementAt(s).PathSello' alt='' /></div><div class='der_sello'><p>@FormatString.TagBr(@Model.getSellos().ElementAt(s).DescripcionSello, 10)</p></div></div>">
                                <img src="@Paths.PathImagenes()@Model.getSellos().ElementAt(s).PathSello" alt="" />
                            </a>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $('#tooltip_sello_@Model.getSellos().ElementAt(s).IdSello.ToString()_@Model.Id.ToString()_@Model.IdProveedor.ToString()').tooltipster(
                                        {
                                            interactive: false,
                                            theme: 'tooltipster-shadow'
                                        }
                                        );
                                });
                            </script>
                            }

                        }
                    </div>
                    <div class="izq ficha_completa_enlace">
                        <a class="pequeno subr ic_ofertas_especiales" style="cursor:pointer;" onclick="exportExcelDetail(@Model.IdProveedor,@Model.Id,@Model.IdConvenio);" id="HyperLink29">
                            Ofertas<br />
                            especiales del<br />
                            convenio</a>
                    </div>
                </div>
                <div class="contenedor_encabezado_producto izq">
                    <div class="encabezado_producto">
                        <span class="mediano gris_2 subr negrita" id="Label71">@Model.Nombre.ToString()</span>
                        <div class="col2">
                        </div>
                        <br />
                        <span class="chico gris_2" id="Label72">@Model.Descripcion.ToString()</span><br />
                        <span class="negrita" id="Label73">Marca:</span> <span id="Label74">@Model.Marca.ToString()</span><br />
                        <span class="negrita" id="Label75">Convenio:</span> <a class="azulink subr" id="HyperLink27">@Model.Convenio.ToString()</a><br />
                    </div>
                    <span class="negrita" id="Label76">Proveedores con este producto:</span> <span id="Label77">@Model.GetProveedores().Count</span><br />
                    <div class="Proveedores">
                        <div class="borde1">
                            <div class="proveedor_economico">
                                <span class="negrita" id="Label78">Proveedor más económico:</span><br />
                                <div class="proveedor_economico_1">
                                    <div class="nombre_proveedor_1">
                                        <span class="subr mayus mediano" id="Label79">@Model.GetProveedores().ElementAt(0).Nombre.ToString()</span>
                                        <span class="ranking">
                                        @switch (@Model.GetProveedores().ElementAt(0).Ranking)
                                        {
                                            case 0:
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" />    
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" />    
                                                break;
                                            case 1:
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" />    
                                                break;
                                            case 2:
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" />
                                                break;
                                            case 3:
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" />
                                                break;
                                            case 4:
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" />
                                                break;
                                            case 5:
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" />
                                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" />
                                                break;


                                        }
                                    </span>
                                        
                                    </div>
                                   
                                </div>
                                <div style="width: 100%;" class="proveedor_economico_2">
                                    <div class="proveedor_sellos">
                                        @if (Model.GetProveedores().ElementAt(0).Sellos.Count > 0)
                                        {
                                            <br />
                                            <br />
                                            for (int s = 0; s < Model.GetProveedores().ElementAt(0).Sellos.Count; s++)
                                            {
                                
                                                <a href="#" id="tooltip_sello_@Model.GetProveedores().ElementAt(0).Sellos.ElementAt(s).IdSello.ToString()_@Model.GetProveedores().ElementAt(0).IdProducto.ToString()_@Model.GetProveedores().ElementAt(0).Id.ToString()" style="cursor:pointer;"
                                                    title="<b><span style='float:left'>@Model.GetProveedores().ElementAt(0).Sellos.ElementAt(s).NombreSello :</span></b><br /><br /><div class='contenedor_sello'><div class='izq_sello'><img src='@Paths.PathImagenes()@Model.GetProveedores().ElementAt(0).Sellos.ElementAt(s).PathSello' alt='' /></div><div class='der_sello'><p>@FormatString.TagBr(@Model.GetProveedores().ElementAt(0).Sellos.ElementAt(s).DescripcionSello, 10)</p></div></div>">
                                                    <img src="@Paths.PathImagenes()@Model.GetProveedores().ElementAt(0).Sellos.ElementAt(s).PathSello" alt="" />
                                                </a>
                                                <script type="text/javascript">
                                                    $(document).ready(function () {
                                                        $('#tooltip_sello_@Model.GetProveedores().ElementAt(0).Sellos.ElementAt(s).IdSello.ToString()_@Model.GetProveedores().ElementAt(0).IdProducto.ToString()_@Model.GetProveedores().ElementAt(0).Id.ToString()').tooltipster(
                                                        {
                                                            interactive: false,
                                                            theme: 'tooltipster-shadow'
                                                        }
                                                        );
                                                    });
                                                </script>
                                            }

                                        }
                                    </div>
                                    <br />
                                </div>
                                <div>
                                    <div>
                                        @if (SessionHelper.getEsComprador())
                                        {
                                            <div class="oferta_formulario" style="float: right">
                                                <div class="oferta_formulario_1">
                                                    <span class="pequeno izq" id="Label81">Cantidad</span><br />
                                                    <input type="text" id="cantidad_@Model.Id.ToString()_@Model.IdProveedor.ToString()" name="TextBox1" />
                                                </div>
                                                <div style="padding-top: 6px">
                                                    <input type="submit" class="btnoferta_formulario" id="Button41" onclick="agregarACarro(@Model.Id,@Model.IdConvenio,@Model.IdProveedor);"  value="" name="Button41" />
                                                </div>
                                            </div>
                                        }
                                        <div class="oferta_precio" style="float: right; padding: 17px 7px 0 0;">
                                            <span class="negrita tachado" id="Label80">@Model.GetProveedores().ElementAt(0).PrecioAnterior.ToString()</span>
                                            <span class="grande negrita verde" id="Label87">@Model.GetProveedores().ElementAt(0).PrecioActual.ToString()</span>
                                        </div>
                                        <div class="cont_detalle_proveedor_precios">
                                            <div class="detalle_proveedor_precios">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pie_items_vista_previa">
                                        <div class="izq">
                                        </div>
                                        <div class="der" >
                                            <span style="padding-left:0px;" class="rojo pequeno italica" id="error_cantidad_@Model.Id.ToString().Trim()_@Model.IdProveedor.ToString()"></span>
                                            <br />
                                            <div style="padding-top:10px;padding-right:10px;" class="rojo pequeno italica detalle_proveedor_precios" id="error_cantidad_@Model.Id.ToString()_@Model.IdProveedor.ToString()">
                                            </div>
                                            @if (SessionHelper.getEsComprador())
                                            {                                                
                                                <a href="#" style="text-decoration:none;float:left;color:White" id="tooltip_@Model.GetProveedores().ElementAt(0).IdProducto.ToString()" class="btn btn-lg btn-warning" data-toggle="popover" title="" data-content="<form><div class='denuncia-aviso'><p class='denuncia-aviso-titulo'>Importante</p><p>Reporte de precio caro <b>no reemplaza el informe de condiciones más ventajosas</b>que se requiere para comprar por un mecanismo de compra alternativa a convenio marco.</p></div><textarea id='denuncia_obs_@Model.IdConvenio.ToString()_@Model.Id.ToString()_@Model.GetProveedores().ElementAt(0).Id.ToString() name='denuncia' style='width:90%;height:20px'></textarea><div id='denuncia-enviar' class='denuncia-btn-enviar' onclick='denunciar(@Model.Id.ToString(),@Model.GetProveedores().ElementAt(0).Id.ToString(),@Model.IdConvenio);'></div></form>">¿Precio caro?</a>
                                                
                                                <script type="text/javascript">
                                                    $(document).ready(function () {
                                                        $('#tooltip_@Model.GetProveedores().ElementAt(0).IdProducto.ToString()').popover({ 'placement': 'top', html: true,
                                                            title: function () {
                                                                return $(this).parent().find('.head').html();
                                                            },
                                                            content: function () {
                                                                return $(this).parent().find('.content').html();
                                                            } 
                                                        });
                                                    });
                                                </script>                                              
                                            
                                                <a href="#" style="text-decoration:none;float:right;" id="tooltip_mislistas_@Model.GetProveedores().ElementAt(0).IdProducto.ToString()" class="agregar_lista_contenedor_main" data-toggle="popover" title="" ><i class="flip_main"></i>Agregar a Lista</a>
                                                
                                                
                                                <script type="text/javascript">
                                                    $(document).ready(function () {

                                                        var minificha = { "Id": "@Model.Id.ToString().Trim()", "IdConvenio": "@Model.IdConvenio.ToString().Trim()", "IdProveedor": "@Model.IdProveedor.ToString()" };
                                                        $.ajax(
                                                        {
                                                            url: "/ChileCompraExpress.Web/MiniFicha/GetPopOverMisListas",
                                                            dataType: "html",
                                                            cache: true,
                                                            data: minificha,
                                                            success: function (data) {
                                                                
                                                                $('#tooltip_mislistas_@Model.GetProveedores().ElementAt(0).IdProducto.ToString()').popover({ 'placement': 'top', html: true,
                                                                    title: function () {
                                                                        return $(this).parent().find('.head').html();
                                                                    },
                                                                    content: function () {
                                                                        return data;
                                                                    }
                                                                });

                                                            }
                                                        });
                                                    });
                                                  
                                                </script>
                                               
                                            }
                                            
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
