﻿@* <script type="text/javascript">
// Solicitando ofertas especiales
    $.getJSON("@Url.Action("RegionesDespacho", "Api")", {}, function (respuesta) {  

         
        if(respuesta != null)
        {        
            

            for(var i = 0; i < respuesta.length ; i++)
            {
                if(respuesta[i].Existe == 1)
                {
                     
                    //mostrarPopUp = false; 
                    var regionesTemp = bindings.top_regiones.propuestas();
                    regionesTemp.push({ id: respuesta[i].idRegion, text: respuesta[i].Nombre, val: respuesta[i].Abreviacion });
                    bindings.top_regiones.propuestas(regionesTemp);                  
                    
                }                
//                
//                var option = "<option value=" + respuesta[i].Abreviacion + ">" + respuesta[i].Nombre + "</option>";
//                $("#top_region").append(option);
//                $("#region").append(option);

            }  
        }
    });
</script>*@
<style type="text/css" >
.footer_modal {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
    padding: 14px 15px 15px !important;
    margin-bottom: 0 !important;
    text-align: center !important;   
}
</style>
<div id="selectorRegionesDespacho" class="modal hide" tabindex="-1" style="width:470px!important;margin-left: -242px!important;top: 16%!important;">
    <div class="modal-header">        
        <div style="height:20px">
        <a id="cerrarModalRegiones" href="#" onclick="cancelarRegionesPropuestas();return false;" style="float:right;" >
            <img src="~/Content/images/botones/btn-closeS.png" alt="info" /></a>
        <div id="info-header">            
        </div>
        </div>
        <h3 style="font-family:Verdana;color:#555555;font-size:15px;font-weight:600">
            Editar regiones de despacho </h3>
        <h3 class="hide">
            ¡Bienvenido a Chilecompra Express!</h3>
    </div>
    <div class="modal-body text-center">
        <p>
            Para agilizar su búsqueda y así sus compras, <b>seleccione las regiones</b> <br />
            en las que desea sean despachados los productos o servicios</p>
        <p><br />
            Podrá editarlo cuando lo necesite.</p><br />
        <form action="GET" class="text-left" style="display: inline-block;">
        <div id="   " data-bind="foreach:top_regiones.propuestas" class="text-center">
            <div class="selected-item text-left">
                <span data-bind="text:text"></span>
                <a href=""  data-bind="attr:{href:'javascript:eliminarRegion(\''+ id +'\');'}">
                    <img src="~/Content/images/btn_eliminar2.png" alt="" style="margin-top:-2px;" /></a>
            </div>
        </div>
        <select name="region" id="region" class="region">
            <option value="-1">Seleccione las regiones a agregar</option> 
        </select>
        <div class="hide" style="margin-top: 1em;">
            <input type="checkbox" name="noPreguntar" />No volver a preguntar
        </div>
        </form>
    </div>
    <div class="footer_modal">
    <button id="btn_cerrar_regiones" type="button" class="btn-green" onclick="cancelarRegionesPropuestas();return false;">
        Cerrar</button>
    <button id="btn_aceptar_regiones" type="button" class="btn-green" style="margin-left: 150px !important;" onclick="modalAcceptRegiones();return false;">
        Aceptar</button>
    </div>
</div>