
/*FONDOS BOTONES, FONDOS GENERALES */

/*BORDES (PARA IE EXPLORER)*/
#Grilla {border:1px solid #cccccc; min-width:90%;}

/*ALTURAS*/
.galt{height:19px; }
.galt2{height:19px;}

/*MARGENES*/
.gpad1{padding-left:5px;padding-right:5px;}

/*COLORES DE GRILLAS*/
.galt{background-color:#ddebf4;}
.galt:hover{background-color:#b2d2e9;}


/*EN CASO DE APLICAR AlterningRowStyle-CssClass*/
/*.gfila{border:1px solid #cccccc;background-color:#ddebf4;}
.gfila:hover{background-color:#b2d2e9;}*/

/*GRILLA BASICA PARA ESTADISTICAS*/
.tabla1{height:52px;}
.fila1{text-align:center;
       padding:0px 5px 0px 5px;}
         
/*PAGINACION*/
.gpag {border:#dcdbdb 1px solid;}
.gpag table { margin: 5px auto; }
.gpag td { border-width: 0; padding: 0 6px;font-weight:bold ; color: #000000; line-height: 15px;
           font-size:12px; }  
.gpag a { color: #999999;padding:3px;}
.gpag a:hover { color: #fff; background-color: #999999;padding:3px;}


