
.periodo{display:block;
     overflow:auto;}

.radnivel1 
{
    background-color: #ddebf4;
    height: 26px;
    padding: 0px 0px 0px 5px;
    font-size:12px;
}
.radnivel1 .rtlCF {border-top-width:1px ;
    border-top-color:#ffffff ;
    border-top-style:solid ;}
 .radnivel1 .rtlCL {border-top-width:1px ;
    border-top-color:#ffffff ;
    border-top-style:solid ;}   
    
.radnivel2{ background-color:#cccccc;height:24px;padding:0px 0px 0px 5px; text-transform:uppercase;font-size:11px;}
.radnivel2 .rtlCF {border-top-width:1px ;
    border-top-color:#ffffff ;
    border-top-style:solid ;}
 .radnivel2 .rtlCL {border-top-width:1px ;
    border-top-color:#ffffff ;
    border-top-style:solid ;}  
.radnivel3{ background-color:#e6e6e6;height:20px;padding:0px 0px 0px 5px;font-size:11px;text-transform:capitalize;}
.radnivel3 .rtlCF {border-top-width:1px ;
    border-top-color:#ffffff ;
    border-top-style:solid ;}
 .radnivel3 .rtlCL {border-top-width:1px ;
    border-top-color:#ffffff ;
    border-top-style:solid ;}  

.RadTreeList {
	BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; BORDER-TOP: 0px solid; BORDER-RIGHT: 0px solid;text-align:left;/*borde derecho general*/
}
.RadTreeList .rtlTable {
	BORDER-SPACING: 0; WIDTH: 100%; BORDER-COLLAPSE: separate; BORDER-RIGHT: 1px solid;border-color:#ffffff; TABLE-LAYOUT: fixed
}
.rtlHeader{ font-family:Verdana, Arial;
            font-size:14px;
	        height:25px;
}

.rtlTable{font-family:Verdana, Arial !important;color:#333333 !important;}
.rtlCF{color:#666;vertical-align:middle !important;} 
.rtlCL {font-weight:bold;color:#666;width:12% !important;}
.rtlR{background-color:#ddebf4;margin:5px !important;}/*COLOR CELESTITO FONDO*/
.rtlA{background-color:#ececec;}
.rtlCL{width:12%}
.rtlL0{background-image:none !important;}
.RadTreeList .rtlHeader TH {
	BORDER-BOTTOM: 0px solid; TEXT-ALIGN: center; BORDER-LEFT: 0px solid; BORDER-TOP: 0px solid; FONT-WEIGHT: normal; BORDER-RIGHT: 0px solid;
	font-weight:bold;color:#333;
}
.RadTreeList .rtlVBorders .rtlHeader TH {
	BORDER-LEFT-WIDTH: 0px !important/*bordes izquierdos de encabezado principal*/
}
.RadTreeList .rtlVBorders .rtlHeader TH.rtlCF {
	BORDER-LEFT-WIDTH: 1px
}
.RadTreeList .rtlHeader A {
	TEXT-DECORATION: none
}
.RadTreeList .rtlR TD {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 7px; PADDING-TOP: 3px;vertical-align:middle !important;
}

.rtlA TD {text-align:left;}
.RadTreeList .rtlA TD {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 7px; PADDING-TOP: 3px
}
.RadTreeList .rtlRL TD {
	PADDING-BOTTOM: 4px
}
.RadTreeList .rtlROut TD {
	PADDING-TOP: 4px
}
.RadTreeList .rtlHeader TH {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 7px; PADDING-TOP: 3px;
border: 1px;border-color: #a0a0a0;border-style: solid;
           background-image: none;
	        background-color:#b2d2e9;}

.RadTreeList .rtlHBorders .rtlR TD {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 7px; PADDING-TOP: 3px
}
.RadTreeList .rtlHBorders .rtlA TD {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 7px; PADDING-TOP: 3px
}
.RadTreeList .rtlR TD {
	BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; VERTICAL-ALIGN: top; BORDER-TOP: 0px solid; BORDER-RIGHT: 0px solid
}
.RadTreeList .rtlA TD {
	BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; VERTICAL-ALIGN: top; BORDER-TOP: 0px solid; BORDER-RIGHT: 0px solid
}
.RadTreeList .rtlHBorders .rtlR TD {
	BORDER-BOTTOM-WIDTH: 1px;
	border-bottom-color: #FFFFFF !important; /*borde inferior de columnas*/
}
.RadTreeList .rtlHBorders .rtlA TD
{
    border-bottom-width: 1px;
    border-bottom-color: #FFFFFF !important;
}
.RadTreeList .rtlVBorders .rtlR TD {
	BORDER-LEFT-WIDTH: 0px !important; text-align:left;
	/*bordes izquierdos columnas secundarias*/
}
.RadTreeList .rtlVBorders .rtlA TD {
	BORDER-LEFT-WIDTH: 0px !important;text-align:left;
/*bordes izquierdos columnas secundarias*/
}
.RadTreeList .rtlR TD.rtlCF {
	BORDER-LEFT-WIDTH: 1px
}
.RadTreeList .rtlA TD.rtlCF {
	BORDER-LEFT-WIDTH: 1px
}
.RadTreeList .rtlHVBorders .rtlR TD.rtlCF {
	BORDER-LEFT-WIDTH: 0px;
	 border-left-color: #FFFFFF !important; /*bordes izquierdos de items*/
}
.RadTreeList .rtlHVBorders .rtlA TD.rtlCF {
	BORDER-LEFT-WIDTH:0px;
	border-left-color: #FFFFFF !important;  /*bordes izquierdos de items*/
}
.RadTreeList .rtlHBorders .rtlRL TD {
	BORDER-BOTTOM-WIDTH: 1px
}

.RadTreeList .rtlTable .rtlRBtm TD {
	BORDER-BOTTOM-WIDTH: 1px
}
.RadTreeList .rtlHBorders .rtlROut TD {
	BORDER-TOP-WIDTH: 1px;
	 border-top-color: #FFFFFF !important;
}
.RadTreeList .rtlTable TD.rtlL {
	TEXT-ALIGN: left; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.RadTreeList .rtlLines TD.rtlL {
	BACKGROUND-IMAGE: none !important; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 100% 0px;background-color:#fff;
}
.RadTreeList .rtlLines TD.rtlL0 {
	BACKGROUND-REPEAT: repeat-y
}
.RadTreeList TABLE.rtlLines TD.rtlL {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.RadTreeList TABLE.rtlVBorders TD.rtlL {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.RadTreeList .rtlExpand {
	BORDER-BOTTOM: 1px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: transparent; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px; PADDING-TOP: 0px;
}
.RadTreeList .rtlCollapse {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: transparent; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px; PADDING-TOP: 0px;
  
}
.RadTreeList .rtlSortAsc {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #9a31a3; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.RadTreeList .rtlSortDesc {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #9a31a3; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.RadTreeList .rtlExpand
{
    margin: 0px auto;
    width: 16px;
    display: block;
    height: 16px;
    background-color: transparent;
    background-image: url('../Imagenes/botones/btn_mas.png') !important;
    background-position: left;
    background-repeat: no-repeat;
}
.RadTreeList .rtlCollapse
{
    background-position: left;
    margin: 0px auto;
    width: 16px;
    display: block;
    height: 16px;
    background-color: transparent;
    background-image: url('../Imagenes/botones/btn_menos.png') !important;
    background-repeat: no-repeat !important;
    background-position: left !important;
}

        
.RadTreeList .rtlSortAsc {
	WIDTH: 16px; HEIGHT: 10px; VERTICAL-ALIGN: middle
}
.RadTreeList .rtlSortDesc {
	WIDTH: 16px; HEIGHT: 10px; VERTICAL-ALIGN: middle
}
.RadTreeListNoBorder {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.RadTreeListNoBorder .rtlHeader TH {
	BORDER-TOP-WIDTH: 1px;
}

.RadTreeListNoBorder .rtlTable .rtlHeader TH.rtlCF {
	BORDER-LEFT-WIDTH: 1px;
}
.RadTreeListNoBorder .rtlTable .rtlCL {
	BORDER-RIGHT-WIDTH: 1px
}
.RadTreeListNoBorder .rtlTable .rtlRBtm TD
{
    border-bottom-width: 1px;
}
.RadTreeListRTL .rtlHeader TH {
	TEXT-ALIGN: right
}
.RadTreeListRTL .rtlVBorders .rtlHeader TH {
	BORDER-RIGHT-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px
}
.RadTreeListRTL .rtlVBorders .rtlHeader TH.rtlCF {
	BORDER-RIGHT-WIDTH: 0px
}
.RadTreeListRTL .rtlVBorders .rtlR TD {
	BORDER-RIGHT-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px
}
.RadTreeListRTL .rtlVBorders .rtlA TD {
	BORDER-RIGHT-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px
}
.RadTreeListRTL .rtlR TD.rtlCF {
	BORDER-RIGHT-WIDTH: 0px
}
.RadTreeListRTL .rtlA TD.rtlCF {
	BORDER-RIGHT-WIDTH: 0px
}
.RadTreeListRTL .rtlHVBorders .rtlR TD.rtlCF {
	BORDER-RIGHT-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px
}
.RadTreeListRTL .rtlHVBorders .rtlA TD.rtlCF {
	BORDER-RIGHT-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px
}
.RadTreeListRTL .rtlLines TD.rtlL {
	BACKGROUND-POSITION: 0px 0px
}
.RadTreeListNoBorderRTL .rtlTable .rtlHeader .rtlCL {
	BORDER-RIGHT-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px
}
.RadTreeListNoBorderRTL .rtlTable .rtlR TD.rtlCL {
	BORDER-RIGHT-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px
}
.RadTreeListNoBorderRTL .rtlTable .rtlA TD.rtlCL {
	BORDER-RIGHT-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px
}
.RadTreeListNoBorderRTL .rtlVBorders .rtlHeader .rtlCL {
	BORDER-RIGHT-WIDTH: 1px
}
.RadTreeListNoBorderRTL .rtlVBorders .rtlR TD.rtlCL {
	BORDER-RIGHT-WIDTH: 1px
}
.RadTreeListNoBorderRTL .rtlVBorders .rtlA TD.rtlCL {
	BORDER-RIGHT-WIDTH: 1px
}
.RadTreeListNoBorderRTL .rtlTable .rtlHeader TH.rtlCF {
	BORDER-RIGHT-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px
}
.RadTreeList .rtlPager {
	MIN-HEIGHT: 22px
}
.RadTreeList .rtlPagerCell {
	BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; BORDER-RIGHT: 0px solid; PADDING-TOP: 3px
}
.RadTreeList THEAD .rtlPagerCell {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px;
}
.RadTreeList .rtlPager .rtlWrap {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; WHITE-SPACE: nowrap; FLOAT: left; PADDING-TOP: 0px
}
.RadTreeList .rtlPager .rtlInfoPart {
	FLOAT: right
}
.RadTreeList .rtlPager .rtlInfoPart STRONG {
	FONT-WEIGHT: normal
}
.RadTreeList .rtlPager .rtlPageFirst {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #9a31a3; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 22px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 22px; FONT-SIZE: 1px; VERTICAL-ALIGN: bottom; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 1px; PADDING-TOP: 0px
}
.RadTreeList .rtlPager .rtlPagePrev {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #9a31a3; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 22px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 22px; FONT-SIZE: 1px; VERTICAL-ALIGN: bottom; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 1px; PADDING-TOP: 0px
}
.RadTreeList .rtlPager .rtlPageNext {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #9a31a3; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 22px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 22px; FONT-SIZE: 1px; VERTICAL-ALIGN: bottom; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 1px; PADDING-TOP: 0px
}
.RadTreeList .rtlPager .rtlPageLast {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #9a31a3; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 22px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 22px; FONT-SIZE: 1px; VERTICAL-ALIGN: bottom; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 1px; PADDING-TOP: 0px
}
.RadTreeList .rtlPager .rtlPageFirst {
	MARGIN-RIGHT: 1px
}
.RadTreeList .rtlPager .rtlPagePrev {
	MARGIN-RIGHT: 1px
}
.RadTreeList .rtlPager .rtlPageNext {
	MARGIN-LEFT: 1px
}
.RadTreeList .rtlPager .rtlPageLast {
	MARGIN-LEFT: 1px
}
.RadTreeList .rtlPager .rtlPagerButton {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; PADDING-BOTTOM: 2px; LINE-HEIGHT: 12px; MARGIN: 0px 14px 0px 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; HEIGHT: 22px; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; BORDER-TOP: 1px solid; CURSOR: pointer; BORDER-RIGHT: 1px solid; PADDING-TOP: 0px
}
.RadTreeList .rtlPager .rtlNumPart A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px; FLOAT: left; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.RadTreeList .rtlPager .rtlNumPart SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.RadTreeList .rtlPager .rtlNumPart A:hover SPAN {
	CURSOR: pointer
}
.RadTreeList .rtlPager .rtlNumPart A.rtlCurrentPage {
	CURSOR: default
}
.RadTreeList .rtlPager .rtlNumPart A.rtlCurrentPage:hover {
	CURSOR: default
}
.RadTreeList .rtlPager .rtlNumPart A.rtlCurrentPage SPAN {
	CURSOR: default
}
.RadTreeList .rtlPager .rtlNumPart A.rtlCurrentPage:hover SPAN {
	CURSOR: default
}
.RadTreeList .rtlPager .rtlWrap A IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 0px 8px; BORDER-TOP: 0px; BORDER-RIGHT: 1px
}
.RadTreeList .rtlPager .RadSlider {
	MARGIN: 0px 10px 0px 0px; FLOAT: left
}
.RadTreeList .rtlPager .rtlPagerLabel {
	MARGIN: 0px 4px 0px 0px; VERTICAL-ALIGN: middle
}
.RadTreeList .rtlPager .rtlPager .RadComboBox {
	MARGIN: 0px 4px 0px 0px; VERTICAL-ALIGN: middle
}
.RadTreeList .rtlPager .rtlPager .RadInput {
	MARGIN: 0px 4px 0px 0px; VERTICAL-ALIGN: middle
}
* + HTML .RadTreeList .rtlPager .rtlPager .RadComboBox {
	MARGIN-TOP: -1px
}
* HTML .RadTreeList .rtlPager .rtlPager .RadComboBox {
	PADDING-BOTTOM: 1px; MARGIN-TOP: -1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 1px
}
.RadTreeList .rtlPager .rtlPagerTextBox {
	TEXT-ALIGN: center
}
