.SelectedTab {

    font-size:12px !important;
    font-family: Arial,verdana, sans-serif !important;
    color: #333333 !important;
    font-weight:bold !important;
    text-decoration: none !important;
}

.CustomTab {
     font-size:12px !important;
    font-family: Arial,verdana, sans-serif !important;
    color: #666666 !important;
    text-decoration: none !important;


}

.DisabledTab {
    text-decoration: line-through !important;
    color: red !important;
    font-family: Arial,verdana, sans-serif !important;
}

.HoveredTab {

    font-size:12px !important;
    font-family: Arial,verdana, sans-serif !important;
    text-decoration: underline !important;
}