﻿html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

body 
{

}
.size
{
    width:190px;
    height:auto;    
}

.nivel2
{
    padding-bottom:55px;
    background-image: url('../Imagenes/Iconos/ic_bullet1.png');
}
.nivel3
{
    cursor: pointer;
    padding-bottom:50px;
    background-image: url('../Imagenes/Iconos/ic_produto1.png');
}

/*CONTENEDORES PRINCIPALES*/
#cabecera{
	width:1000px;
	display:block;
	overflow:auto;
	height:95px;
	}
#contenido{
	width:1000px;
	display:block;
	/*overflow:auto;*/
	}	
	
#pie{
	width:1000px;
	display:block;
	overflow:auto;
	}

/*CONTENEDORES CABECERA*/		
#logo_tienda{
    background-position: left;
    width: 208px;
    height:66px;
    margin: 0 5px 0 0;
    float: left;
    background-image: url('../Imagenes/Iconos/ic_chilecompraexpress1.png');
    background-repeat: no-repeat;
}
#buscador_tienda{
    background-position: left;
    width: 402px;
    height: 73px;
    margin: 0 0 0 0;
    float: left;
    background-image: url('../Imagenes/fondos/fondo6.png');
    background-repeat: repeat-x;
}
#menu_compra {
    width:379px;
    height: 73px;
    margin:0 0 0 5px;
    float:right;
    }
    
/*CONTENEDORES CONTENIDO*/	
#bloq_iz{
	display:block;
	float:left;
	width:208px;
	}
#bloq_iz_2{
	display:block;
	float:left;
	width:96px;
	padding-bottom:5px;
	padding-right:10px;
	border-bottom:1px solid #cccccc;
	}
#bloq_centro{
	/*float:left;*/
	display:block;
	}
/*#bloq_centro_2{
	float:left;
	display:block;
	width:788px;
	}*/
#bloq_der{
	display:block;
	float:left;
	}
#content #bloq_centro .borde3{border:none;}

#div_contenedor_cat
{
    width:690px;
 }

	
/*CONTENEDORES BLOQ_IZ*/
#menu_tienda{
    height:auto;
    width:96px;
    float:left;
    /* background-color:Orange;*/
    
    }
#enlaces_tienda{
    width:96px;
    } 



#editar_regiones_despacho{

    padding:10px 0 13px 0;
    width:96px;
    margin:78px 0 0 0;
    }
 #menu_filtros_busqueda{
    background-color: #ececec;
    }  
    
 #menu_filtros_busqueda li{
     cursor:pointer;
     font-weight: normal;
 }
 
  #menu_filtros_busqueda li:hover, #menu_filtros_busqueda li.buscarSelected{
     font-weight: bold;
 }

    
    
/*CONTENEDORES BLOQ_CENTRO*/
#ofertas_especiales{
    width:713px;
    height:350px;
    }
#productos_tabs{
    width:713px;
    height:370px;
    }
#bloq_resultados{
   /* width:780px;*/
    display:block;
    padding:0 0 0 10px;
    min-height:800px;
    } 
    /*
#bloq_resultados .image_block 
{
    width:100px;
    margin: 0 10px 0 10px;
    float:left;
    display:block;
}
#bloq_resultados .information_block 
{
    width:660px;
    min-height:200px;
    float:left;
    display:block;
}  */
.bloq_resultados_2{
    width:530px!important;
    display:block;
    padding:0 0 0 10px;
    }   
    
     
 /*CONTENEDORES ENCABEZADO*/


 .buscador_navegador span{
     margin:3px 0 3px 0;
     line-height:20px;
     display:inline-block;
     } 
 .buscador_navegador INPUT[type='text'] {
     padding:2px;
     width:248px;
     margin-right:15px;
     }   
 .buscador_navegador select {
     padding:2px;
     width:257px;
     margin-right:15px;
     }   
   
/*CONTENEDORES BLOQ_DER*/
#menu_informaciones{
    height:500px;
    width:180px;
    float:left
    }
#menu_informaciones_1{
    width:180px;
    padding:5px 0 0 0;
    float:right;
    padding-left:16px;
    
    }
#menu_informaciones_2{
    width:168px;
    background-color: white;
    height:auto;
    float:right;
    border:1px solid #57A6D0;
    padding:5px 5px 10px 5px;
    margin:5px 0 0 0;
    }
#menu_informaciones_2 SPAN{
    padding:7px 0 10px 0;
    display:inline-block;
    }
#menu_informaciones_3{
    width:148px;
    margin:5px 0 0 0;
    height:auto;
    float:right;
    padding:2px 0 0 32px;
    background-image: url('../Imagenes/Iconos/ic_noticias1.png');
    background-repeat: no-repeat;
    height:29px;
    
    }


/*CONTENEDORES BLOQ_RESULTADOS*/
#resultados_filtros{
    padding: 0 0 20px 10px;
    }  
    
.resultados_filtros_1{
    padding: 0 0 0 10px;
    }

.resultados_filtros_1_1{
    float:left;
    }
.resultados_filtros_1_2{
    float:right;
    margin:0 0 10px 0;
    }
.resultados_filtros_1_3{
    display:block;
    clear:both;
    overflow:auto;
    padding: 8px 5px 6px 5px;
    margin: 25px 0 5px 0;
    }   
.resultados_filtros_1_4{
    background-color:#0739f6;
    float:right;
    }
.bloque_filtros_busqueda1{ 
    overflow:auto;
    }    
.bloque_filtros_busqueda2{ 
    /*background-color:#234564;*/
    } 
.resultados_opciones_1{
    float:left;
    }
.resultados_opciones_1_1{
    float:left;
    line-height:20px;
    }

.resultados_opciones_1_2{
    float:left;
    }  
 .resultados_opciones_1_2 select{
    padding: 2px;
    margin: 0 0 0 4px;
    border:1px solid #999;
}  
.resultados_opciones_2{
    float:right;
    width:300px;
    }     
.resultados_opciones_paginador{
    float:left;
    }   
.resultado_producto{
    border-bottom:1px dotted #666;
    padding:10px 0 10px 0;
    margin:0 0 15px 0;
    overflow:auto;
}
.menu_tienda_listas_desp
{
    width:670px;
    padding:7px 10px 7px 10px;
    }
    
.btn_lista_desp
{
    padding:0px 10px 0px 10px;
    }

.menu_tienda_listas{


}
.menu_tienda_listas_1{
    border-bottom:1px dotted #666;
    padding:0px 15px 15px 17px;
    margin:0px 15px 15px 15px;
    /*overflow:hidden!important;*/
}
.menu_tienda_listas_1 table UL
{
    margin:0 15px -52px 0;
 
    }
    .menu_tiendas_listas .menu_tienda_listas_1 table UL{padding-bottom:42px!important; width:285px;}
.menu_tienda_listas_1 table LI
{
    background-position: left;
    padding: 7px 5px 7px 21px;
    text-decoration: underline;
    background-image: url('../Imagenes/Iconos/ic_producto1.png');
    background-repeat: no-repeat;
}
.menu_tienda_listas_1 table LI:first-child
{
    text-decoration:none;
    background-image: url('../Imagenes/Iconos/ic_bullet1.png');
}

.ficha_completa_enlace{
    padding:15px 0 0 0;
    }
.imagen_producto{
    float:left;
    }
.imagen_producto_1{
    width:90px;
    background-color:#b5cee1;
    height:90px;   
    }
 .imagen_producto_2{
    width:90px;
    margin:5px 0 0 0;
    }   
.descripcion_producto{
    width:678px;
    float:left;
    padding: 0 0 0 10px;
    }
.encabezado_producto{
    padding-bottom:10px;
    }
.contenedor_encabezado_producto
{
    width:361px;
    padding-left:10px;
    }
.encabezado_producto span link{
     margin:0 0 3px 0;
     display:inline-block;
    }
 #titulo_producto a:hover
 {
     color:#2b8ae7;
 }
.Proveedores{
    display:block;
    }
 .proveedor_economico{
     overflow:auto;
     padding:10px 10px 0px 10px;
     height:auto;
     display:block;
     }
 .otro_proveedor{
     overflow:auto;
     margin:6px 0 6px 0;
     }
 .nombre_proveedor_1 {
     float:left;
     max-width:250px;
     }
 .otro_proveedor_1{
     height:12px;
     padding:0 0 5px 0;
     }
  .otro_proveedor_2{
     overflow:auto;
     }    
 .ranking{
     float:none;
     padding:2px 0 0 8px;
     display:inline-block;
     *display:inline;
     text-decoration:none!important;
     }

 
 .proveedor_economico_1{
     height:12px;
     padding:0 0 5px 0;

     }
 .proveedor_sellos{
     /*float:left;*/
     max-width:280px;
     }
 .proveedor_economico_2{
     overflow:auto;
     }
 .proveedor_precio{
    float:right;
     }
.oferta_precio{
     width:230px;
     text-align:right;
     float:left;
     padding: 0 5px 0 0;
     }
 .oferta_precio_anterior {
     display:block;
     height:15px;
     }
 .oferta_formulario{
     float:left;
     height:32px;
     }
.producto_con_monedero{
   width:109px;
   padding:5px 0 0 0;
   text-align:center;
    }
.producto_modenero_ficha{
   width:51px;
   padding:0 28px 0 0;  
    }
 .oferta_formulario INPUT[type='text'] {
     width:42px;
     float:left;
     }
  
 .ir_a INPUT[type='text']{
     width:40px;
     }
     .ir_a INPUT{width:40px;}
 .ir_a{
     float:right;
     }
.oferta_formulario_1{
    float:left;
    margin:0 7px 0 0;
    }

 .proveedor_economico_3 {
     overflow:auto;
     display:block;

     }
 .proveedor_regiones {
     background-color:#F3F3F3;
     float:left;
     padding:2px;
     }
 .proveedor_precio_caro{
     float:right; 
     width:247px;
 }
 .detalle_proveedor_precios{
     display:block;
     text-align:right;
     height:26px;
     }
 .cont_detalle_proveedor_precios
 {
     overflow:auto;
     width:100%;
     }
 .pie_items_vista_previa
 {
     width:100%;
     padding:0 0 15px 0;
     min-height:24px;
     }
 .mas_proveedores{
     padding:10px 10px 10px 10px;
     }

 .pie_producto{
    overflow:auto;
    padding:2px 0 10px 0;
     }
 .produtos_relacionados{
     float:left;
     }
 .agregar_lista{
    background-position: left;
    float: right;

}

 .agregar_lista_items LI {
     padding:0px 0px 0px 0px;
     margin:0px 0px 0px 2px;
     border-bottom:1px solid #999;
     display: table;
    width:98%;

     }
  .agregar_lista_items UL {
      margin:0 0 0 0;
     }     
 .agregar_lista_items LI:hover  {
      background-color:#D5E1F0;
      cursor:pointer;
     } 
 .agregar_lista_items LI SPAN {
     float:left;
     padding:5px 0 0 0;
     }
  .agregar_lista_items2 UL {
      margin:0 0 10px 0;
     } 
   .agregar_lista_items2 LI{
     padding:2px 0 0 0;
     margin:0 0 0 2px;
     display: table;
    width:98%;
     }
 .agregar_lista_items2 LI:hover  {
      background-color:#D5E1F0;
     } 
 .agregar_lista_items2 LI SPAN{
     float:left;
     padding:5px 0 0 0;
     }
     .proveedor1{border-top:1px solid #ddd;}
    .arrow-pu .agregar_lista_items2 ul li input{width:140px; height:18px;} 
    .arrow-pu .agregar_lista_items2 ul li textarea{width:140px; height:77px;}
    .arrow-pu{width:200px;height:auto}
  .agregar_lista_items2 LI INPUT[type='text']{
     margin:4px 0 4px 0;
     }
.paginador_inferior{
    display:block;
    background-color:#7893f5;
    overflow:auto;
    }

.menu_carro_1
{
    background-position: left;
    width: 90px;
    height: 73px;
    float: left;
    margin: 0 6px 0 0;
    background-image: url('../Imagenes/botones/btn_carrito1.png');
    background-repeat: no-repeat;  
    border:0px;
    padding:45px 0 0 0;
    }  
.menu_carro_1:hover{
    background-image: url('../Imagenes/botones/btn_carrito1a.png');
}   
   
.menu_listas_1{
    width:90px;
    height:73px;
    float:left;
    margin:0 6px 0 0;
    background-position: left;
    background-image: url('../Imagenes/botones/btn_listas1.png');
    background-repeat: no-repeat;
    border:0px;
    padding:45px 0 0 0;
    }
.menu_listas_1:hover{
    background-image: url('../Imagenes/botones/btn_listas1a.png');
    }   
    
#ordenes_compra{
    width:90px;
    *width:98px;
    height:73px;
    float:right;
    margin:0px 0px 0px 7px;
    background-position: left;
    background-image: url('../Imagenes/botones/btn_OC1.png');
    background-repeat: no-repeat;
    }
#ordenes_compra:hover{
    background-image: url('../Imagenes/botones/btn_OC1a.png');
    }
#ordenes_compra_1{
    background-color: white;
    z-index: 10;
    height:auto;
    top:73px;
    width:90px;
    position:absolute;
    }
#ordenes_compra_1 UL{
    text-decoration:none;
    padding:0 0 0 0;
    width:186px;
    background-color:White;
    }
#ordenes_compra_1 LI{
    padding:8px 5px 8px 5px;
    border:1px solid #ccc;

    }
#ordenes_compra_1 LI:hover{
    background-color:#D5E1F0;
    }

#ordenes_compra LINK{
    padding-top:45px           
                     }
.btn_ordenes_compra{
   border:0px;
   background-color:transparent;
   height:73px;
   padding-top:45px;
   width:90px;
   text-align:center; 
   white-space: pre-line;
    }
.grandes_compras_1{
    width:90px;
    height:73px;
    float:left;
    margin:0 0 0 0;
    background-position: left;
    background-image: url('../Imagenes/botones/btn_GC1.png');
    background-repeat: no-repeat;
        border:0px;
    padding:45px 0 0 0;
    white-space:normal ;
    }  
.grandes_compras_1:hover{
    background-image: url('../Imagenes/botones/btn_GC1a.png');
    } 
.oferta_producto{
    width:111px;
    background-color:#7FC935;
    height:auto;
    padding:6px;
    float:left;
    }
.producto_visitado_1{
    width:111px;
    background-color:#A2C0DF;
   height:auto;
    padding:6px;
    float:left;
    } 
    
.contenido_oferta{
    width:111px;
    height:auto;
    background-color: Maroon;
    }
.contenido_producto_visitado{
    width:111px;
    height:auto;
    background-color: Blue;
    }
.oferta_imagen{
   width:113px; 
   background-color:white;
   height:107px;
   float:left;
    }
.vista_previa{
    width: 115px;
    height: 17px;
    background-color: white;
    float: left;
    background-image: url('../Imagenes/Iconos/ic_vistarapida1.png');
    background-repeat: no-repeat;
    border:0px ;
}
.contenedor_vista_previa
{
    display:block;
    margin:5px;
    min-height:270px;
    }
.ofertas_especiales_convenios{
   margin:0 0 0 46px;
    }
.btnofertas_especiales_convenios
{
    background-position: left;
    background-image: url('../Imagenes/fondos/fondo11.png');
    background-repeat: repeat-x;
    background-color: #7fc935;
    width: auto;
    background-color: #7FC935;
    border: 0px;
    height: 30px;
    padding: 0 5px 0 5px;
}
.productos_recien_visitados{
   height:auto;
   width:auto;
   margin:0 0 0 0;
   padding:0 0 0 46px;
    }
.mis_visitados{
   background-color:#ccc;
   height:auto;
   width:auto;
   margin:0 0 0 0;
   padding:0 0 0 0;
    }

.descripcion_producto_oferta{
    width:115px; 
    background-color: white; 
    float:left;
    height:auto;
    }
.porcentaje_producto
{
   width:42px;
   height:28px;
   z-index:10; 
   position:absolute;
   left:82px;
   top:6px; 
    background-position: left;
    background-image: url('../Imagenes/Iconos/ic_etiqueta1.png');
    background-repeat: no-repeat;
    }
.porcentaje_producto SPAN{
    position:relative;
    left:9px;
    top:5px;
    }
.detalle_precios{
    padding:15px 0 15px 0;
    text-align:right;
    }

.alineacion_paginas
{
    margin-top:3px;
    vertical-align:top;
    display:inline-block;
float:left;
    }

.alineacion_paginas_2
{
    
    vertical-align:top;
    display:inline-block;
    float:left;
    padding:0 2px 0 2px;
   }    
.pregunta_navegador
{
    height:26px;
    display:block;
    padding-left:164px;
    }
    
.menu_tienda_despliegue
{
    width:795px;
    height:737px;
    /*z-index:20;
    position:absolute;*/
    background-color:White;
    float:left;
    margin-left:-5px;
    }
/*BOTONES E ICONOS*/
.btn_recien_visitados
{
    border: 0;
    background-color: #A2C0DF;
    padding: 5px 5px 5px 5px;
    height: 30px;
    width: auto;
    background-image: url('../Imagenes/fondos/fondo9.png');
    background-repeat: repeat-x;
}
.btn_mis_visitados{
    border:0;
    background-color:#ccc;
    padding:5px 5px 5px 5px;
    height:30px;
    width:auto;
    background-image: url('../Imagenes/fondos/fondo10.png');
    background-repeat: repeat-x;
    }
 .ic_ofertas_especiales{
    background-image: url('../Imagenes/Iconos/ic_ofertasespeciales1.png');
    background-repeat: no-repeat;
    background-position: left top;
    padding: 0 0 0 21px;
    display: inline-block;
    line-height: 12px;
    width:94px;
}
.btn_masproveedores_1{
    width:145px;
    cursor:pointer;
    }
.btncarro{
    width:90px;
    height:73px;
    }
.btnmislistas{
    width:90px;
    height:73px;
    }
.btnordenescompra{
    width:90px;
    height:73px;
    }
.btngrandescompras{
    width:90px;
    height:73px;
    }
    
.btnira{
    background-image: url('../Imagenes/botones/btn_vermas1.png');
    border-style: none;
    border-width: 0px;
    width: 27px;
    height: 27px;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;
}    
.btnira:hover{
    background-image: url('../Imagenes/botones/btn_vermas1a.png');
}
.btnoferta_formulario{
    background-image: url('../Imagenes/botones/btn_ofertaform1.png');
    border-style: none;
    border-width: 0px;
    width: 49px;
    height: 30px;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;
}
.btnoferta_formulario:hover{
    background-image: url('../Imagenes/botones/btn_ofertaform1a.png');
}
.btnimprimir1{
    background-image: url('../Imagenes/Iconos/ic_imprimir1.png');
    background-repeat: no-repeat;
    padding:0 0 0 25px;
    height:17px;
    display:inline-block;
    cursor:pointer;
}
.btnexcel1{
    background-image: url('../Imagenes/Iconos/ic_excel1.png');
    background-repeat: no-repeat;
    padding:0 0 0 25px;
    margin:0 20px 0 0;
    height:17px;
    display:inline-block;
    cursor:pointer;
}
.btnpyme{
   background-image: url('../Imagenes/botones/btn_pyme1.png');
    border-style: none;
    border-width: 0px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer; 
    }
.btnpyme:hover{
   background-image: url('../Imagenes/botones/btn_pyme1a.png');
    }
.btnsusten{
    background-image: url('../Imagenes/botones/btn_susten1a.png');
    border-style: none;
    border-width: 0px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;    
    }
.btnsusten:hover{
   background-image: url('../Imagenes/botones/btn_susten1.png');
    }
.btnapl{
    background-image: url('../Imagenes/botones/btnapl1.png');
    border-style: none;
    border-width: 0px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;
}
.btnapl:hover{
   background-image: url('../Imagenes/botones/btnapl1a.png');
    }
.btnapl1{
    background-image: url('../Imagenes/botones/btn_apl1.png');
    border-style: none;
    border-width: 0px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;  
    }
.btnapl1:hover{
   background-image: url('../Imagenes/botones/btn_apl1a.png');
    }
.btneco1{
    background-image: url('../Imagenes/botones/btn_eco1.png');
    border-style: none;
    border-width: 0px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;  
    }
.btneco1:hover{
   background-image: url('../Imagenes/botones/btn_eco1a.png');
    }
.btnefic1{
     background-image: url('../Imagenes/botones/btn_efic1.png');
    border-style: none;
    border-width: 0px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;     
    }
.btnefic1:hover{
   background-image: url('../Imagenes/botones/btn_efic1a.png');
    }
.btnenerg1{
    background-image: url('../Imagenes/botones/btn_energ1.png');
    border-style: none;
    border-width: 0px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;     
    }
.btnenerg1:hover{
   background-image: url('../Imagenes/botones/btn_energ1a.png');
    }    
.btnfsc1{
    background-image: url('../Imagenes/botones/btn_fsc1.png');
    border-style: none;
    border-width: 0px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;     
    }
.btnfsc1:hover{
   background-image: url('../Imagenes/botones/btn_fsc1a.png');
    }  
.btnpefc1{
    background-image: url('../Imagenes/botones/btn_pefc1.png');
    border-style: none;
    border-width: 0px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;     
    }
.btnpefc1:hover{
   background-image: url('../Imagenes/botones/btn_pefc1a.png');
    } 
.btnrecic1{
    background-image: url('../Imagenes/botones/btn_recic1.png');
    border-style: none;
    border-width: 0px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;     
    }
.btnrecic1:hover{
   background-image: url('../Imagenes/botones/btn_recic1a.png');
    }    
.btnreu1{
    background-image: url('../Imagenes/botones/btn_reu1.png');
    border-style: none;
    border-width: 0px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;     
    }
 .btninvertirfiltro{
    background-image: url('../Imagenes/botones/btn_invertir1.png');
    border-style: none;
    border-width: 0px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;    
    margin-top:-4px; 
    }
.btninvertirfiltro:hover{
   background-image: url('../Imagenes/botones/btn_invertir1a.png');
    } 
.btnreu1:hover{
   background-image: url('../Imagenes/botones/btn_reu1a.png');
    } 
.btn_proveedor_precio_caro{
    background-color:#FFA722;
    padding:5px 4px 5px 4px;
    margin:0 8px 0 0;
    } 
 .btn_proveedor_precio_caro:hover{
    background-color:#FD9800; 
     }   
 .btn_agregar_lista{
    background-position: 4px center;
    background-color: #cccccc;
    padding: 5px 4px 5px 22px;
    background-image: url('../Imagenes/Iconos/ic_listachica1.png');
    background-repeat: no-repeat;
}

 .btn_agregar_lista:hover {
    background-color:#BEBEBE;
     }

#btn_busqueda_av:hover{
    background-image: url('../Imagenes/botones/btn_desplegar1a.png');
    background-repeat: no-repeat;
    background-position: left;
}
.btn_busqueda_av{
    padding:5px 0 0 130px;
    width:125px;
    cursor:pointer;
    }
.btn_mas_proveedores_1a{
    display:inline-block;
    margin-top:5px;
    vertical-align:top;
    }
.btnficha{
    background-image: url('../Imagenes/botones/btn_ficha1.png');
    background-repeat: no-repeat;
    background-position: left;
    background-color: transparent;
    width:38px;
    height:42px;
    border:0;
    background-color:transparent;
}
.btnficha:hover{
    background-image: url('../Imagenes/botones/btn_ficha1a.png');
    }
.ic_enlaces{
    background-image: url('../Imagenes/iconos/ic_enlaces1.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    width:90px;
    border: 0;
    display: inline-block;
    background-color: transparent;
}
/*BUSCADOR*/
.buscador{
    height:53px;
    }
.buscador_navegador{
    background-position: top;
    width: 392px;
    background-color: #dea5b7;
    z-index: 30;
    position: absolute;
    padding: 10px 0 10px 10px;
    background-image: url('../Imagenes/fondos/fondo7.png');
    background-repeat: repeat-x;
    background-color:#b3b3b3;
}
.buscador_navegador INPUT[type='text']{
     padding:2px;
     width:248px;
     }
#contenido_buscador{
    padding:0 0 0 0;
    margin-bottom:20px;
    }  
  .btnminicarrito{
    background-position:left;
    width:20px;
    height:21px;
    border:0px;
    background-color:transparent;
    background-image: url('../Imagenes/botones/btn_minicarrito1.png');
    background-repeat: no-repeat;
    cursor:pointer;

}
 .btnminicarrito:hover {
    background-image: url('../Imagenes/botones/btn_minicarrito1a.png');
     }
     
.ic_informaciones{
    background-position:top left;
    padding: 0 0 0 25px;
    background-image: url('../Imagenes/Iconos/ic_info.png');
    background-repeat: no-repeat;
    display:inline-block;
}
 .btn_menu_escritorio{
    background: url('../Imagenes/fondos/fondo8.png') no-repeat 10px 0px;
    font-family:Verdana;
    font-size:12px;
    font-weight:600;
    height:24px;
    width:108px;
    padding:0 0 0 5px;
    /*border:1px solid #999;*/
    line-height:24px;
    
}
 .btn_menu_escritorio:hover{
    /*background-color:White;
    background-image: none;*/
    color:#135799;
    height:24px;
    width:108px;
    padding:0 0 0 5px;
    /*border:1px solid #999;*/
    /*border-right:1px solid #fff;*/
    
}

/* MENU FILTROS DEL BUSCADOR*/
#menu_filtros_resultados{
   width:202px;
   padding:2px; 
    }
#menu_filtros_resultados LI {
   font-size:10px;
   padding:3px 20px 3px 5px;
   display:inline-block;
   width:178px;
    }
#menu_filtros_resultados a {
   font-size:10px;
   float:right;
   padding-left:20px;
    }
#menu_filtros_resultados LI span {
   width:16px;
   display:inline-block;
    }
#menu_filtros_resultados LI .subr{width:100px; text-align:right;}