
body{
    font-family: Verdana,Arial, sans-serif;
    color: #666666;
    font-size: 0.71em;
   }
 
   
h1,h2,h3,h4,h5,h6{}
/*TIPOGRAFIAS*/
/*
@font-face {
	font-family: "gobCL";
	src: url("../Content/Estilos/Fuentes/gobCL_Regular.eot");
	src: url("../Content/Estilos/Fuentes/gobCL_Regular.eot?#iefix") format("embedded-opentype"),
	     url("../Content/Estilos/Fuentes/gobCL_Regular.woff") format("woff"),
	     url("../Content/Estilos/Fuentes/gobCL_Regular.ttf") format("truetype"),
	     url("../Content/Estilos/Fuentes/gobCL_Regular.svg") format("svg");
}*/

.gobcl {font-family: "gobCL", Verdana, sans-serif; }

/*JUSTIFICACIONES*/

.centro{margin:0px auto;}
.der{float:right}
.izq{float:left;}


/*LINEAMIENTOS*/
.hr1{border: 1px;border-color: #cccccc;border-style: solid;}
.subr1{background-color: #cccccc;height:3px;margin-left:5px;margin-right:5px;margin-top:0px;}


/*ESTILOS*/
.negrita{font-weight:bold;}
.italica{font-style:italic;}
.capital{text-transform:capitalize;}
.subr{ /* text-decoration:underline;cursor:pointer */}
.subr.gris_1.gris_2.gris_3:hover{color:#135799}
.justif{ text-align:justify}
.centrado{text-align: center}
.izquierda{text-align:left}
.tachado{text-decoration: line-through;}
.sinsub{text-decoration:none;}

.gris_2:hover{color:#135799}

/*TEXTO TAMAÑOS*/
.enorme{font-size:2.1em;}/*18px*/
.gigante{font-size:1.9em;}/*16px*/
.grande{font-size:1.3em;}/*14px*/
.mediano{font-size:1.1em;}/*12px*/
.chico{font-size:1em;}/*11px*/
.pequeno{font-size:0.9em;}/*10px*/
.mayus{text-transform: uppercase;}
 
/*COLORES*/

.rojo{color:#C40606;}
.verde{color:#009900;}
.naranjo{color:#ef8715;}
.azul{color:#135799;}
.gris_1{color:#999999;}
.gris_2{color:#666666;}
.gris_3{color:#333333;}
.blanco{color:#ffffff;}



/*DIMENSIONES BOTONES*/
.alt1{height:12px;width:9px;}
.alt2{height:17px;width:17px;}


/*BOTONES*/
.btn{
-moz-border-radius:2px 2px 2px 2px;
-webkit-border-radius: 2px;
border-radius:2px;
text-decoration: none;
cursor: pointer;
}
.btn1{
    vertical-align:middle;
    border-style:none;
    }
.btn2
{
-moz-border-radius:3px 3px 3px 3px;
-webkit-border-radius: 3px;
border-radius:3px;
text-decoration: none;
    }



/*FONDOS BOTONES, FONDOS GENERALES */
	    
.fondo1{background-color: #333333;}         
.fondo2 {background-color: #ececec;}
.fondo6 {background-color:#eeeeee;}
.fondo8{background-color:#FFF0BB;}
.fondo9 { background-color:#FFA722;}
.fondo10{background-color:#D5E1F0}

/*Botón principal*/
.fondo3{ 
    background-color: #99CC00;
    border: 1px solid;
    border-top-color: #aedd82;
	border-right-color: #88b307;
	border-bottom-color: #477b0b;
	border-left-color: #aedd82;
    background-image: url(/ChileCompraExpress.Web/Content/Estilos/Imagenes/fondos/fondo1.png);
    background-repeat: repeat-x;
    background-position: left;
    padding: 0px 12px 0px 12px;
   /* *padding:0px 5px 0px 5px;
    *margin-top:-24px;*/
    
    cursor:pointer;}
.fondo3:hover, .fondo3:active{
    border-top-color: #9bd283;
	border-right-color: #5d990d;
	border-bottom-color: #1f5c10;
	border-left-color: #9bd283;
    background-image: url(../../../Includes/Estilos/Imagenes/fondos/fondo1a.png);
    background-repeat: repeat-x;
    background-position: left;}
    
/*Botón secundario*/   
.fondo4{
    background-color: #2d689b;
    border: 1px solid;
    border-top-color: #97dbf6;
    border-right-color: #5496c2;
    border-bottom-color: #2d689b;
    border-left-color: #97dbf6;
    background-image: url(../../../Includes/Estilos/Imagenes/fondos/fondo2.png);
    background-repeat: repeat-x;
    background-position: left;
    padding: 0px 12px 0px 12px;
    *padding:0px 5px 0px 5px;
    cursor: pointer;
}
.fondo4:hover,.fondo4:active{
	border-top-color: #67aaca;
	border-right-color: #325e7b;
	border-bottom-color: #224563;
	border-left-color: #67aaca;
	background-image: url(../../../Includes/Estilos/Imagenes/fondos/fondo2a.png);
	background-repeat: repeat-x;
	background-position: left;
}

/*Botón bloqueado*/
.fondo5{
    background-color: #CCCCCC;
    border: 1px solid;
    border-top-color: #d3d6db;
    border-right-color: #a2a3a8;
    border-bottom-color: #7c7e88;
    border-left-color: #d3d6db;
    background-image: url('../Imagenes/fondos/fondo3.png');
    background-repeat: repeat-x;
    background-position: left;
    padding: 0px 12px 0px 12px;
    *padding:0px 5px 0px 5px;
    cursor: pointer;
}
.fondo7
{
    background-color: #C0C0C0;
    background-image: url('../Imagenes/Fondos/fondo4.png');
    background-repeat: repeat-x;
    background-position: left;
}



.btnbuscar{background-image: url(../../../Includes/Estilos/Imagenes/botones/btn_buscar1.png);
           border-style: none; border-width: 0px;width:21px;height:21px;background-color:transparent;}    
.btnbuscar:hover{background-image: url(../../../Includes/Estilos/Imagenes/botones/btn_buscar1a.png);
                 border-style: none; border-width: 0px;width:21px;height:21px;background-color:transparent;}     
.btnfiltrar{background-image: url(../../../Includes/Estilos/Imagenes/botones/btn_filtrar1.png);
           border-style: none; border-width: 0px;width:28px;height:28px;background-color:transparent;vertical-align:middle;}    
.btnfiltrar:hover{background-image: url(../../../Includes/Estilos/Imagenes/botones/btn_filtrar1a.png);
                 border-style: none; border-width: 0px;width:28px;height:28px;background-color:transparent;}    
                
.btncerrar{background-image: url(../../../Includes/Estilos/Imagenes/botones/btn_cerrar1.png);
           border-style: none; border-width: 0px;width:22px;height:22px;background-color:transparent;vertical-align:middle;
           cursor: pointer;}    
.btncerrar:hover{background-image: url(../../../Includes/Estilos/Imagenes/botones/btn_cerrar1a.png);
                 border-style: none; border-width: 0px;width:22px;height:22px;background-color:transparent;}
.btnpregunta 
{
    width:20px;height:20px;background-color:#d43f6d;
    }    
.btntest
{
    background-position: center;
    background-image: url('../Imagenes/Botones/boton_test.png');
    border-style: none;
    border-width: 0px;
    width: 54px;
    height: 81px;
    background-color: transparent;
    background-repeat: no-repeat;
}    
.btntest:hover{
    background-position: center;
    background-image: url('../Imagenes/Botones/boton_test2.png');
    border-style: none;
    border-width: 0px;
    width: 54px;
    height: 81px;
    background-color: transparent;
    background-repeat: no-repeat;
} 
.btneditor
{
    background-image: url('../Imagenes/botones/btn_editor1.png');
    background-repeat: no-repeat;
    background-position: left;
    margin: 0 auto;
    width: 95px;
    height: 88px;
    cursor: pointer;
}
.btneditor:hover
{
    background-image: url('../Imagenes/botones/btn_editor1a.png');
    background-repeat: no-repeat;
    background-position: left;
}
    
.btngestion
{
    background-image: url('../Imagenes/botones/btn_gestion1.png');
    background-repeat: no-repeat;
    background-position: left;
    margin: 0 auto;
    width: 95px;
    height: 88px;
    cursor: pointer;
}
.btngestion:hover{background-image: url('../Imagenes/botones/btn_gestion1a.png');
    background-repeat: no-repeat;
    background-position: left;}
    
.btnfudea
{
    background-image: url('../Imagenes/botones/btn_fudea1.png');
    background-repeat: no-repeat;
    background-position: left;
    margin: 0 auto;
    width: 95px;
    height: 88px;
    cursor: pointer;
}
.btnfudea:hover{background-image: url('../Imagenes/botones/btn_fudea1a.png');
    background-repeat: no-repeat;
    background-position: left;}

.btnayuda
 {
    background-image: url('../Imagenes/botones/btn_ayuda1.png');
    background-repeat: no-repeat;
    background-position: left; 
    margin: 0 auto;
    width: 29px;
    height: 28px;
    cursor: pointer;  
    border:0; 
    background-color:transparent; 
     }                   
.btnayuda:hover
{
  background-image: url('../Imagenes/botones/btn_ayuda1a.png');  
    } 
  .btneliminar2
{
    background-position:left;
    width:26px;
    height:26px;
    border:0px;
    background-color:transparent;
    background-image: url('../Imagenes/botones/btn_eliminar2.png');
    background-repeat: no-repeat;
    cursor:pointer; 
}
 .btneliminar2:hover
 {
    background-image: url('../Imagenes/botones/btn_eliminar2a.png');
     }  
  .icagregar1
{
    background-position:left;
    width:26px;
    height:26px;
    background-image: url('../Imagenes/botones/btn_agregar1.png');
    background-repeat: no-repeat;
    border:0px;
    background-color:transparent;
    cursor:pointer;
}
  .icheck1
{
    background-position:left;
    width:19px;
    height:26px;
    border:0px;
    background-color:transparent;
    background-image: url('../Imagenes/iconos/ic_check1.png');
    background-repeat: no-repeat;
    border:0;
    background-color:transparent;
}
.btndescarga1
{
    background-position:top left;
    padding: 0 0 0 30px;
    background-image: url('../Imagenes/botones/btn_descargar1.png');
    background-repeat: no-repeat;
    display:inline-block;
    height:32px;
    line-height:30px;
}
.btndescarga1:hover
{
    background-image: url('../Imagenes/botones/btn_descargar1a.png');
    }   
 .btn_guardar_lista
{
    border-width: 0px;
    background-position: left center;
    background-image: url('../Imagenes/botones/btn_guardar1.png');
    background-repeat: no-repeat;
    height: 19px;
    width: 19px;
    background-color: transparent;
    cursor:pointer;
}
 .btn_guardar_lista:hover
{
    background-image: url('../Imagenes/botones/btn_guardar1a.png');
}            

/*ENLACES ESPECIALES*/
.rojolink a{color:#C40606;}
.rojolink:hover, rojo:active{color:#de0808;}
.rojolink:visited{color:#933c46;}

.azulink{color:#135799;}
.azulink a{color:#2b8ae7;}
.azulink:hover, azul:active{color:#2b8ae7;}
.azulink:visited{color:#597c9d;}

.azulink2{color:#135799;}
.azulink2 a{color:#2b8ae7;}
.azulink2:hover, azul:active{color:#2b8ae7;}
.azulink2:visited{color:#597c9d;}


/*CONTENEDORES*/
.contenedor{
    padding: 2px;
    border: 1px;
    border-color: #cccccc;
    border-style: solid;
    margin: 0px 5px 5px 5px;
    min-width:476px;}
.contenedor2{
    padding: 2px;
    margin: 0px 5px 5px 5px;}
    
.contenedor3{
-moz-border-radius:7px 7px 7px 7px;
-webkit-border-radius: 7px;
border-radius:7px;
text-decoration: none;
}
.contenedor4{
-moz-border-radius:7px 7px 0px 0px;
-webkit-border-radius: 7px 7px 0px 0px;
border-radius:7px 7px 0px 0px;
text-decoration: none;
}

/*BORDES*/
.borde1{border: 1px;border-color: #cccccc;border-style: solid;}
.borde2{border: 1px;border-color: #ffffff;border-style: solid;}
.borde3{border: 1px;border-color: #999;border-style: solid;}


/*SOMBRAS*/
.sombras
{
    -moz-box-shadow: 0 0 13px 5px #dddddd;
    -webkit-box-shadow: 0 0 13px 5px #dddddd;
    box-shadow:  0px 0px 25px #dddddd;
}

/*SELECTORES*/

.selector{
    padding:2px;
    border: 1px;
    border-color: #999999;
    border-style: solid;
    font-size:1em;
   font-family: inherit;
   *font-family: Verdana,Arial, sans-serif;
    }

.radiobutton{margin-top:-4px;margin-left:-2px;padding-right:7px;}/*primera columna*/
.radiobutton2{margin-top:-4px;margin-left:-6px;padding-right:7px}/*segunda columna*/
.checkbox{padding-right: 3px; margin-left: -3px;}
  
/*VIÑETAS*/
.vin1{
    background-image: url('../Imagenes/vinetas/vin_1.png');
    background-repeat: no-repeat;
    background-position: left;
    width: 31px;
    height: 32px;
}
.vin1a{
    background-image: url('../Imagenes/vinetas/vin_1a.png');
    background-repeat: repeat-x;
    background-position: left;
    height: 32px;
}
.vin1b
{
    background-image: url('../Imagenes/vinetas/vin_1b.png');
    background-repeat: no-repeat;
    background-position: left;
    width: 31px;
    height: 32px;
}
.vin2
{
    background-image: url('../Imagenes/vinetas/vin_2.png');
    background-repeat: no-repeat;
    width: 64px;
    height: 44px;
}
.cssPagerStyle2
{
    font-size: 10px important!;
       font-family: Verdana;
       background-color: #E2E2E2;
       font-weight: bold;  
       text-align: left;
}

/*SECCIONES PRINCIPALES*/
#Footer
{
    background-position: 10px;
    width: 1000px;
    height:139px;
    border-top:1px dotted #666;
    margin:10px 0 0 0;
}
#footer_info
{

    margin:7px 0 0 0;
    margin-top:13px;
    line-height:15px;
    width:855px;
    position: absolute;
    background-image: url('../Imagenes/Iconos/ic_logochilecompra1.png');
    background-repeat: no-repeat;
    padding:0 0 0 111px;
    
} 
#footer_areas
{
    display:block;
    line-height:20px;
    padding:5px 0 0 5px;
    }   
#footer_areas span LINK
{
 border-right: 1px solid #333;
    } 