.ui-rangeSlider{
	height:22px;
}

.ui-rangeSlider .ui-rangeSlider-innerBar{
	height:16px;
	margin:3px 0px;
	background:#BCBCBC;
	
}
.ui-rangeSlider-innerBar
{
    width:185px !important;
    }
.ui-rangeSlider .ui-rangeSlider-handle{
	width:6px;
	height:22px;
	background:#AAA;
	background:rgba(100,100,100, 0.3);
	cursor:col-resize;
}

.ui-rangeSlider .ui-rangeSlider-bar{
	margin: 1px 0;
	background:#CCC;
	background:rgba(100,100,150, 0.2);
	height:20px;
	cursor:move;
	cursor:grab;
	cursor: -moz-grab;
}

.ui-rangeSlider .ui-rangeSlider-bar.ui-draggable-dragging{
	cursor:	-moz-grabbing;
	cursor:grabbing;
}

.ui-rangeSlider-arrow{
	height:16px;
	margin:2px 11px;
	width:16px;
	background-repeat:no-repeat;display:none;
}

.ui-rangeSlider-arrow.ui-rangeSlider-leftArrow{
	background-image: url('icons-classic/resultset_previous.png');
	background-position:center left;
	display:none;
}

.ui-rangeSlider-arrow.ui-rangeSlider-rightArrow{
	background-image: url('icons-classic/resultset_next.png');
	background-position:center right;display:none;
}

.ui-rangeSlider-arrow-inner{
	display: none;
}

.ui-rangeSlider-container{
	height:22px;
}

.ui-rangeSlider-withArrows .ui-rangeSlider-container{
	margin:0 0px;
}

.ui-rangeSlider-noArrow .ui-rangeSlider-container{
	margin:0;
}

.ui-rangeSlider-label{
	margin:0 2px 2px;
	background-image:url('icons-classic/label.png');
	background-position:bottom center;
	background-repeat:no-repeat;
  white-space: nowrap;
  bottom:20px;
  padding:3px 6px 7px;
  cursor:col-resize;
}

.ui-rangeSlider-label-inner{
	display:none;
}

/*
 * Edit slider
 */

input.ui-editRangeSlider-inputValue{
	width:3em;
	vertical-align: middle;
	text-align:center;
}

.ui-rangeSlider-label
{
    top:25px;
    
    }
.ui-rangeSlider-bar
{
   /* width:185px !important;*/
   background-color:#8c8c8c!important;
   
    }
.ui-rangeSlider-container
{
      width:185px !important;
    }
    
.ui-rangeSlider-leftHandle
{
    background-color:#333!important;
    
    }
.ui-rangeSlider-rightHandle
{
    background-color:#333!important;
    
    }