﻿.col1, .col2, .col3, .col4, .mard1, .mard2
{
    display: inline-block;
    margin-left: 0px;
    padding: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    vertical-align: top;
    line-height:21px;
}

.col1
{
    width: 114px;
    margin-right: 10px;
    *display:inline;

}

.col2
{
    width: auto;
    margin-right: 10px;
    *display:inline;

}

.col3
{
    width: 342px;
    margin-right: 10px;
    *display:inline;
}

.col4
{
    width: 473px;
    margin-right: 10px;
    *display:inline;
}
.col5
{
   width: 570px;
   margin-right: 10px;
   *display:inline; 
    }

.salto
{
    clear: both;
    display: block;
}

.mard1
{
    margin-right: 124px;
}

.mard2
{
    margin-right: 238px;
}
