/*Telerik RadGrid Default Skin*/

/*global*/
    div.RadGrid
        {
            margin-left: auto !important;
            margin-right: auto !important;
        }


.RadGrid_radgrid
{
    border:1px solid #dcdbdb;
    background:#dae9f4;
    color:#666666;
}

.RadGrid_radgrid,
.RadGrid_radgrid .rgMasterTable,
.RadGrid_radgrid .rgDetailTable,
.RadGrid_radgrid .rgGroupPanel table,
.RadGrid_radgrid .rgCommandRow table,
.RadGrid_radgrid .rgEditForm table,
.RadGrid_radgrid .rgPager table,
.GridToolTip_radgrid
{
    font:11px/15px "Verdana",Arial,sans-serif;

}

.RadGrid_radgrid .rgAdd,
.RadGrid_radgrid .rgRefresh,
.RadGrid_radgrid .rgEdit,
.RadGrid_radgrid .rgDel,
.RadGrid_radgrid .rgFilter,
.RadGrid_radgrid .rgPagePrev,
.RadGrid_radgrid .rgPageNext,
.RadGrid_radgrid .rgPageFirst,
.RadGrid_radgrid .rgPageLast,
.RadGrid_radgrid .rgExpand,
.RadGrid_radgrid .rgCollapse,
.RadGrid_radgrid .rgSortAsc,
.RadGrid_radgrid .rgSortDesc,
.RadGrid_radgrid .rgUpdate,
.RadGrid_radgrid .rgCancel,
.RadGrid_radgrid .rgUngroup,
.RadGrid_radgrid .rgExpXLS,
.RadGrid_radgrid .rgExpDOC,
.RadGrid_radgrid .rgExpPDF,
.RadGrid_radgrid .rgExpCSV
{
	background-image:url('Grid/sprite.gif');
}

/*header*/

.RadGrid_radgrid .rgHeaderDiv
{
	background:#494d50 0 -7550px repeat-x url('Grid/sprite.gif');


}
.rgTwoLines .rgHeaderDiv
{
	background-position:0 -7050px;

}

.RadGrid_radgrid .rgHeader,
.RadGrid_radgrid th.rgResizeCol
{
	border:0;
	border-bottom:1px solid #ffffff;
	background:#494d50 /*0 -2300px repeat-x url('Grid/sprite.gif')*/;

				   
}

.RadGrid_radgrid th.rgSorted
{
	background-color:#c4c4c4;
	background-position:0 -2600px;

}

.RadGrid_radgrid .rgHeader, .RadGrid_radgrid .rgHeader a
{
    color: #999999;

}

/*rows*/

.RadGrid_radgrid .rgRow td, .RadGrid_radgrid .rgAltRow td, .RadGrid_radgrid .rgEditRow td, .RadGrid_radgrid .rgFooter td
{
    /*border-color: #FF00FF;*/
    border-style: solid;
    border-width: 0px 0 1px 0;

}

.RadGrid_radgrid .rgRow td
{
	border-color:#ffffff;

}

.RadGrid_radgrid .rgAltRow
{
	background:#dae9f4;

}
.rgAltRow:hover
{
    background:#b2d2e9 !important;
    }
    
.rgRow:hover{background:#b2d2e9 !important;}

.RadGrid_radgrid .rgAltRow td
{
	border-color:#ffffff;
}

.RadGrid_radgrid .rgRow .rgSorted
{
	border-bottom-color:#f2f2f2;
	background-color:#f2f2f2;
}

.RadGrid_radgrid .rgAltRow .rgSorted
{
	border-bottom-color:#e6e6e6;
	background-color:#e6e6e6;
}

.RadGrid_radgrid .rgSelectedRow .rgSorted,
.RadGrid_radgrid .rgActiveRow .rgSorted,
.RadGrid_radgrid .rgHoveredRow .rgSorted,
.RadGrid_radgrid .rgEditRow .rgSorted
{
	background-color:transparent;
}

.RadGrid_radgrid .rgRow a,
.RadGrid_radgrid .rgAltRow a,
.RadGrid_radgrid .rgEditRow a,
.RadGrid_radgrid tr.rgEditRow a,
.RadGrid_radgrid tr.rgHoveredRow a,
.RadGrid_radgrid tr.rgActiveRow a,
.RadGrid_radgrid .rgFooter a,
.RadGrid_radgrid .rgEditForm a
{
	color:#000000;
}

.RadGrid_radgrid .rgSelectedRow
{
    background:#828282 0 -3900px repeat-x url('Grid/sprite.gif');
    color:#ffffff;
}
*+html .RadGrid_radgrid .rgSelectedRow .rgSorted{background-color:#828282;}
* html .RadGrid_radgrid .rgSelectedRow .rgSorted{background-color:#828282}

.RadGrid_radgrid .rgSelectedRow a
{
	color:#ffffff;
}

.RadGrid_radgrid .rgActiveRow,
.RadGrid_radgrid .rgHoveredRow
{
    background:#c4c4c4 0 -2900px repeat-x url('Grid/sprite.gif');
    color:#333333;
}
*+html .RadGrid_radgrid .rgActiveRow .rgSorted,
*+html .RadGrid_radgrid .rgHoveredRow .rgSorted{background-color:#c4c4c4}
* html .RadGrid_radgrid .rgActiveRow .rgSorted,
* html .RadGrid_radgrid .rgHoveredRow .rgSorted{background-color:#c4c4c4}

.RadGrid_radgrid .rgEditRow
{
	background:#ffffff 0 -4900px repeat-x url('Grid/sprite.gif');
	color:#333333;
}
*+html .RadGrid_radgrid .rgEditRow .rgSorted{background-color:#ffffff}
* html .RadGrid_radgrid .rgEditRow .rgSorted{background-color:#ffffff}

.RadGrid_radgrid .rgActiveRow td,
.RadGrid_radgrid .rgActiveRow td.rgSorted,
.RadGrid_radgrid .rgHoveredRow td,
.RadGrid_radgrid .rgHoveredRow td.rgSorted
{
	border-bottom-color:#9e9e9e;
}

.RadGrid_radgrid .rgSelectedRow td,
.RadGrid_radgrid .rgSelectedRow td.rgSorted
{
	border-bottom-color:#6b6b6b;
}

.RadGrid_radgrid .rgDrag
{
	background-image:url('Grid/rgDrag.gif');
}

/*footer*/

.RadGrid_radgrid .rgFooterDiv,
.RadGrid_radgrid .rgFooter
{
	background:#ffffff;
}

.RadGrid_radgrid .rgFooter td
{
	border-top:1px solid #dcdbdb;
	border-bottom:0px solid #dcdbdb;
	
}


/*status*/

.RadGrid_radgrid .rgPager .rgStatus
{
	border:1px solid;
	border-color:#828282 #c9c9c9 #ededed #c9c9c9;
	border-left-width:0;
}

.RadGrid_radgrid .rgStatus div
{
	background-image:url('Common/loading_small.gif');
}

/*pager*/

.RadGrid_radgrid .rgPager
{
	background:#ffffff;
}

.RadGrid_radgrid td.rgPagerCell
{
	border:1px solid;
	border-color:#828282 #ededed #ededed;
	border-right-width:0;
}

.RadGrid_radgrid .rgInfoPart
{
	color:#8a8a8a;
}

.RadGrid_radgrid .rgInfoPart strong
{
	color:#545454;
}

.RadGrid_radgrid .rgPageFirst
{
	background-position:0 -550px;
}
.RadGrid_radgrid .rgPageFirst:hover
{
	background-position:0 -600px;
}
.RadGrid_radgrid .rgPagePrev
{
	background-position:0 -700px;
}
.RadGrid_radgrid .rgPagePrev:hover
{
	background-position:0 -750px;
}
.RadGrid_radgrid .rgPageNext
{
	background-position:0 -850px;
}
.RadGrid_radgrid .rgPageNext:hover
{
	background-position:0 -900px;
}
.RadGrid_radgrid .rgPageLast
{
	background-position:0 -1000px;
}
.RadGrid_radgrid .rgPageLast:hover
{
	background-position:0 -1050px;
}

.RadGrid_radgrid .rgPager .rgPagerButton
{
	border-color:#d1d1d1 #adadad #8c8c8c;
	background:#e8e8e8 repeat-x 0 -1550px url('Grid/sprite.gif');
	color:#000000;
	font-family:"verdana",arial,sans-serif;
}

.RadGrid_radgrid .rgNumPart a:hover,
.RadGrid_radgrid .rgNumPart a:hover span,
.RadGrid_radgrid .rgNumPart a.rgCurrentPage,
.RadGrid_radgrid .rgNumPart a.rgCurrentPage span
{
	background:no-repeat url('Grid/sprite.gif');
}

.RadGrid_radgrid .rgNumPart a
{
	color:#000000;
}

.RadGrid_radgrid .rgNumPart a:hover
{
	background-position:100% -1250px;
}

.RadGrid_radgrid .rgNumPart a:hover span
{
	background-position:0 -1150px;
}

.RadGrid_radgrid .rgNumPart a.rgCurrentPage,
.RadGrid_radgrid .rgNumPart a.rgCurrentPage:hover
{
	background-position:100% -1450px;
}

.RadGrid_radgrid .rgNumPart a.rgCurrentPage span,
.RadGrid_radgrid .rgNumPart a.rgCurrentPage:hover span
{
	background-position:0 -1350px;
}

/*sorting, reordering*/

.RadGrid_radgrid .rgHeader .rgSortAsc
{
	background-position:3px -248px;
	height:10px;


}

.RadGrid_radgrid .rgHeader .rgSortDesc
{
	background-position:3px -198px;
	height:10px;

}

.GridReorderTop_radgrid,
.GridReorderBottom_radgrid
{
	background:0 0 no-repeat url('Grid/sprite.gif');
}

.GridReorderBottom_radgrid
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_radgrid .rgFilterRow
{
	background:#ededed;
}

.RadGrid_radgrid .rgFilterRow td
{
    border-bottom:1px solid #828282;
}

.RadGrid_radgrid .rgFilter
{
	background-position:0 -300px;
}

.RadGrid_radgrid .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_radgrid .rgFilterActive,
.RadGrid_radgrid .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_radgrid .rgFilterBox
{
	border-color:#8f8f8f #c9c9c9 #c9c9c9 #8f8f8f;
	font-family:"verdana",arial,sans-serif;
	color:#333333;
}

/*filter context menu*/

.RadMenu_radgrid .rgHCMClear,
.RadMenu_radgrid .rgHCMFilter
{
	border-color:#d1d1d1 #a8a8a8 #8c8c8c;
	background:#e8e8e8 center -23px repeat-x url('FormDecorator/ButtonSprites.gif');
	color:#000000;
	font-family:"verdana",arial,sans-serif;
}

.RadMenu_radgrid .rgHCMClear:hover,
.RadMenu_radgrid .rgHCMFilter:hover
{
	border-color:#d1d1d1 #bababa #a3a3a3;
	background-position:center -67px;
	background-color:#e6e6e6;
}

/*context menu*/

.GridContextMenu_radgrid .rmLeftImage
{
	background-image:url('Common/contextMenu.gif');
}

.GridContextMenu_radgrid .rgHCMSortAsc .rmLeftImage
{
	background-position:0 0;
}

.GridContextMenu_radgrid .rgHCMSortDesc .rmLeftImage
{
	background-position:0 -40px;
}

.GridContextMenu_radgrid .rgHCMUnsort .rmLeftImage
{
	background-position:0 -80px;
}

.GridContextMenu_radgrid .rgHCMGroup .rmLeftImage
{
	background-position:0 -120px;
}

.GridContextMenu_radgrid .rgHCMUngroup .rmLeftImage
{
	background-position:0 -160px;
}

.GridContextMenu_radgrid .rgHCMCols .rmLeftImage
{
	background-position:0 -200px;
}

.GridContextMenu_radgrid .rgHCMFilter .rmLeftImage
{
	background-position:0 -240px;
}

.GridContextMenu_radgrid .rgHCMUnfilter .rmLeftImage
{
	background-position:0 -280px;
}

/*grouping*/

.RadGrid_radgrid .rgGroupPanel
{
	border:0;
	border-bottom:1px solid #828282;
	background:#ededed 0 -1900px repeat-x url('Grid/sprite.gif');
}

.RadGrid_radgrid .rgGroupPanel td
{
	border:0;
	padding:3px 4px;
}

.RadGrid_radgrid .rgGroupPanel td td
{
	padding:0;
}

.RadGrid_radgrid .rgGroupPanel .rgSortAsc
{
	background-position:4px -144px;
}

.RadGrid_radgrid .rgGroupPanel .rgSortDesc
{
	background-position:4px -94px;
}

.RadGrid_radgrid .rgUngroup
{
	background-position:0 -6998px;
}

.RadGrid_radgrid .rgGroupItem
{
	border:1px solid;
	border-color:#c4c4c4 #c4c4c4 #9e9e9e;
	background:#c7c7c7 0 -6500px repeat-x url('Grid/sprite.gif');
}

.RadGrid_radgrid .rgMasterTable td.rgGroupCol,
.RadGrid_radgrid .rgMasterTable td.rgExpandCol
{
	border-color:#d9d9d9;
	background:#d9d9d9 none;
}

.RadGrid_radgrid .rgGroupHeader
{
    background:#d9d9d9;
    font-size:1.1em;
    line-height:21px;
	color:#000000;
}

.RadGrid_radgrid .rgGroupHeader td
{
	border-top:1px solid #828282;
	border-bottom:1px solid #d9d9d9;
}

.RadGrid_radgrid .rgGroupHeader td.rgGroupCol
{
	border-top-color:#828282;
}

.RadGrid_radgrid .rgExpand
{
	background-position:5px -496px;
}

.RadGrid_radgrid .rgCollapse
{
	background-position:3px -444px;
}

/*editing*/

.RadGrid_radgrid .rgEditForm
{
	border-bottom:1px solid #828282;
}

.RadGrid_radgrid .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_radgrid .rgCancel
{
	background-position:0 -1850px;
}

/*hierarchy*/

.RadGrid_radgrid .rgDetailTable
{
	border-color:#828282;
}

/*command row*/

.RadGrid_radgrid .rgCommandRow
{
	background:#c4c4c4 0 -2099px repeat-x url('Grid/sprite.gif');
	color:#000000;
}

.RadGrid_radgrid .rgCommandCell
{
	border:1px solid;
	border-color:#999999 #f2f2f2;
	border-top-width:0;
	padding:0;
}

.RadGrid_radgrid tfoot .rgCommandCell,
.RadGrid_radgrid .rgMasterTable>tbody>tr.rgCommandRow .rgCommandCell
{
	border-top-width:1px;
	border-bottom-width:0;
}

.RadGrid_radgrid .rgCommandTable td
{
	border:0;
	padding:2px 7px;
}

.RadGrid_radgrid .rgCommandTable
{
	border:0;
	border-top:1px solid #fcfcfc;
	border-bottom:1px solid #e8e8e8;
}

.RadGrid_radgrid .rgCommandRow a
{
	color:#000000;
	text-decoration:none;
}

.RadGrid_radgrid .rgAdd
{
	margin-right:3px;
	background-position:0 -1650px;
}

.RadGrid_radgrid .rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_radgrid .rgEdit
{
	background-position:0 -1700px;
}

.RadGrid_radgrid .rgDel
{
	background-position:0 -1750px;
}

.RadGrid_radgrid .rgSelected .rgDel
{
	background-position:0 -1775px;
}

.RadGrid_radgrid .rgExpXLS,
.RadGrid_radgrid .rgExpDOC,
.RadGrid_radgrid .rgExpPDF,
.RadGrid_radgrid .rgExpCSV
{
	background-image:url('Common/export.gif');
}

.RadGrid_radgrid .rgExpXLS
{
	background-position:0 0;
}
.RadGrid_radgrid .rgExpDOC
{
	background-position:0 -50px;
}
.RadGrid_radgrid .rgExpPDF
{
	background-position:0 -100px;
}
.RadGrid_radgrid .rgExpCSV
{
	background-position:0 -150px;
}

/*multirow select*/

.GridRowSelector_radgrid
{
	background:#545454;
}

/*row drag n drop*/

.GridItemDropIndicator_radgrid
{
    border-top:1px dashed #666666;
}

/*tooltip*/

.GridToolTip_radgrid
{
	border:1px solid #828282;
	padding:3px;
	background:#ffffff;
	color:#333333;
}

/*rtl*/

.RadGridRTL_radgrid .rgPageFirst
{
	background-position:0 -1000px;
}
.RadGridRTL_radgrid .rgPageFirst:hover
{
	background-position:0 -1050px;
}
.RadGridRTL_radgrid .rgPagePrev
{
	background-position:0 -850px;
}
.RadGridRTL_radgrid .rgPagePrev:hover
{
	background-position:0 -900px;
}
.RadGridRTL_radgrid .rgPageNext
{
	background-position:0 -700px;
}
.RadGridRTL_radgrid .rgPageNext:hover
{
	background-position:0 -750px;
}
.RadGridRTL_radgrid .rgPageLast
{
	background-position:0 -550px;
}
.RadGridRTL_radgrid .rgPageLast:hover
{
	background-position:0 -600px;
}

.RadGridRTL_radgrid .rgExpand
{
	background-position:-20px -496px;
}
.RadGrid_radgrid .rgHeader, .RadGrid_radgrid .rgHeader a
{
    font-weight: bold !important;
    
    }