/*Telerik RadInput Default Skin*/

/*global*/

.RadInput_radgrid,
.RadInputMgr_radgrid
{
	font:12px "segoe ui",arial,sans-serif;
}

/*textbox states*/

html body .RadInput_radgrid .riTextBox,
html body .RadInputMgr_radgrid
{
	border-color:#8e8e8e #b8b8b8 #b8b8b8 #8e8e8e;
	background:#fff;
	color:#000;
	font:12px "segoe ui",arial,sans-serif;
}

html body .RadInput_radgrid .riEmpty,
html body .RadInput_Empty_radgrid
{
	color:#8a8a8a;
}

html body .RadInput_radgrid .riHover,
html body .RadInput_Hover_radgrid,
html body .RadInput_radgrid .riFocused,
html body .RadInput_Focused_radgrid
{
	border-color:#515151;
}

html body .RadInput_radgrid .riRead,
html body .RadInput_Read_radgrid
{
	border-color:#d0d0d0;
}

html body .RadInput_radgrid .riDisabled,
html body .RadInput_Disabled_radgrid
{
	border-color:#d0d0d0;
	color:#8a8a8a;
	cursor:default;
}

html body .RadInput_radgrid .riError,
html body .RadInput_Error_radgrid
{
	border-color:#d51923;
	background:#fff 100% -298px no-repeat url('Input/sprite.gif');
	color:#d51923;
}

.RadForm.rfdTextbox .RadInput_radgrid .riError[type="text"],
.RadForm.rfdTextbox .RadInput_Error_radgrid[type="text"]
{
	border-color:#d51923;
	background:#fff 100% -298px no-repeat url('Input/sprite.gif');
	color:#d51923;
}

html body .RadInput_radgrid .riNegative,
html body .RadInput_Negative_radgrid
{
	color:#565656;
}

/*buttons*/

.RadInput_radgrid a
{
	background:transparent no-repeat url('Input/sprite.gif');
}

/*go*/

.RadInput_radgrid .riBtn a
{
	width:20px;
	height:18px;
	line-height:18px;
	background-position:3px 5px;
}

.RadInput_radgrid .riBtn a:hover
{
	background-position:3px -45px;
}

/*spin*/

.RadInput_radgrid .riSpin a
{
	width:15px;
	height:7px;
	line-height:7px;
}

.RadInput_radgrid a.riUp
{
	background-position:4px -98px;
}

.RadInput_radgrid a.riUp:hover
{
	background-position:4px -148px;
}

.RadInput_radgrid a.riDown
{
	background-position:4px -199px;
}

.RadInput_radgrid a.riDown:hover
{
	background-position:4px -249px;
}

/*label*/

.RadInput_radgrid .riLabel
{
	color:#000;
}

/*rtl*/

html body .RadInputRTL_radgrid .riError,
html body .RadInputRTL_Error_radgrid
{
	background-position:3px -298px;
}

.RadForm.rfdTextbox .RadInputRTL_radgrid .riError[type="text"],
.RadForm.rfdTextbox .RadInputRTL_Error_radgrid[type="text"]
{
	background-position:3px -298px;
} 