/* <RadMenu / Default> */

.RadMenu_radgrid .rmRootGroup,
.RadMenu_radgrid a.rmLink,
.RadMenu_radgrid .rmGroup .rmText,
.RadMenu_radgrid .rmVertical .rmText,
.RadMenu_radgrid .rmLeftArrow,
.RadMenu_radgrid .rmRightArrow,
.RadMenu_radgrid .rmTopArrow,
.RadMenu_radgrid .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png');
	background-color: transparent;
}

.RadMenu_radgrid .rmRootGroup
{
	border: 1px solid #828282;
	background-repeat: repeat-x;
	background-position: 0 -408px;
	background-color: #e6e6e6;
}

/* <Root items> */

.RadMenu_radgrid,
.RadMenu_radgrid a.rmLink
{
	font: normal 12px/23px "Segoe UI", Arial, sans-serif;
	color: #000;
	text-decoration: none;
}

.RadMenu_radgrid a.rmLink,
.RadMenu_radgrid a.rmDisabled,
.RadMenu_radgrid a.rmDisabled:hover
{
	background-position: 0 -72px;
}

.RadMenu_radgrid .rmFirst a.rmLink,
.RadMenu_radgrid .rmFirst a.rmLink:hover,
.RadMenu_radgrid .rmLast .rmText,
.RadMenu_radgrid .rmLast a.rmLink:hover .rmText,
.RadMenu_radgrid .rmVertical a.rmLink,
.RadMenu_radgrid .rmVertical .rmText
{
	background-repeat: no-repeat;
	background-position: 0 500px;
}

.RadMenu_radgrid .rmVertical .rmFirst,
.RadMenu_radgrid .rmVertical .rmLast
{
	background: none;
}

.RadMenu_radgrid a.rmLink:hover,
.RadMenu_radgrid a.rmFocused,
.RadMenu_radgrid a.rmSelected
{
	background-color: #fff;
}

.RadMenu_radgrid .rmHorizontal .rmRootLink span.rmText
{
	display: inline;
	padding-left: 12px;
}

.RadMenu_radgrid_rtl .rmRootLink span.rmText
{
    padding-right: 12px;
}

.RadMenu_radgrid_Context_rtl .rmRootLink span.rmText
{
    padding-right: 28px;
}

.RadMenu_radgrid .rmHorizontal a.rmRootLink
{
	padding-left: 0;
}

.RadMenu_radgrid_rtl a.rmRootLink
{
    margin-left: 0;
    padding: 0;
}

.RadMenu_radgrid .rmHorizontal .rmItem > a.rmRootLink /* IE6 doesn't like width: 100% on its items. */
{
	width: 100%;
}

.RadMenu_radgrid ul.rmHorizontal .rmLeftImage
{
	margin: 4px -4px 0 6px;
}

.RadMenu_radgrid_rtl ul.rmHorizontal .rmLeftImage
{
	margin: 4px 6px 0 -4px;
}

.RadMenu_radgrid .rmVertical a.rmLink
{
	padding-top: 1px;
	padding-bottom: 1px;
}

.RadMenu_radgrid .rmVertical a.rmLink:hover,
.RadMenu_radgrid .rmVertical a.rmFocused,
.RadMenu_radgrid .rmVertical a.rmSelected,
.RadMenu_radgrid .rmVertical a.rmExpanded,
.RadMenu_radgrid .rmVertical a.rmExpanded:hover
{
	padding-top: 0;
	padding-bottom: 0;
	border-style: solid;
	border-color: #828282;
	border-width: 1px 0;
}

.RadMenu_radgrid .rmVertical .rmFirst a.rmLink:hover,
.RadMenu_radgrid .rmVertical .rmFirst a.rmFocused,
.RadMenu_radgrid .rmVertical .rmFirst a.rmSelected,
.RadMenu_radgrid .rmVertical .rmFirst a.rmExpanded,
.RadMenu_radgrid .rmVertical .rmFirst a.rmExpanded:hover
{
	padding-top: 1px;
	padding-bottom: 0;
	border-top-width: 0;
}

.RadMenu_radgrid .rmVertical .rmLast a.rmLink:hover,
.RadMenu_radgrid .rmVertical .rmLast a.rmFocused,
.RadMenu_radgrid .rmVertical .rmLast a.rmSelected,
.RadMenu_radgrid .rmVertical .rmLast a.rmExpanded,
.RadMenu_radgrid .rmVertical .rmLast a.rmExpanded:hover
{
	padding-bottom: 1px;
	padding-top: 0;
	border-bottom-width: 0;
}

.RadMenu_radgrid .rmVertical .rmItem a.rmDisabled:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	border-width: 0;
}

.RadMenu_radgrid a.rmExpanded,
.RadMenu_radgrid a.rmExpanded:hover
{
	background-color: #fff;
}

.RadMenu_radgrid a.rmDisabled,
.RadMenu_radgrid a.rmDisabled:hover
{
	color: #7d7d7d;
	background-color: transparent;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_radgrid .rmGroup,
.RadMenu_radgrid .rmMultiColumn,
.RadMenu_radgrid .rmGroup .rmVertical
{
	border: 1px solid #979797;
	background: #fff url('Menu/rmVSprite.png') repeat-y 0 0;
}

.RadMenu_radgrid .rmTopFix,
.RadMenu_radgrid .rmBottomFix,
.RadMenu_radgrid .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_radgrid .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_radgrid .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_radgrid .rmRoundedCorners ul.rmHorizontal .rmFirst,
.RadMenu_radgrid_Context.rmRoundedCorners .rmGroup .rmItem,
.RadMenu_radgrid_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #fff; 
	background-repeat: repeat-y;
}

* html .rmRoundedCorners_radgrid .rmGroup .rmItem,
* html .rmRoundedCorners_radgrid ul.rmHorizontal .rmFirst
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #fff; 
	background-repeat: repeat-y;
}

.RadMenu_radgrid .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_radgrid .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_radgrid .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_radgrid .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_radgrid .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_radgrid .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_radgrid_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_radgrid_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_radgrid_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_radgrid_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_radgrid .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_radgrid .rmScrollWrap .rmItem,
* html .rmRoundedCorners_radgrid .rmHorizontal .rmItem,
* html .rmRoundedCorners_radgrid .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_radgrid .rmRoundedCorners .rmGroupColumn
{
	background-color: #fff;
}

.RadMenu_radgrid .rmBottomLeft,
.RadMenu_radgrid .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_radgrid_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_radgrid_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_radgrid .rmRoundedCorners ul.rmGroup,
.RadMenu_radgrid .rmRoundedCorners .rmMultiColumn
{
	background-image:  url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

* html .rmRoundedCorners_radgrid .rmScrollWrapContainer,
* html .rmRoundedCorners_radgrid .rmGroup ul.rmGroup,
* html .rmRoundedCorners_radgrid ul.rmGroup
{
	background-image:  url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_radgrid .rmTopRight,
.RadMenu_radgrid .rmBottomRight
{
	background-image:  url('Menu/rmRoundedRight.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_radgrid .rmTopFix,
.RadMenu_radgrid .rmBottomFix,
.RadMenu_radgrid .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_radgrid_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_radgrid .rmGroup .rmFirst
{
	border-color: #979797;
}

.RadMenu_radgrid .rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_radgrid .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix,
.RadMenu_radgrid_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_radgrid_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix
{
	background: #FFF;
}

* html .rmRoundedCorners_radgrid .rmScrollWrapContainer .rmTopFix,
* html .rmRoundedCorners_radgrid .rmScrollWrapContainer .rmBottomFix
{
	background: #FFF;
}

.RadMenu_radgrid .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_radgrid .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_radgrid .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_radgrid .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_radgrid_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_radgrid_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_radgrid_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_radgrid_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	background-color: #FFF;
	border: 0;
}

* html .rmRoundedCorners_radgrid .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_radgrid .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_radgrid .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_radgrid .rmScrollWrapContainer .rmRightArrow
{
	background-color: #FFF;
	border: 0;
}

.RadMenu_radgrid_rtl .rmBottomLeft,
.RadMenu_radgrid_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_radgrid_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_radgrid .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_radgrid .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_radgrid_Context_rtl ul.rmGroup,
.RadMenu_radgrid_Context.rmRoundedCorners .rmScrollWrapContainer
{
	background-image: url('Menu/rmRoundedLeft_rtl.png');
}

.RadMenu_radgrid_rtl .rmTopRight,
.RadMenu_radgrid_rtl .rmBottomRight
{
	background-image: url('Menu/rmRoundedRight_rtl.png');
}

.RadMenu_radgrid_rtl li.rmTopFix,
.RadMenu_radgrid_rtl li.rmBottomFix,
.RadMenu_radgrid_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_radgrid_Context_rtl .rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_radgrid .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_radgrid_rtl .rmGroup,
.RadMenu_radgrid_rtl .rmMultiColumn,
.RadMenu_radgrid_rtl .rmGroup .rmVertical
{
	background-position: 100% 0;
}

.RadMenu_radgrid .rmRootGroup li.rmItem .rmGroup
{
	padding-bottom: 0;
}

.RadMenu_radgrid .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_radgrid .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_radgrid .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_radgrid_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_radgrid .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_radgrid .rmGroup .rmItem a.rmLink,
.RadMenu_radgrid .rmGroup .rmItem a.rmLink:hover,
.RadMenu_radgrid .rmGroup .rmItem a.rmFocused,
.RadMenu_radgrid .rmGroup .rmItem a.rmSelected,
.RadMenu_radgrid .rmGroup .rmItem a.rmExpanded
{
	padding-top: 0;
	padding-bottom: 0;
	border: 0;
}

.RadMenu_radgrid .rmGroup .rmLast a.rmLink,
.RadMenu_radgrid .rmGroup .rmLast a.rmLink:hover,
.RadMenu_radgrid .rmGroup .rmLast a.rmFocused,
.RadMenu_radgrid .rmGroup .rmLast a.rmSelected,
.RadMenu_radgrid .rmGroup .rmLast a.rmExpanded
{
	padding-bottom: 1px;
}

.RadMenu_radgrid .rmGroup a.rmLink,
.RadMenu_radgrid .rmGroup .rmText,
.RadMenu_radgrid .rmGroup .rmItem a.rmDisabled,
.RadMenu_radgrid .rmGroup .rmItem a.rmDisabled:hover,
.RadMenu_radgrid .rmGroup .rmItem a.rmDisabled .rmText,
.RadMenu_radgrid .rmGroup .rmItem a.rmDisabled:hover .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
	background-color: transparent;
}

.RadMenu_radgrid .rmGroup a.rmLink:hover,
.RadMenu_radgrid .rmGroup a.rmFocused,
.RadMenu_radgrid .rmGroup a.rmSelected,
.RadMenu_radgrid .rmGroup a.rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_radgrid .rmGroup a.rmLink:hover .rmText,
.RadMenu_radgrid .rmGroup a.rmFocused .rmText,
.RadMenu_radgrid .rmGroup a.rmSelected .rmText,
.RadMenu_radgrid .rmGroup a.rmExpanded .rmText
{
	background-position: 100% -192px;
}

/* <expand arrows> */

.RadMenu_radgrid .rmRootGroup .rmExpandRight,
.RadMenu_radgrid .rmGroup .rmExpandDown,
.RadMenu_radgrid_Context .rmGroup .rmExpandRight,
.RadMenu_radgrid .rmRootGroup .rmItem a.rmDisabled .rmExpandRight,
.RadMenu_radgrid .rmGroup .rmItem a.rmDisabled .rmExpandDown,
.RadMenu_radgrid .rmRootGroup .rmItem a.rmDisabled:hover .rmExpandRight,
.RadMenu_radgrid .rmGroup .rmItem a.rmDisabled:hover .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_radgrid a.rmLink:hover .rmExpandRight,
.RadMenu_radgrid .rmLast a.rmLink:hover .rmExpandRight,
.RadMenu_radgrid a.rmFocused .rmExpandRight,
.RadMenu_radgrid a.rmSelected .rmExpandRight,
.RadMenu_radgrid a.rmExpanded .rmExpandRight
{
	background-position: 100% -312px;
}

.RadMenu_radgrid .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_radgrid .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_radgrid .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_radgrid .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_radgrid .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_radgrid .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_radgrid .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_radgrid .rmGroup a.rmExpanded .rmExpandDown
{
	background-position: 100% -240px;
}

.RadMenu_radgrid .rmRootGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_radgrid .rmGroup a.rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_radgrid_rtl a.rmLink,
.RadMenu_radgrid_rtl .rmRootGroup a.rmDisabled
{
	background-position: 100% -96px;
}

.RadMenu_radgrid_rtl .rmGroup a.rmDisabled
{
	background: none;
}

.RadMenu_radgrid_rtl .rmText
{
	background-position: 0 -96px;
}

.RadMenu_radgrid_rtl .rmVertical a.rmExpanded .rmText,
.RadMenu_radgrid_rtl .rmVertical a.rmExpanded:hover .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
}

.RadMenu_radgrid_rtl .rmGroup a.rmLink:hover,
.RadMenu_radgrid_rtl .rmGroup a.rmFocused,
.RadMenu_radgrid_rtl .rmGroup a.rmSelected,
.RadMenu_radgrid_rtl .rmGroup a.rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_radgrid_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_radgrid_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_radgrid_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_radgrid_rtl .rmGroup a.rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_radgrid_Context_rtl .rmVertical .rmExpandLeft,
.RadMenu_radgrid_rtl .rmRootGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_radgrid_rtl .rmVertical a.rmLink:hover .rmExpandLeft,
.RadMenu_radgrid_rtl .rmVertical a.rmFocused .rmExpandLeft,
.RadMenu_radgrid_rtl .rmVertical a.rmSelected .rmExpandLeft,
.RadMenu_radgrid_rtl .rmVertical a.rmExpanded .rmExpandLeft
{
	background-position: 0 -216px;
}

.RadMenu_radgrid_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_radgrid_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_radgrid_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_radgrid_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
	background-position: 0 -336px;
}

.RadMenu_radgrid_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft
{
	background-position: 0 -312px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Default - specific, overlapping submenus)> */

.RadMenu_radgrid .rmSlide
{
	margin: 0 0 0 -1px;
}

.RadMenu_radgrid .rmVertical .rmSlide,
.RadMenu_radgrid .rmSlide .rmSlide,
.RadMenu_radgrid_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_radgrid_rtl .rmSlide
{
	margin: 0 0 0 0;
}

.RadMenu_radgrid_rtl .rmFirst .rmSlide
{
	margin-left: 1px;
}

.RadMenu_radgrid_rtl .rmVertical .rmSlide,
.RadMenu_radgrid_rtl .rmSlide .rmSlide,
.RadMenu_radgrid_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_radgrid .rmLeftArrow,
.RadMenu_radgrid .rmRightArrow
{
	background-color: #E6E6E6;
}

.RadMenu_radgrid .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #828282; }
.RadMenu_radgrid .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #828282; }

.RadMenu_radgrid .rmTopArrow,
.RadMenu_radgrid .rmBottomArrow,
.RadMenu_radgrid .rmGroup .rmLeftArrow,
.RadMenu_radgrid .rmGroup .rmRightArrow
{
	background-color: #E6E6E6;
}

.RadMenu_radgrid .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #828282; }
.RadMenu_radgrid .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #828282; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_radgrid .rmHorizontal .rmSeparator .rmText,
.RadMenu_radgrid .rmVertical .rmHorizontal .rmSeparator .rmText
{
	height: 22px;
	margin: 1px 0 0;
	width: 1px;
	background-color: #A8A8A8;
}

.RadMenu_radgrid_Context .rmSeparator .rmText,
.RadMenu_radgrid .rmHorizontal .rmGroup .rmSeparator .rmText,
.RadMenu_radgrid .rmVertical .rmHorizontal .rmGroup .rmSeparator .rmText
{
	background-color: transparent;
	background-position: 0 -406px;
}

/* </Separators> */

/* </RadMenu / Default> */
