﻿@{
    ViewBag.Title = "RequestProductos";
}

<script type="text/javascript" src="~/Scripts/AdvancedSearch.js" >
</script>
<script type="text/javascript">
//    function testAttribute(element, attribute) {
//        var test = document.createElement(element);
//        if (attribute in test)
//            return true;
//        else
//            return false;
//    }

//    if (!testAttribute("input", "placeholder")) {
        window.onload = function () {
            var q = document.getElementById("q");
            var text_content = "Ingrese productos, servicios o ID";

            q.style.color = "gray";
            q.value = text_content;

            q.onfocus = function () {
                debugger;
                if (this.style.color == "gray")
                { this.value = ""; this.style.color = "black"; this.style.fontStyle = "normal"; }
            }

            q.onblur = function () {
                debugger;
                if (this.value == "")
                { this.style.color = "gray"; this.value = text_content; this.style.fontStyle = "italic"; }
            }

            //nombre

            var nombre = document.getElementById("nombre");
            var text_content_nombre = "Escriba un nombre";

            nombre.style.color = "gray";
            nombre.value = text_content_nombre;

            nombre.onfocus = function () {
                if (this.style.color == "gray")
                { this.value = ""; this.style.color = "black"; this.style.fontStyle = "normal"; }
            }

            nombre.onblur = function () {
                if (this.value == "")
                { this.style.color = "gray"; this.value = text_content_nombre; this.style.fontStyle = "italic"; }
            }

            ///DESCRIPCION
            var descrip = document.getElementById("desc");
            var text_content_desc = "Escriba una descripción para la lista";

            descrip.style.color = "gray";
            descrip.value = text_content_desc;

            descrip.onfocus = function () {
                if (this.style.color == "gray")
                { this.value = ""; this.style.color = "black"; this.style.fontStyle = "normal"; }
            }

            descrip.onblur = function () {
                if (this.value == "")
                { this.style.color = "gray"; this.value = text_content_desc; this.style.fontStyle = "italic"; }
            }

        }
   // }
</script> 

<form id="busquedaAvanzada" method="post" action="/ChileCompraExpress.Web/Productos/Index">
    <input type="text" name="q" id="q" style="width: 240px;font-style:italic;"  />
    <input type="button" class="contenedor1 fondo3 negrita blanco grande buscar" id="btnbuscartop" value="Buscar"/>
    <input style="position: absolute; left: -9999px; width: 1px; height: 1px;" id="submitButton" type="submit" />
    <br />
    <img src="~/Content/images/google.jpg" style="margin-top:6px;margin-left: 195px;" alt=""/>
 </form>


