﻿<link rel="stylesheet" href="/ChileCompraExpress.Web/Content/Resultado.css" />
<link rel="stylesheet" href="/ChileCompraExpress.Web/Scripts/bootstrap/css/bootstrap.css" />
@{
    ViewBag.Title = "ResponseProductos";
}
@using ChileCompraExpress.Web.Helpers;
@helper Display(ChileCompraExpress.XmlParserLibrary.Models.RModel rmodel, string MT, int index = 0)
    {
        var items = new List<ChileCompraExpress.XmlParserLibrary.Models.MTModel>();
        int innerIndex = -1;
        for (int i = 0; i < rmodel.MTObjects.Count; i++)
        {


            if (rmodel.MTObjects[i].N == "II")
            {
                innerIndex = innerIndex + 1;
            }

            if (innerIndex == index || (index == 0 && innerIndex == -1))
            {
                items.Add(rmodel.MTObjects[i]);
            }



        }
        var MTitems = items.Where(c => c.N == MT).ToList();

        if (MT != "PA")
        {
            if (MTitems.Count() == 1)
            {
    @:@MTitems.First().V
                }
            if (MTitems.Count() > 1)
            {
                if (MT == "RR")
                { 
    @:@String.Join(", ", MTitems.Select(x => x.V))
                    }
                else
                { 
    @:@MTitems.Last().V
                    }
            }
        }
        else
        {
            //if (items.Where(c => c.N == "PA").FirstOrDefault() != items.Where(c => c.N == "PA").FirstOrDefault())
            //{
    @:@MTitems.First().V
                //}
        }        
                
}

@if ((ViewBag.Products as List<ChileCompraExpress.XmlParserLibrary.Models.RModel>) != null &&
    (ViewBag.Products as List<ChileCompraExpress.XmlParserLibrary.Models.RModel>).Count > 0)
{
    foreach (ChileCompraExpress.XmlParserLibrary.Models.RModel P in ViewBag.Products as List<ChileCompraExpress.XmlParserLibrary.Models.RModel>)
    {
        int ii_count = P.MTObjects.Where(x => x.N == "II").Count();
        var nombreCategoria = P.MTObjects.Where(x => x.N == "C");
        int ss_count = P.MTObjects.Where(x => x.N == "SIDPROVEC").Count();
        int ss_count_p = P.MTObjects.Where(x => x.N == "SIDPROD").Count();
        <br />
        <div class="row dotedborder">
        <div class="span1" style="margin-left:30px" >
            <div class="image_block">
            <a href="#" class="oferta-formulario-ficha" onclick="verFicha('@Display(P, "IDP").ToString().Trim()',@Display(P, "ICM").ToString().Trim()); return false;">
                <img alt="" onerror="this.src='Content/images/nodisponible2.png'" src="@Paths.PathImagenes()@Display(P, "IMP").ToString().Replace("../", "").Trim()" width="132" height="132"  />
                <br />
           <span style="padding-left:25px">ID: @Display(P, "IDP")</span> </a>
            @Display(P, "IMS")
            <br />
            <div class="proveedor_sellos">
            @if (ss_count_p > 0)
            {
                <br />
                <br />
                var items = new List<ChileCompraExpress.XmlParserLibrary.Models.MTModel>();

                for (int i = 0; i < P.MTObjects.Count; i++)
                {
                    items.Add(P.MTObjects[i]);
                }

                var MTitemsIDP = items.Where(c => c.N == "SIDPROD").ToList();
                var MTitemsNombreP = items.Where(c => c.N == "SNOMPROD").ToList();
                var MTitemsDescrP = items.Where(c => c.N == "SDESCRIPPROD").ToList();
                var MTitemsPathP = items.Where(c => c.N == "SPATHPROD").ToList();
                var MRitemsIDPP = items.Where(c => c.N == "IDP").ToList();
                var MRitemsIPEP = items.Where(c => c.N == "IPE").ToList();

                for (int s = 0; s < ss_count_p; s++)
                {

                                         
                                         
                                         
                <a href="#" id="tooltip_sello_@MTitemsIDP[s].V.ToString()_@MRitemsIDPP[0].V.ToString()_@MRitemsIPEP[0].V.ToString()" style="cursor:pointer"
            title="<b><span style='float:left'>@MTitemsNombreP[s].V.ToString() :</span></b><br /><br /><div class='contenedor_sello'><div class='izq_sello'><img src='@Paths.PathImagenes()@MTitemsPathP[s].V.ToString()' alt='' /></div><div class='der_sello'><p>@FormatString.TagBr(@MTitemsDescrP[s].V.ToString(), 10)</p></div></div>">
                    <img src="@Paths.PathImagenes()@MTitemsPathP[s].V.ToString()" alt="" />
                </a>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#tooltip_sello_@MTitemsIDP[s].V.ToString()_@MRitemsIDPP[0].V.ToString()_@MRitemsIPEP[0].V.ToString()').tooltipster(
                    {
                        interactive: false,
                        theme: 'tooltipster-shadow'
                    }
                    );
                    });
                </script>
                }

            }
        </div>

        </div>
        </div>
        <div class="span3" style="margin-left: 170px;">
            <div class="information_block">
            <div class="encabezado_producto">
                <label class="mediano subr negrita" style="color:#135799;" onmouseout="this.style.cssText='cursor:pointer;color:#135799;text-decoration:none'" onmouseover="this.style.cssText='color:#2B8AE7;text-decoration:none;cursor:pointer;'" onclick="verFicha('@Display(P, "IDP").ToString().Trim()',@Display(P, "ICM").ToString().Trim()); return false;">@Display(P, "NP")</label>                
            </div><br />
            <label class="chico gris_2">@Display(P, "DP")</label><br />
            <label class="negrita">
                Marca:</label>
            <label>@Display(P, "M")</label>
            <br />
            <label class="negrita">
                Convenio:</label>
            @*<a href="#" class="azulink subr">@Display(P, "CM")</a>*@
            <label class="azulink subr">@Display(P, "CM")</label>
            <br />
            <br />
            <label class="negrita">
                Proveedores con este producto:</label>
            <label>
                @{
        var contador = (String.IsNullOrEmpty(Display(P, "IPE").ToString())) ? 0 : 1;
        ii_count = ii_count + contador;
                }
                @ii_count
            </label>
            <br />            
            
            <label class="negrita">
                Precio unitario desde:</label>
            <label>             
                @{ var PA = Display(P, "PA").ToString();
                    var PR = Display(P, "PR").ToString();
                    if (double.Parse(PR.Replace(",", ".")) == 0)
                    {
                        PR = PA;
                        PA = "";
                    }
                }
                                    
                @Display(P, "MO") @PR
            </label>
            <br />
            <div class="proveedor_regiones borde1">
                <label class="negrita">
                    Despacho:</label>
                <label>
                    @Display(P, "RR").</label>
            </div>
            
            <br />
            <br />
            <br />
            @*<div class="Proveedores">
                <div class="borde1">
                    <div class="proveedor_economico">
                        <label id="Label118" class="negrita">
                            Proveedor más económico:</label><br />
                        <div class="proveedor_economico_1">
                            <div class="nombre_proveedor_1">
                                <label id="Label119" class="subr mayus mediano"  style="cursor:pointer;" onclick="verProveedor(@Display(P, "IDP").ToString().Trim(),@Display(P, "ICM").ToString().Trim(),'/CMII/Tienda/frmDetalleProducto.aspx#@Display(P, "IPE").ToString().Trim()')">
                                    @Display(P, "P")</label>
                            </div>
                            <div class="ranking">
                                @switch (int.Parse(Display(P, "E").ToString()))
                                {
                                    case 0:
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                                        break;
                                    case 1:
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                                        break;
                                    case 2:
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                                        break;
                                    case 3:
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                                        break;
                                    case 4:
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                                        break;
                                    case 5:
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                                    <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                                        break;


                                }
                            </div>
                            <br />
                            <br />
                            <br />
                        </div>
                        <br />
                        <!--proveedor_economico_1-->
                        <div class="proveedor_economico_2">
                            <div class="proveedor_sellos">
                                @if (ss_count > 0)
                                {
                                    <br />
                                    <br />
                                    var items = new List<ChileCompraExpress.XmlParserLibrary.Models.MTModel>();

                                    for (int i = 0; i < P.MTObjects.Count; i++)
                                    {
                                        items.Add(P.MTObjects[i]);
                                    }

                                    var MTitemsID = items.Where(c => c.N == "SIDPROVEC").ToList();
                                    var MTitemsNombre = items.Where(c => c.N == "SNOMPROVEC").ToList();
                                    var MTitemsDescr = items.Where(c => c.N == "SDESCRIPPROVEC").ToList();
                                    var MTitemsPath = items.Where(c => c.N == "SPATHPROVEC").ToList();
                                    var MRitemsIDP = items.Where(c => c.N == "IDP").ToList();
                                    var MRitemsIPE = items.Where(c => c.N == "IPE").ToList();

                                    for (int s = 0; s < ss_count; s++)
                                    {

                                         
                                         
                                         
                                    <a href="#" id="tooltip_sello_@MTitemsID[s].V.ToString()_@MRitemsIDP[0].V.ToString()_@MRitemsIPE[0].V.ToString()" style="cursor:pointer"
                                title="<b><span style='float:left'>@MTitemsNombre[s].V.ToString() :</span></b><br /><br /><div class='contenedor_sello'><div class='izq_sello'><img src='@Paths.PathImagenes()@MTitemsPath[s].V.ToString()' alt='' /></div><div class='der_sello'><p>@FormatString.TagBr(@MTitemsDescr[s].V.ToString(), 10)</p></div></div>">
                                        <img src="@Paths.PathImagenes()@MTitemsPath[s].V.ToString()" alt="" />
                                    </a>
                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            $('#tooltip_sello_@MTitemsID[s].V.ToString()_@MRitemsIDP[0].V.ToString()_@MRitemsIPE[0].V.ToString()').tooltipster(
                                        {
                                            interactive: false,
                                            theme: 'tooltipster-shadow'
                                        }
                                        );
                                        });
                                    </script>
                                    }

                                }
                            </div>
                            <div class="proveedor_precio">
                                <div class="oferta_precio">
                                    @{ var PA = Display(P, "PA").ToString();
                                       var PR = Display(P, "PR").ToString();
                                       if (double.Parse(PR.Replace(",", ".")) == 0)
                                       {
                                           PR = PA;
                                           PA = "";
                                       }
                                    }
                                    <div class="oferta_precio_anterior">
                                        <label class="negrita tachado">@if(!String.IsNullOrEmpty(PA)){@Display(P, "MO")} @PA</label>
                                    </div>
                                    <label class="grande negrita">@Display(P, "MO") @PR</label>
                                </div>
                                @if (SessionHelper.getEsComprador())
                                {
                                    <div class="oferta_formulario">
                                        <div class="oferta_formulario_1">
                                            <label class="pequeno izq">
                                                Cantidad</label>
                                            <br />
                                            <input type="text" id="cantidad_@Display(P, "IDP").ToString().Trim()_@Display(P, "IPE").ToString().Trim()" />
                                        </div>
                                        <input type="button" class="btnoferta_formulario" value="" onclick="agregarACarro(@Display(P, "IDP").ToString().Trim(),@Display(P, "ICM").ToString().Trim(),@Display(P, "IPE").ToString().Trim());" />
                                    </div>
                                }
                            </div>
                        </div>
                        <!--proveedor_economico_2-->
                        <div class="proveedor_economico_3">
                            <div class="proveedor_regiones borde1">
                                <label class="negrita">
                                    Despacho:</label>
                                <label>
                                    @Display(P, "RR").</label>
                            </div>
                            @if (SessionHelper.getEsComprador())
                            {
                                    <div class="proveedor_precio_caro">
                                        <div class="rojo pequeno italica detalle_proveedor_precios" id="error_cantidad_@Display(P, "IDP").ToString().Trim()_@Display(P, "IPE").ToString().Trim()">
                                        </div>

                                        <div id="agregar_lista_contenedor_@Display(P, "IDP").ToString().Trim()" class="agregar_lista_contenedor">
                                            <div class="flip" id="flip_@Display(P, "IDP").ToString().Trim()" onclick="despliegue(@Display(P, "IDP").ToString().Trim(),'@Display(P, "ICM").ToString().Trim()',@Display(P, "IPE").ToString().Trim());">
                                                Agregar a lista</div>
                                            <div class="panel" id="panel_@Display(P, "IDP").ToString().Trim()">
                                                <div class="crear_contenedor" id="crear_contenedor_@Display(P, "IDP").ToString().Trim()">
                                                    <span class="crear_nueva" id="crear_nueva_@Display(P, "IDP").ToString().Trim()" onclick="crearLista(@Display(P, "IDP").ToString().Trim());">
                                                        Crear Nueva (+)</span><hr />
                                                </div>
                                            </div>
                                        </div>
               
                                       

                                        <a href="#" style="text-decoration: none;color:white;" class="btn_proveedor_precio_caro negrita gobcl blanco fondo9 btn1 btn der tooltip" id="tooltip_@Display(P, "IDP").ToString().Trim()_@Display(P, "IPE").ToString().Trim()" title="<div id='denuncia-tooltip_@Display(P, "IDP").ToString().Trim()_@Display(P, "IPE").ToString().Trim()'   class='tooltip denuncia-tooltip'> <form action='' id='form-denuncia-@Display(P, "IDP").ToString().Trim()_@Display(P, "IPE").ToString().Trim()' method='post' enctype='multipart/form-data'><div class='denuncia-text-container'><div class='clear'></div><div class='denuncia-aviso'><p class='denuncia-aviso-titulo'>Importante</p><p>Reporte de precio caro <b>no reemplaza el informe de condiciones más ventajosas</b>que se requiere para comprar por un mecanismo de compra alternativa a convenio marco.</p></div><div class='denuncia-text'> <textarea id='denuncia_obs_@Display(P, "IDP").ToString().Trim()_@Display(P, "IPE").ToString().Trim()' name='denuncia' style='width:90%;height:20px;'></textarea><div ></div><div id='denuncia-enviar' class='denuncia-btn-enviar' onclick='denunciar(@Display(P, "IDP").ToString().Trim(),@Display(P, "IPE").ToString().Trim(),@Display(P, "ICM").ToString().Trim());'></div></div></div></form></div>">
                                            ¿Precio caro?</a>
                                        <script type="text/javascript">
                                            $(document).ready(function () {
                                                $('#tooltip_@Display(P, "IDP").ToString().Trim()_@Display(P, "IPE").ToString().Trim()').tooltipster(
                                                {
                                                    interactive: true,
                                                    theme: 'tooltipster-shadow'
                                                }
                                                );
                                            });
                                        </script>
                                         
                                    </div>
                            }
                        </div>
                        <!--proveedor_economico_3-->
                    </div>
                     <div style="clear:both;"></div>

            </div>*@
            <div class="pie_producto">
                <div class="produtos_relacionados">
                    @*<a class="gris_2 subr">Buscar productos o servicios relacionados</a>
                    <br />
                    <br />*@
                </div>
                
            </div>
        </div>
        </div>
        </div>
    @*<div class="row"><hr style="border-top: 1px dotted #666666;" /><br /></div>*@
    
    }
}
 