﻿@model IEnumerable<ChileCompraExpress.Entities.Proveedor>
@using ChileCompraExpress.Web.Helpers

@if (@Model != null && @Model.ToList().Count > 0)
{
    for (int i = 0; i < @Model.ToList().Count; i++)
    {
    <div class="proveedor1">
        <div style="display: none;" class="div_mas_proveedores">
            <div class="otro_proveedor">
                <div class="otro_proveedor_1">
                    <div class="nombre_proveedor_1">
                        <span class="subr mayus mediano" id="Label29" style="cursor:pointer" onclick="verProveedor(@Model.ToList().ElementAt(i).IdProducto.ToString(),@Model.ToList().ElementAt(i).IdConvenio.ToString(),'/CMII/Tienda/frmDetalleProducto.aspx#@Model.ToList().ElementAt(i).Id.ToString().Trim()')">@Model.ToList().ElementAt(i).Nombre</span>
                    </div>
                    <div class="ranking">
                        @switch (@Model.ElementAt(i).Ranking)
                        {
                            case 0:
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />  
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" /> 
                                break;
                            case 1:
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" /> 
                                break;
                            case 2:
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                                break;
                            case 3:
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                                break;
                            case 4:
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella2.png" alt="" />
                                break;
                            case 5:
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                            <img width="11px" height="11px" title="Puntuación" src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_estrella1.png" alt="" />
                                break;


                        }
                    </div>
                </div>
                <br />
                
                <div class="otro_proveedor_2">
                    <div class="proveedor_sellos">
                        @if(Model.ToList().ElementAt(i).Sellos.Count > 0)
                        {
                            <br />
                            <br />
                            for (int s = 0; s < Model.ToList().ElementAt(i).Sellos.Count; s++)
                            {
                                
                                <a href="#" id="tooltip_sello_@Model.ToList().ElementAt(i).Sellos.ElementAt(s).IdSello.ToString()_@Model.ToList().ElementAt(i).IdProducto.ToString()_@Model.ToList().ElementAt(i).Id.ToString()" style="cursor:pointer"
                                title="<b><span style='float:left'>@Model.ToList().ElementAt(i).Sellos.ElementAt(s).NombreSello :</span></b><br /><br /><div class='contenedor_sello'><div class='izq_sello'><img src='@Paths.PathImagenes()@Model.ToList().ElementAt(i).Sellos.ElementAt(s).PathSello' alt='' /></div><div class='der_sello'><p>@FormatString.TagBr(@Model.ToList().ElementAt(i).Sellos.ElementAt(s).DescripcionSello,10)</p></div></div>">
                                    <img src="@Paths.PathImagenes()@Model.ToList().ElementAt(i).Sellos.ElementAt(s).PathSello" alt="" />
                                </a>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('#tooltip_sello_@Model.ToList().ElementAt(i).Sellos.ElementAt(s).IdSello.ToString()_@Model.ToList().ElementAt(i).IdProducto.ToString()_@Model.ToList().ElementAt(i).Id.ToString()').tooltipster(
                                        {
                                            interactive: false,
                                            theme: 'tooltipster-shadow'
                                        }
                                        );
                                    });
                                </script>
                            }

                        }                        
                    </div>
                    @{ 
                        var PA = Model.ToList().ElementAt(i).PrecioAnterior;
                        var PR = Model.ToList().ElementAt(i).PrecioActual;
                        if (double.Parse(PR.Replace(",", ".")) == 0)
                        {
                            PR = PA;
                            PA = "";
                        }
                    }

                    <div class="proveedor_precio">
                        <div class="oferta_precio">
                            <div class="oferta_precio_anterior">
                                <span class="negrita tachado" id="Label104">@if(!String.IsNullOrEmpty(PA)){@Model.ToList().ElementAt(i).Moneda} @PA.ToString()</span>
                            </div>
                            <label class="grande negrita" id="Label30">
                                @if (!String.IsNullOrEmpty(PR))
                                {@Model.ToList().ElementAt(i).Moneda} @PR.ToString()
                            </label>
                        </div>
                        @if (SessionHelper.getEsComprador())
                        {
                            <div class="oferta_formulario">
                                <div class="oferta_formulario_1">
                                    <label class="pequeno izq" >
                                        Cantidad</label><br />
                                    <input type="text" id="cantidad_@Model.ToList().ElementAt(i).IdProducto.ToString()_@Model.ToList().ElementAt(i).Id.ToString()" />
                                </div>
                                <input type="button" class="btnoferta_formulario" onclick="agregarACarro(@Model.ToList().ElementAt(i).IdProducto,@Model.ToList().ElementAt(i).IdConvenio,@Model.ToList().ElementAt(i).Id);" value="" id="Button7" />
                            </div>
                        }
                    </div>
                </div>
                <div class="proveedor_economico_3">
                    <div class="proveedor_regiones borde1">
                        <label class="negrita">
                            Despacho:</label>
                        <label id="Label33">
                            @Model.ToList().ElementAt(i).Regiones
                        </label>
                    </div>
                    @if (SessionHelper.getEsComprador())
                    {
                        <div class="proveedor_precio_caro">
                            <div class="rojo pequeno italica detalle_proveedor_precios" id="error_cantidad_@Model.ToList().ElementAt(i).IdProducto.ToString()_@Model.ToList().ElementAt(i).Id.ToString()">
                        
                            
                            </div>                    
                            <a href="#" style="text-decoration: none;color:white" class="btn_proveedor_precio_caro negrita gobcl blanco fondo9 btn1 btn der tooltip" id="tooltip_@Model.ToList().ElementAt(i).IdProducto.ToString()_@Model.ToList().ElementAt(i).Id.ToString()" title="<div id='denuncia-tooltip_@Model.ToList().ElementAt(i).IdProducto.ToString()_@Model.ToList().ElementAt(i).Id.ToString()'   class='tooltip denuncia-tooltip'> <form action='' id='form-denuncia-@Model.ToList().ElementAt(i).IdProducto.ToString()_@Model.ToList().ElementAt(i).Id.ToString()' method='post' enctype='multipart/form-data'><div class='denuncia-text-container'><div class='clear'></div><div class='denuncia-aviso'><p class='denuncia-aviso-titulo'>Importante</p><p>Reporte de precio caro <b>no reemplaza el informe de condiciones más ventajosas</b>que se requiere para comprar por un mecanismo de compra alternativa a convenio marco.</p></div><div class='denuncia-text'> <textarea id='denuncia_obs_@Model.ToList().ElementAt(i).IdProducto.ToString()_@Model.ToList().ElementAt(i).Id.ToString()' name='denuncia' style='width:90%;height:20px'></textarea><div ></div><div id='denuncia-enviar' class='denuncia-btn-enviar' onclick='denunciar(@Model.ToList().ElementAt(i).IdProducto.ToString(),@Model.ToList().ElementAt(i).Id.ToString(),@Model.ToList().ElementAt(i).IdConvenio.ToString());'></div></div></div></form></div>">¿Precio caro?</a>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $('#tooltip_@Model.ToList().ElementAt(i).IdProducto.ToString()_@Model.ToList().ElementAt(i).Id.ToString()').tooltipster(
                                    {
                                        interactive: true,
                                        theme: 'tooltipster-shadow'
                                    }
                                    );
                                });
                            </script>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    }
}