﻿<div style="font-size: 8.5px;">
    
    <div class="menu_tiendas_listas">
        <div class="menu_tienda_listas_1">
            <table style="width: 100%">
                <tr>
                                  
                    <td valign="top" style="padding-bottom: 55px; width: 30%" colspan="3">
                    {{#.}}    
                        <ul class="izq mediano negrita size" id='n2_{{Id}}' style="padding-bottom:55px;height:auto">
                            <li class="subr"  id='n2_detalle_{{Id}}' style="cursor: pointer" onclick="despliegeCategoriasN3({{Id}});">
                                <!--<img src="/ChileCompraExpress.Web/Content/Estilos/Imagenes/Iconos/ic_bullet1.png" alt="" />
                                <span id='n2_{{Id}}' class="izq mediano negrita size" onclick="despliegeCategoriasN3({{Id}});"></span>-->
                                {{Nombre}}
                            </li> 
                            
                        </ul>
                        
                    {{/.}}
                    </td>
                    
                </tr>
            </table>
        </div>
    </div>
    
</div>
