﻿
{{#.}}
<div class="azul contenedor2 mediano negrita menu_tienda_listas_desp" onclick="despliegeCategorias('productos',{{Id}});">
    <div style="width: 16px; float: left;">
        <img style="cursor:pointer" alt="" src="Content/Estilos/Imagenes/botones/btn_mas.png" id="btn_lista_desp_{{Id}}" class="btn_lista_despClass" />
    </div>
    <div style="margin-left: 15px;">
        <label style="cursor:pointer" id="{{Id}}">{{Nombre}}</label>
    </div>
</div>
<div id="despliegue_nivel2_{{Id}}" class="despliegue_nivel2Class" style="overflow:hidden; display:none;" >

</div>
{{/.}}