/* RadWindow for ASP.NET AJAX Default Skin */

/* Window Background */

/* Horiznotal */
.RadWindow_radwindow .rwTopLeft, .RadWindow_radwindow .rwTopRight, .RadWindow_radwindow .rwTitlebar, .RadWindow_radwindow .rwFooterLeft, .RadWindow_radwindow .rwFooterRight, .RadWindow_radwindow .rwFooterCenter, .RadWindow_radwindow .rwTopResize, .RadWindow_radwindow .rwStatusbar div, .RadWindow_radwindow .rwStatusbar, .RadWindow_radwindow .rwPopupButton, .RadWindow_radwindow .rwPopupButton span, .RadWindow_radwindow.rwMinimizedWindow .rwCorner
{
    background-image: url('../Imagenes/RadWindow/WindowHorizontalSprites.gif');
}


/* Vertical */
.RadWindow_radwindow .rwBodyLeft,
.RadWindow_radwindow .rwBodyRight,
.RadWindow_radwindow .rwStatusbarRow .rwCorner
{
	background-image: url('../Imagenes/RadWindow/WindowVerticalSprites.gif')!important;
}

/* Window Shadows */

/* Horiznotal */
.RadWindow_radwindow .rwShadow .rwTopLeft,
.RadWindow_radwindow .rwShadow .rwTopRight,
.RadWindow_radwindow .rwShadow .rwTitlebar,
.RadWindow_radwindow .rwShadow .rwFooterLeft,
.RadWindow_radwindow .rwShadow .rwFooterRight,
.RadWindow_radwindow .rwShadow .rwFooterCenter,
.RadWindow_radwindow .rwShadow .rwTopResize,
.RadWindow_radwindow .rwShadow .rwStatusbar div,
.RadWindow_radwindow .rwShadow .rwStatusbar,
.RadWindow_radwindow .rwShadow .rwPopupButton,
.RadWindow_radwindow .rwShadow .rwPopupButton span,
.RadWindow_radwindow .rwShadow .rwBodyLeft,
.RadWindow_radwindow .rwShadow .rwBodyRight,
.RadWindow_radwindow .rwShadow .rwStatusbarRow .rwBodyLeft,
.RadWindow_radwindow .rwShadow .rwStatusbarRow .rwBodyRight
{
	background-image: url('../Imagenes/RadWindow/WindowHorizontalSpritesa.png') !important;
}

/* Vertical */
.RadWindow_radwindow .rwShadow .rwBodyLeft,
.RadWindow_radwindow .rwShadow .rwBodyRight,
.RadWindow_radwindow .rwShadow .rwStatusbarRow .rwBodyLeft,
.RadWindow_radwindow .rwShadow .rwStatusbarRow .rwBodyRight
{
	background-image: url('../Imagenes/RadWindow/WindowVerticalSpritesa.png')!important;
}

/* Shadows End */

.RadWindow_radwindow .rwStatusbar input
{
    background-color: #f7f7f7;
}

.RadWindow_radwindow .rwControlButtons a
{
    background-image: url('../Imagenes/RadWindow/CommandButtonSprites.gif')!important;
}

.RadWindow_radwindow a.rwIcon
{
	background-image: url('../Imagenes/RadWindow/WindowHorizontalSprites.gif')!important;
}

div.RadWindow_radwindow .rwTitlebarControls em
{
	color: black;
}

div.RadWindow_radwindow .rwDialogInput
{
	border-top: solid 1px #b2b2b2;
	border-right: solid 1px #e6e6e6;
	border-bottom: solid 1px #f0f0f0;
	border-left: solid 1px #ebebeb;
}

div.RadWindow_radwindow .rwDialogInput:hover
{
	border-top: solid 1px #bfbfbf;
	border-right: solid 1px #ebebeb;
	border-bottom: solid 1px #f2f2f2;
	border-left: solid 1px #ededed;
	color: #575757;
}

.RadWindow_radwindow td.rwWindowContent
{
    background-color: #ffffff;
}

/* Loading Indicators */
div.RadWindow_radwindow tr td.rwLoading
{
	background-color: #ffffff;
}

/* When ShowContentDuringLoad="true" */
.RadWindow_radwindow td.rwWindowContent.rwLoading
{
    background-image: url('../Imagenes/RadWindow/loading.gif')!important;
}

/* When ShowContentDuringLoad="false" */
.RadWindow_radwindow input.rwLoading
{
    background-image: url('../Imagenes/RadWindow/loading_small.gif')!important;
}

div.RadWindow_radwindow a.rwCancel,
div.RadWindow_radwindow a.rwCancel span
{
    background: none;
    cursor: pointer;
}

div.RadWindow_radwindow a.rwCancel span span
{
    color: #000000;
    text-decoration: underline;
}

/* Shadow Control Buttons */

.RadWindow_radwindow .rwShadow .rwControlButtons 
{
	margin: 5px -2px 0 0;
}

.RadWindow_radwindow .rwShadow .rwControlButtons 
{
	margin: 5px -1px 0 0\9;
}

/* ctrl buttons when winodw is minimized */
.RadWindow_radwindow.rwMinimizedWindowShadow .rwShadow .rwControlButtons 
{
	margin: 7px -8px 0 0;
}

/* Icon when winodw is minimized */
.RadWindow_radwindow.rwMinimizedWindowShadow .rwShadow .rwIcon 
{
	margin: 9px 6px 0 0;
}

/*title buttons when winodw is minimized */
.RadWindow_radwindow.rwMinimizedWindowShadow .rwShadow em 
{
	margin: 4px 0 0 -1px;
}

.RadWindow_radwindow .rwShadow .rwControlButtons li
{
	float: left;
	padding: 0;
}

.RadWindow_radwindow .rwShadow .rwControlButtons a
{
	width: 26px; 
}

.rwInactiveWindow .rwShadow .rwTopLeft,
.rwInactiveWindow .rwShadow .rwTopRight,
.rwInactiveWindow .rwShadow .rwTitlebar,
.rwInactiveWindow .rwShadow .rwFooterLeft,
.rwInactiveWindow .rwShadow .rwFooterRight,
.rwInactiveWindow .rwShadow .rwFooterCenter,
.rwInactiveWindow .rwShadow .rwTopResize,
.rwInactiveWindow .rwShadow .rwStatusbar div,
.rwInactiveWindow .rwShadow .rwStatusbar,
.rwInactiveWindow .rwShadow .rwPopupButton,
.rwInactiveWindow .rwShadow .rwPopupButton span,
.rwInactiveWindow .rwShadow.rwMinimizedWindow .rwCorner,
.RadWindow_radwindow.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTopLeft,
.RadWindow_radwindow.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTitlebar,
.RadWindow_radwindow.rwNoTitleBar.rwInactiveWindow .rwShadow .rwTopRight,
.RadWindow_radwindow.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterLeft,
.RadWindow_radwindow.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterCenter,
.RadWindow_radwindow.rwNoTitleBar.rwInactiveWindow .rwShadow .rwFooterRight
{
    background-image: url('../Imagenes/RadWindow/WindowHorizontalSprites.gif') !important;
}

.rwInactiveWindow .rwShadow .rwBodyLeft,
.rwInactiveWindow .rwShadow .rwBodyRight,
.rwInactiveWindow .rwShadow .rwStatusbarRow .rwCorner,
.RadWindow_radwindow.rwNoTitleBar.rwInactiveWindow .rwShadow .rwBodyLeft,
.RadWindow_radwindow.rwNoTitleBar.rwInactiveWindow .rwShadow .rwBodyRight
{
	background-image: url('../Imagenes/RadWindow/WindowVerticalSprites.gif') !important;
}


