.rtLoading.RadToolTip_tooltip
{
    background: url('Common/loading.gif') no-repeat center;
}
.RadToolTip_tooltip .rtWrapper .rtWrapperTopLeft
{
    background-image: url('ToolTip/ToolTipSprites.png');
}
.RadToolTip_tooltip .rtWrapper .rtWrapperTopRight {
	background-image: url('ToolTip/ToolTipSprites.png');
}
.RadToolTip_tooltip .rtWrapper .rtWrapperBottomLeft {
	background-image: url('ToolTip/ToolTipSprites.png');
}
.RadToolTip_tooltip .rtWrapper .rtWrapperBottomRight {
	background-image: url('ToolTip/ToolTipSprites.png');
}
.RadToolTip_tooltip .rtWrapper .rtWrapperTopCenter {
	background-image: url('ToolTip/ToolTipSprites.png');
}
.RadToolTip_tooltip .rtWrapper .rtWrapperBottomCenter {
	background-image: url('ToolTip/ToolTipSprites.png');
}
.RadToolTip_tooltip table.rtShadow .rtWrapperTopLeft {
	background-image: url('ToolTip/ToolTipSprites.png');
}
.RadToolTip_tooltip table.rtShadow .rtWrapperTopRight {
	background-image: url('ToolTip/ToolTipSprites.png');
}
.RadToolTip_tooltip table.rtShadow .rtWrapperBottomLeft {
	background-image: url('ToolTip/ToolTipSprites.png');
}
.RadToolTip_tooltip table.rtShadow .rtWrapperBottomRight {
	background-image: url('ToolTip/ToolTipSprites.png');
}
.RadToolTip_tooltip table.rtShadow .rtWrapperTopCenter {
	background-image: url('ToolTip/ToolTipSprites.png');
}
.RadToolTip_tooltip table.rtShadow .rtWrapperBottomCenter {
	background-image: url('ToolTip/ToolTipSprites.png');
}
.RadToolTip_tooltip .rtCloseButton
{
    background-image: url('../Imagenes/botones/btn_cerrar1.png');
}
.RadToolTip_tooltip .rtCloseButton:hover
{
    background-image: url('../Imagenes/botones/btn_cerrar1a.png');
}



.RadToolTip_tooltip .rtWrapper .rtWrapperLeftMiddle {
	background-image: url('ToolTip/ToolTipVerticalSprites.png');
}
.RadToolTip_tooltip .rtWrapper .rtWrapperRightMiddle {
	background-image: url('ToolTip/ToolTipVerticalSprites.png');
}
.RadToolTip_tooltip table.rtShadow .rtWrapperLeftMiddle {
	background-image: url('ToolTip/ToolTipVerticalSprites.png');
}
.RadToolTip_tooltip table.rtShadow .rtWrapperRightMiddle {
	background-image: url('ToolTip/ToolTipVerticalSprites.png');
}
.RadToolTip_tooltip .rtWrapper .rtWrapperContent {
	color: rgb(51, 51, 51); background-color: white;  
}
.RadToolTip_tooltip .rtTitlebar{
    color: #b814c2;
}
.RadToolTip_tooltip .rtCallout {
	background-image: url('ToolTip/Callouts.gif');
}

div.RadToolTip a.rtCloseButton
{
    width:20px !important;
    height:20px !important;
    right:1px;
    line-height:1px;
    text-indent:-999px;
    font-size:1px;
    margin-top:3px;
    margin-right:3px;
    float:right;
    display:block;
    position:absolute;
    outline-width:medium;
    outline-style:none;
    outline-color:invert;
    background-repeat:no-repeat;
    background-position-x:0px;
    background-position-y:0px;
    }
.TelerikModalOverlay
{
    background-color:#000 !important;
    filter:progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=80) !important;
    }
